
{% extends "base.html" %}

{% block title %}{{context.notFoundPageTittle}}{% endblock %}

{% block app %}
<div class="HeaderArea" id="HeaderArea">
    <div class="big-text">{{context.notFoundHeaderText}}</div>
    <div class="small-text">{{context.notFoundSubHeaderText}}</div>
    <div class="gohome-button-container">
        <a onclick="swapApp('/')"><button class="gohome-button" type="button">
          <strong><i class="bi bi-house-door-fill"></i> {{context.notFoundButtonText}}</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>

          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button></a>
    </div>
</div>
{% endblock app %}