<!-- _nav.html -->

{% load static %}
{% load transnav %}
{% load user_info %}

<nav class="navbar">
    <div class="logo-container"><a class="navbar-item" onclick="swapApp('/dashboard')">
      <div class="logo">
        <img src="{% static "assets/logo.png" %}" alt="IndianPong Logo" width="48" height="48">
        IndianPong
      </div></a>
  </div>
    <ul class="nav-links">
    {% transnav as tn %}
    {% user_info as user_info %}
      <li><a class="navbar-item" onclick="swapApp('/dashboard')" id="dashboardText"><i class="bi bi-house-door-fill"></i>{{tn.0}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/chat')" id="chatText"><i class="bi bi-chat-fill"></i>{{tn.1}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/pong-game-find')" id="pongGameText"><i class="bi bi-play-circle-fill"></i>{{tn.2}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/rps-game-find')" id="rpsGameText"><i class="bi bi-scissors"></i>{{tn.3}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/rankings')" id="rankingText"><i class="bi bi-bar-chart-fill"></i>{{tn.4}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/store/{{ user_info.username }}')" id="storeText"><i class="bi bi-basket2"></i>{{tn.5}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/search')" id="searchText"><i class="bi bi-search"></i>{{tn.6}}</a></li>
      <li><a class="navbar-item" onclick="swapApp('/about-us')" id="aboutUsText"><i class="bi bi-person-raised-hand"></i>{{tn.7}}</a></li> 
      <li class="notification-menu">
      <div class="notification-icon" style="margin-top: 5px; color: tomato">
          <i class="bi bi-flag-fill"></i>
      </div>
      <div class="notification-submenu">
        <form id="language-form" method="post">
          {% csrf_token %}
          <a class="navbar-item" onclick="setLanguage('tr')">
              <img style="margin-right: 5px;" src="{% static "assets/flags/turkey.png" %}" alt="Türkçe">
              <span id="turkeyText" style="margin-top: 3px;">Türkçe</span>
          </a>
          <a class="navbar-item" onclick="setLanguage('hi')">
              <img style="margin-right: 5px;" src="{% static "assets/flags/hindi.png" %}" alt="हिंदी">
              <span id="indianText" style="margin-top: 3px;">हिंदी</span>
          </a>
          <a class="navbar-item" onclick="setLanguage('en')">
              <img style="margin-right: 5px;" src="{% static "assets/flags/english.png" %}" alt="English">
              <span id="englishText" style="margin-top: 3px;">English</span>
          </a>
          <a class="navbar-item" onclick="setLanguage('pt')">
              <img style="margin-right: 5px;" src="{% static "assets/flags/portugal.png" %}" alt="Português">
              <span id="portugalText" style="margin-top: 3px;">Português</span>
          </a>
        </form>
      </div>
    </li>
      <li class="profile-menu">  
        <div class="profile-image">
          <img src="{{user_info.avatar}}" alt="Profile Image" width="48" height="48" {% if user_info.is_playing %} style="border: 3px solid #ffa600" {% else %} style="border: 3px solid #4CAF4F"{% endif %}>
        </div>
        <div class="profile-submenu">
          <a class="navbar-item" onclick="swapApp('/profile/{{user_info.username}}')" class="submenu-item" id="profileText"><i class="bi bi-person-fill" ></i>{{tn.8}}</a>
          <a class="navbar-item" onclick="swapApp('/friends/{{user_info.username}}')" class="submenu-item" id="friendsText"><i class="bi bi-people-fill"></i>{{tn.9}}</a>
          <a class="navbar-item" onclick="swapApp('/profile/{{user_info.username}}/settings')" class="submenu-item" id="profileSettingsText"><i class="bi bi-gear-fill"></i>{{tn.10}}</a> 
          <a class="navbar-item" href="/logout" class="submenu-item" id="logoutText"><i class="bi bi-box-arrow-right"></i>{{tn.11}}</a>
        </div>
      </li>
    </ul>
    <div class="burger-menu">&#9776;</div>
  </nav>
  {% if not request.user.is_anonymous %}
  <script type="module" src="{% static "js/burger.js" %}"></script>
  <script>
    window.onload = function () {
      initializeBurger();
    }

    var socket = new WebSocket('wss://' + window.location.host + '/ws/online_status/');

    socket.onopen = function(e) {
        console.log('User is connected');
    };

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var status = data['status'];
        if (status === 'online') {
            console.log('User is online');
        }
    };
    function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                 }
  
    const selectedLanguage = getCookie('selectedLanguage');

    </script>
  {% endif %}
