{% load static %}

<nav class="navbar">
    <div class="logo-container"><a href="/dashboard" data-link>
      <div class="logo">
        <img src="{% static "assets/logo.png" %}" alt="IndianPong Logo" width="48" height="48">
        IndianPong
      </div></a>
  </div>
    <ul class="nav-links">
            <li><a href="/dashboard" data-link><i class="bi bi-house-door-fill"></i>Dashboard</a></li>
            <li><a href="/game" data-link><i class="bi bi-play-circle-fill"></i>Game</a></li>
            <li><a href="/chat" data-link><i class="bi bi-chat-fill"></i>Chat</a></li>
            <li><a href="/rankings" data-link><i class="bi bi-bar-chart-fill"></i>Rankings</a></li>
            <li><a href="/search" data-link><i class="bi bi-binoculars-fill"></i>Search</a></li>
            {% comment %} <li><a href="/profile/{{username}}" data-link><i class="bi bi-person-fill"></i>Profile</a></li> {% endcomment %}
            <li class="profile-menu">
              <div class="profile-image">
                <img src="{% static "assets/profile/profilephoto.jpeg" %}" alt="Profile Image" width="48" height="48">
              </div>
              <div class="profile-submenu">
                <a href="/profile/{{username}}" data-link><i class="bi bi-person-fill"></i>Profile</a>
                <a href="/profile/{{username}}/settings" data-link><i class="bi bi-gear-fill"></i>Settings</a> 
                <a href="/logout" data-link><i class="bi bi-box-arrow-right"></i>Logout</a>
              </div>
            </li>
        </ul>
    <div class="burger-menu">&#9776;</div>
  </nav>