<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{context.basePageTittle}}{% endblock  %}</title>
<link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/scrollbar.css" %}">
        <link rel="stylesheet" href="{% static "css/modal.css" %}">
        <link rel="stylesheet" href="{% static "css/register.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        <script type="module" src="{% static "js/navigation.js" %}"></script>
        {% block stylesheet %}{% endblock %}
            </head>
    <body>
            <div id="loading-bar-container">
                <div id="loading-bar"></div>
            </div>

{% comment %}             <div class="progress-bar">
                <div class="progress-bar-fill"></div>
            </div> {% endcomment %}

            <div class="backgroundimage">
                {% if request.user.is_authenticated %}
                    {% include "_nav.html" %}
                {% endif %}
                
                    {% if not request.user.is_authenticated %}
                        <div class="top-nav-infos">
                            <div class="info-menu">
                                <div class="info-icon" style="margin-top: 25px; color: tomato; margin-right: 3em;">
                                    <i class="bi bi-info-circle-fill" data-bs-toggle="modal" data-bs-target="#exampleModal1"></i>
                                </div>
                            </div>

                            <div class="language-menu">
                                <div class="notification-icon" style="margin-top: 25px; color: tomato; margin-right: 3em;">
                                    <i class="bi bi-flag-fill"></i>       
                                </div>
                                <div class="language-submenu">
                                        {% csrf_token %}
                                        <a class="language-item" onclick="setLanguage('tr')">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/turkey.png" %}" alt="Türkçe">
                                            <span style="margin-top: 3px;">Türkçe</span>
                                        </a>
                                        <a class="language-item" onclick="setLanguage('hi')">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/hindi.png" %}" alt="हिंदी">
                                            <span style="margin-top: 3px;">हिंदी</span>
                                        </a>
                                        <a class="language-item" onclick="setLanguage('en')">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/english.png" %}" alt="English">
                                            <span style="margin-top: 3px;">English</span>
                                        </a>
                                        <a class="language-item" onclick="setLanguage('pt')">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/portugal.png" %}" alt="Português">
                                            <span style="margin-top: 3px;">Português</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% block app %}
                    <div class="app" id="app">
                        <div class="cursor">
                            <div class="container">
                                <div class="HeaderArea" id="HeaderArea">
                                    <div class="big-text">{{context.baseHeaderText}}</div>
                                    <div class="small-text">{{context.baseSubHeaderText}}</div>
                                    <a onclick="swapApp('/login')"><button type="button" class="PixellButton">{{context.basePlayButtonText}}</button></a>
                                </div>
                            </div>
                        </div>
                        
                    {% endblock %}
                    </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fs-4" style="color: #F99601;" id="exampleModalLabel">{{context.baseInfoHeaderText}}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{context.baseInfoHeaderDescription}}</p>
    
                            <h3>{{context.baseInfoSubHeaderText}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription1}}</p>
                            <p>{{context.baseInfoSubHeaderDescription2}}</p>

                            <h3>{{context.baseInfoSubHeaderText2}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription3}}</p>

                            <h3>{{context.baseInfoSubHeaderText3}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription4}}</p>
                            <p>{{context.baseInfoSubHeaderDescription5}}</p>
                            <p>{{context.baseInfoSubHeaderDescription6}}</p>
                        </div>
                    </div>
                </div>
            </div>            
            <script>
                var animationId;
                var localTournamentAnimationId;
                var localGameAnimationId;

                function setLanguage(language) {
                  document.cookie = "selectedLanguage=" + language;
                  
                  swapApp(window.location.pathname);
                }
                function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                }
                


                function showToast(content, status, iconClass) {
                  const liveToast = document.getElementById('liveToast');
                  var toastContent = document.querySelector('#liveToast .fw-semibold');
                  var toastIcon = document.querySelector('.toast-body .i-class i');
                
                
                  toastIcon.className = iconClass;
                  liveToast.classList.remove('text-bg-danger'); 
                  liveToast.className = 'toast'; 
                  liveToast.classList.add(status);
                
                  toastContent.textContent = content;
                  const toast = new bootstrap.Toast(liveToast);
                  toast.show();
                  setTimeout(function() {
                      toast.hide();
                  }, 8000);
                }

            </script>
    </body>
</html>
