<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{context.basePageTittle}}{% endblock  %}</title>
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        {% comment %} <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> {% endcomment %}
        {% comment %} <link href="{% static "css/fonts/bootstrap-icons.css" %}" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/scrollbar.css" %}">
        <link rel="stylesheet" href="{% static "css/modal.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
            <div class="backgroundimage">
                {% if not request.user.is_anonymous %}
                    {% include "_nav.html" %}
                {% endif %}
                <div class="app" id="app" >
                    {% if not user.is_authenticated %}
                        <div class="top-nav-infos">
                            <div class="info-menu">
                                <div class="info-icon" style="margin-top: 25px; color: rgb(255, 140, 0); margin-right: 3em;">
                                    <i class="bi bi-info-circle-fill" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                </div>
                            </div>

                            <div class="language-menu">
                                <div class="notification-icon" style="margin-top: 25px; color: rgb(255, 140, 0); margin-right: 3em;">
                                    <i class="bi bi-flag-fill"></i>       
                                </div>
                                <div class="language-submenu">
                                    <form id="language-form" method="post" action="{% url 'set_language' %}">
                                        {% csrf_token %}
                                        <a href="#" onclick="setLanguage('tr'); return false;">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/turkey.png" %}" alt="Türkçe">
                                            <span style="margin-top: 3px;">Türkçe</span>
                                        </a>
                                        <a href="#" onclick="setLanguage('hi'); return false;">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/hindi.png" %}" alt="हिंदी">
                                            <span style="margin-top: 3px;">हिंदी</span>
                                        </a>
                                        <a href="#" onclick="setLanguage('en'); return false;">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/english.png" %}" alt="English">
                                            <span style="margin-top: 3px;">English</span>
                                        </a>
                                        <a href="#" onclick="setLanguage('pt'); return false;">
                                            <img style="margin-right: 5px;" src="{% static "assets/flags/portugal.png" %}" alt="Português">
                                            <span style="margin-top: 3px;">Português</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% block app %}
                        <div class="cursor">
                            <div class="container">
                                <div class="HeaderArea" id="HeaderArea">
                                    <div class="big-text">{{context.baseHeaderText}}</div>
                                    <div class="small-text">{{context.baseSubHeaderText}}</div>
                                    <a href="/login" data-link><button type="button" class="PixellButton">{{context.basePlayButtonText}}</button></a>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fs-4 text-info" id="exampleModalLabel">{{context.baseInfoHeaderText}}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{context.baseInfoHeaderDescription}}</p>
    
                            <h3>{{context.baseInfoSubHeaderText}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription1}}</p>
                            <p>{{context.baseInfoSubHeaderDescription2}}</p>

                            <h3>{{context.baseInfoSubHeaderText2}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription3}}</p>

                            <h3>{{context.baseInfoSubHeaderText3}}</h3>
                            <p>{{context.baseInfoSubHeaderDescription4}}</p>
                            <p>{{context.baseInfoSubHeaderDescription5}}</p>
                            <p>{{context.baseInfoSubHeaderDescription6}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            function setLanguage(language) {
            var form = document.getElementById('language-form');
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'language';
            input.value = language;
            form.appendChild(input);
            form.submit();
        }
        </script>
        {% comment %} <script src="{% static "js/bootstrap.min.js" %}"></script> {% endcomment %}
    </body>
</html>
