{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{context.chatPageTittle}}
{% endblock %}

{% block app %}
  <link rel="stylesheet" href="{% static "css/chat.css" %}"/>
  <div class="container-top">
    <div class="card">
      <section class="chat-section">
        <div class="chat-container">
          <!-- start: Sidebar -->
          <aside class="chat-sidebar">
            <ul class="chat-sidebar-menu">
              <li class="active">
                <a href="#" data-title="{{context.chatDMText}}"><i class="bi bi-chat-square-fill"></i></a>
              </li>
            </ul>
          </aside>
          <!-- end: Sidebar -->
          <!-- start: Content -->
          <div class="chat-content">
            <!-- start: Content side -->
            <div class="content-sidebar">
              <div class="content-sidebar-title">{{context.chatHeaderText}}</div>
              <div class="content-messages">
                <ul class="content-messages-list">
                  <li class="content-message-title">
                    <span>{{context.chatRecentlyText}}</span>
                  </li>
                  {% for user in users %}
                      <li>
                        <a href="{% url 'start_chat' user %}" data-link>
                          <img class="content-message-image" src="{{ user.avatar.url }}" alt="" />
                          
                          <span class="content-message-info">
                            <span class="content-message-name">{{ user }}</span>
                          </span>
                        </a>
                      </li>
                  {% endfor %}
                </div>
              </div>
              {% block diff %}
                  <!-- end: Content side -->
                  <!-- start: Conversation -->
                  <div class="conversation conversation-default active">
                    <i class="bi bi-chat-square"></i>
                    <p>{{context.chatContainerSelectText}}</p>
                  </div>
                </div>
                <!-- end: Content -->
              </div>

            {% endblock diff %}
      </section>
    </div>
  </div>
{% endblock %}