{% extends 'base.html' %}

{% block title %}
  Chat
{% endblock %}

{% block app %}
  <link rel="stylesheet" href="../../static/css/chat.css" />
  {% include "_nav.html" %}
  <div class="container-top">
    <div class="card">
      <section class="chat-section">
        <div class="chat-container">
          <!-- start: Sidebar -->
          <aside class="chat-sidebar">
            <a href="#" class="chat-sidebar-logo"><i class="bi bi-discord"></i></a>
            <ul class="chat-sidebar-menu">
              <li class="active">
                <a href="#" data-title="DM"><i class="bi bi-chat-square-fill"></i></a>
              </li>
              <li>
                <a href="#" data-title="Room"><i class="bi bi-chat-square-quote-fill"></i></a>
              </li>
              <li>
                <a href="#" data-title="Settings"><i class="bi bi-gear-fill"></i></a>
              </li>
              <li class="chat-sidebar-profile">
                <button type="button" class="chat-sidebar-profile-toggle"><i class="bi bi-person-circle" style="font-size: 24px; color: #059669;"></i></button>
                <ul class="chat-sidebar-profile-dropdown">
                  <li>
                    <a href="#"><i class="bi bi-person-fill"></i> Profile</a>
                  </li>
                  <li>
                    <a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
          <!-- end: Sidebar -->
          <!-- start: Content -->
          <div class="chat-content">
            <!-- start: Content side -->
            <div class="content-sidebar">
              <div class="content-sidebar-title">Chats</div>
              <form action="" class="content-sidebar-form">
                <input type="search" class="content-sidebar-input" placeholder="Search..." />
                <button type="submit" class="content-sidebar-submit"><i class="bi bi-search"></i></button>
              </form>
              <div class="content-messages">
                <ul class="content-messages-list">
                  <li class="content-message-title">
                    <span>Recently</span>
                  </li>
                  {% for user in  users %}
                      <li>
                        <a href="{% url 'start_chat' user %}" data-link>
                          <img class="content-message-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="" />
                          <span class="content-message-info">
                            <span class="content-message-name">{{ user }}</span>
                          </span>
{% comment %}                           <span class="content-message-more">
                            <span class="content-message-unread">5</span>
                            <span class="content-message-time">12:30</span>
                          </span> {% endcomment %}
                        </a>
                      </li>
                  {% endfor %}

              </div>
            </div>
            <!-- end: Content side -->
            <!-- start: Conversation -->
            <div class="conversation conversation-default active">
              <i class="bi bi-chat-square"></i>
              <p>Select chat and view conversation!</p>
            </div>
          </div>
          <!-- end: Content -->
        </div>
      </section>
    </div>
  </div>
{% endblock %}