{% extends "base.html" %}

{% block title %}{{context.dashboardPageTittle}}{% endblock title %}

{% block app %}

<div class="container-top">
  <div class="dashboard-card">
    <div class="page-rotation">
      <h1>{{context.dashboardText1}}<span style="color: orange;">{{ profile.username }}!</span></h1>
      <p>
        {{context.dashboardText2}}
      </p>
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-blue order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardGamesPlayed}}</h6>
              <h2 class="text-right">
                <i class="bi bi-dice-1-fill"></i><span>{% if profile.game_stats_pong.total_games_pong %} {{ profile.game_stats_pong.total_games_pong }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardWinCount}}</h6>
              <h2 class="text-right">
                <i class="bi bi-trophy-fill"></i><span>{% if profile.game_stats_pong.total_win_pong %} {{ profile.game_stats_pong.total_win_pong }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-yellow order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardWinStreak}}</h6>
              <h2 class="text-right">
                <i class="bi bi-emoji-wink-fill"></i><span>{% if profile.game_stats_pong.total_win_streak_pong %} {{ profile.game_stats_pong.total_win_streak_pong }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardLoseStreak}}</h6>
              <h2 class="text-right">
                <i class="bi bi-emoji-frown-fill"></i><span> {% if profile.game_stats_pong.total_lose_streak_pong %} {{ profile.game_stats_pong.total_lose_streak_pong }} {% else %} 0 {% endif %} </span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-gold order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardWinRate}} %</h6>
              <h2 class="text-right">
                <i class="bi bi-award-fill"></i><span> {% if profile.game_stats_pong.formatted_win_rate %} {{ profile.game_stats_pong.formatted_win_rate }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-navy order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardAverageGameDuration}}</h6>
              <h2 class="text-right">
                <i class="bi bi-clock-fill"></i>
                <span class="big">{% if profile.game_stats_pong.formatted_game_duration %} {{ profile.game_stats_pong.formatted_game_duration }} {% else %} 0 {% endif %}</span> 
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-light-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardAveragePointsWon}}</h6>
              <h2 class="text-right">
                <i class="bi bi-star-fill"></i><span>{% if profile.game_stats_pong.formatted_avg_points_won %} {{ profile.game_stats_pong.formatted_avg_points_won }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-purple order-card">
            <div class="card-block">
              <h6 class="m-b-20">{{context.dashboardAveragePointsLost}}</h6>
              <h2 class="text-right">
                <i class="bi bi-bucket-fill"></i><span> {% if profile.game_stats_pong.formatted_avg_points_lost %} {{ profile.game_stats_pong.formatted_avg_points_lost }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}