{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block app %}
  {% include "_nav.html" %}
<div class="container-top">
  <div class="dashboard-card">
    <div class="page-rotation">
      <h1>Welcome, <span style="color: orange;">{{ username }}!</span></h1>
      <p>
        Indian Pong is a collaborative project developed for the 42 school
        community, offering a nostalgic gaming experience through the classic
        Atari game, Ping-Pong. This platform allows users to engage in Ping-Pong
        matches with each other, fostering a sense of friendly competition. In
        addition to the gaming aspect, Indian Pong provides a social dimension,
        featuring chat rooms where users can communicate and connect with one
        another. The platform also enables users to expand their network by
        adding friends within the 42 school community. Overall, Indian Pong
        combines the joy of retro gaming with modern social interaction,
        creating a vibrant and interactive experience for the 42 school
        community.
      </p>
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-blue order-card">
            <div class="card-block">
              <h6 class="m-b-20">Games Played</h6>
              <h2 class="text-right">
                <i class="bi bi-dice-1-fill"></i><span>{% if games_played %} {{ games_played }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">Win Count</h6>
              <h2 class="text-right">
                <i class="bi bi-trophy-fill"></i><span>{% if win_count %} {{ win_count }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-yellow order-card">
            <div class="card-block">
              <h6 class="m-b-20">Win Streak</h6>
              <h2 class="text-right">
                <i class="bi bi-emoji-wink-fill"></i><span>{% if win_streak %} {{ win_streak }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Lose Streak</h6>
              <h2 class="text-right">
                <i class="bi bi-emoji-frown-fill"></i><span> {% if lose_streak %} {{ lose_streak }} {% else %} 0 {% endif %} </span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-gold order-card">
            <div class="card-block">
              <h6 class="m-b-20">Win Rate %</h6>
              <h2 class="text-right">
                <i class="bi bi-award-fill"></i><span> {% if win_rate %} {{ win_rate }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-navy order-card">
            <div class="card-block">
              <h6 class="m-b-20">Average Game Duration</h6>
              <h2 class="text-right">
                <i class="bi bi-clock-fill"></i>
                <span class="big">{% if average_game_duration %} {{ average_game_duration }} {% else %} 0 {% endif %}</span> <span class="small">min</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-light-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">Average Points Won</h6>
              <h2 class="text-right">
                <i class="bi bi-star-fill"></i><span>{% if average_points_won %} {{ average_points_won }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card-stat bg-c-purple order-card">
            <div class="card-block">
              <h6 class="m-b-20">Average Points Lost</h6>
              <h2 class="text-right">
                <i class="bi bi-bucket-fill"></i><span> {% if average_points_won %} {{ average_points_lost }} {% else %} 0 {% endif %}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
    <div class="toast text-bg-success" id="liveToast2" role="alert">
        <div class="toast-body">
            <div class="d-flex gap-4">
                <span class="i-class" style="margin-top: auto; margin-bottom:auto; font-size: 15px; margin-right: -10px"><i class="bi bi-check-circle-fill"></i></span>
                <div class="d-flex flex-grow-1 align-items-center">
                    <span class="fw-semibold">Login Success!</span>
                    <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
              // Toast'ı gösterme fonksiyonu
              function showToastSuccess() {
                  const liveToast2 = document.getElementById('liveToast2');
                  const toast1 = new bootstrap.Toast(liveToast2);
                  toast1.show();
                  setTimeout(function() {
                      toast1.hide();
                  }, 3000);
              }
              const urlParams = new URLSearchParams(window.location.search);
              const statusValue = urlParams.get('status');
              const isToastShown = localStorage.getItem('isToastShown'); // burası local storage'dan veri çekme
              if (statusValue === 'success' && !isToastShown) { // istoastshown nesnesi true değilse showtoast çalışsın dediğim koşul
                  localStorage.setItem('isToastShown', true); // burası logal storage'a veri ekleme
                  showToastSuccess();
              }
          });
</script>
{% endblock %}