{% extends 'base.html' %}

{% load static %}
{% load status %}

{% block title %}{{request.user.username}} - {{context.friendsPageTittle}}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/search.css" %}">
<link rel="stylesheet" href="{% static "css/friends-list.css" %}">
{% endblock stylesheet %}

{% block app %}
<div class="container-top">
    <div class="search-card">
        <div class="card-container-wrapper">
        <!-- Arama sonuçları -->
            {% for friend in friends %}
              <div class="card-containers">
                <div class="profile-card">
                    <div class="image">
                      {% is_user_online friend.username as friend_is_online %}
                      {% is_user_playing friend.username as friend_is_playing %}
                        <a href="/profile/{{friend.username}}"><img src="{{friend.avatar.url}}" alt="" class="profile-img {% if person_is_playing %}playing{% elif person_is_online %}online{% else %}offline{% endif %}"/></a>
                    </div>
                    <div class="text-data">
                      <span class="name">{{friend.username}}</span>
                      <span class="job">{{friend.displayname}}</span>
                    </div>
                    <div class="media-buttons">
                      {% if friend.social.linkedin %}
                      <a href="https://www.linkedin.com/in/{{friend.social.linkedin}}" target="_blank" class="medialinks instagram"><i class="bi bi-linkedin"></i></a>
                      {% endif %}
                      {% if friend.social.twitter %}
                        <a href="https://x.com/{{friend.social.twitter}}" target="_blank" class="medialinks twitterx"><i class="bi bi-twitter-x"></i></a>
                      {% endif %} 
                      {% if friend.social.intra42 %}
                        <a href="https://profile.intra.42.fr/users/{{friend.social.intra42}}" target="_blank" class="medialinks stackoverflow"><img src="{% static "assets/intra-42-white.svg" %}"></a>
                      {% endif %}
                      {% if friend.social.github %}
                        <a href="https://github.com/{{friend.social.github}}" target="_blank" class="medialinks github"><i class="bi bi-github"></i></a>
                      {% endif %}
                      
                                
                    </div>
                    {% if not friend.social.stackoverflow and not friend.social.twitter and not friend.social.github and not friend.social.instagram %}
                      <div class="buttons" style="margin-top: 60px !important;">
                        <button class="button-message"><i class="bi bi-chat-right-dots-fill"></i> {{context.friendsMessageButtonText}}</button> 
                      </div>
                    {% else %}
                      <div class="buttons">
                        <button class="button-message"><i class="bi bi-chat-right-dots-fill"></i> {{context.friendsMessageButtonText}}</button>
                      </div>
                    {% endif %}
                      <div class="analytics">
                        <div class="data">
                          <i class="bi bi-dice-1-fill" style="color: #FF5733;"></i>
                          <span class="number">{% if friend.game_stats.total_games_pong %} {{friend.game_stats.total_games_pong}} {% else %} 0 {% endif %}</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-trophy-fill" style="color: #FFD601;"></i>
                          <span class="number">{% if friend.game_stats.total_win_pong %} {{friend.game_stats.total_win_pong}} {% else %} 0 {% endif %}</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-award-fill" style="color: #4CAF4F;"></i>
                          <span class="number">{% if friend.game_stats.formatted_win_rate %} {{friend.game_stats.formatted_win_rate}} {% else %} 0% {% endif %}</span>
                        </div>
                      </div>
                </div>
              </div>
              {% empty %}
              <p style="color:orange; font-weight:bold; text-align: center;">{{context.friendsNoResultFoundText}}</p>
              {% endfor %}
            </div>
            <nav aria-label="Page navigation example " class="mt-4">
              <ul class="pagination justify-content-center">
                  <li class="page-item {% if not friends.has_previous %}disabled{% endif %}">
                      <a class="page-link" href="{% if friends.has_previous %}?page={{ friends.previous_page_number }}{% endif %}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% for page_num in friends.paginator.page_range %}
                    <li class="page-item {% if page_num == friends.number %}active{% endif %}">
                      <a class="page-link page-link-friends" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                  {% endfor %}
                  <li class="page-item {% if not friends.has_next %}disabled{% endif %}">
                      <a class="page-link" href="{% if friends.has_next %}?page={{ friends.next_page_number }}{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
          
        </div>
    </div>
</div>
</div>

{% endblock app %}