{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Indian-Pong{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-icons.css" %}" rel="stylesheet">

</head>

<body>

    <div class="snow-class">
        <div class="backgroundimage">

            <div class="app" id="app">
                {% block app %}
                <div class="cursor">
                    <div class="container">
                <div class="HeaderArea" id="HeaderArea">
                <div class="big-text">Indian-Pong</div>
                <div class="small-text">Indian-Pong created for 42 school by Indian Dev!</div>
                <a href="/login" data-link><button type="button" class="PixellButton">Get Started!</button></a>
            </div>
            </div>
            </div>
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    
</body>

</html>
