{% extends 'base.html' %}

{% block title %}{{ username }} Inventory{% endblock title %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="../../../static/css/inventory.css">{% endblock stylesheet %}

{% block app %}
  {% include "_nav.html" %}
  <div class="container-top">
    <div class="inventory-card">
      
       <div class="top-inventory">
        <div class="inventory-left">
          <h3>{{username}} / Inventory</h3>
        </div>
        <div class="inventory-mid">
            <div class="category-field">
              <h5 class="category-text"><a href="?category_name=All">#All</a></h5>
            </div>
            <div class="category-field">
              <h5 class="category-text"><a href="?category_name=Pong">#Pong</a></h5>
            </div>
            <div class="category-field">
              <h5 class="category-text"><a href="?category_name=RPS">#RPS</a></h5>
            </div>
          </div>
        <div class="inventory-mid-right">
          <div class="inventory-field">
            <h5 class="inventory-text"><a href="/store/{{username}}"><i class="bi bi-shop"></i></a></h5>
          </div>
        </div>
        <div class="top-inventory-card">
          <div class="inventory-right">
                <i class="bi bi-piggy-bank-fill flip-horizontal"></i> 
                <div class="inventory-text-fields">
                  <span class="small-wallet-name">Wallet:</span>
                  <span class="wallet-amount">{{profile.indian_wallet}}N₩</span>
                </div>
          </div>
        </div>
      </div>
      
      <div class="inventory-info">
        <span class="tooltiptext">Oyun oynayarak <span style="font-weight: bold;">N₩</span> kazanabilirsin.</span>
      </div>
        <div class="inventory-list">

          
                {% for item in inventory_items %}         
                <div class="modal fade" id="setPropertyModal" tabindex="-1" aria-labelledby="setPropertyModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                        <form id="store_item_form{{ item.id }}" method="POST">
                          {% csrf_token %}
                          <div class="modal-header">
                              <h5 class="modal-title" id="setPropertyModalLabel">Özelliği Ayarla</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" id="modalBody">         
                              <input type="hidden" id="itemNameInput" name="name">
                              <input type="hidden" name="action" value="customize">                 
                              <div id="propertyContent">
                                  <!-- Dinamik olarak içerik buraya eklenecek -->
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                              <button type="button" class="btn btn-primary" onclick="saveProperty(`{{item.id}}`)">Kaydet</button>
                          </div>
                        </div>
                    </form>
                  </div>
              </div>
              <div class="product-card">
                <img src="{% static 'assets/stores/'|add:item.item.image_url %}" alt="" />
                <h2 class="card__title">{{ item.item.name }}</h2>
                <h4 {% if item.item.category_name == "Pong" %} class="card__category pong" {% elif item.item.category_name == "RPS" %} class="card__category rps" {% endif %}>
                  <a href="?category_name={{item.item.category_name}}">#{{ item.item.category_name }}</a>
                </h4>
                <span class="card__description">{{item.item.description}}</span>
                <div class="card__shop">
                  <span class="card__shop__price">{{item.item.price}}N₩</span>
                  {% if item.is_bought %}
                    {% if item.item.name == "My Playground" or item.item.name == "My Beautiful AI" or item.item.name == "My Beautiful Paddle" %}
                      <button class="card__shop__action-set" onclick="openSetPropertyModal(`{{item.item.name}}`)">
                        <i class="bi bi-gear-fill" style="color:white; font-size: 1.1em;"></i>
                      </button>
                    {% endif %}
                    <form id="store_item_form{{ item.item.name }}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="name" value="{{ item.item.name }}">
                      <input type="hidden" name="action" value="equip">
                      <input type="hidden" name="whatis" value="none">
                      <button class="card__shop__action-gear" onclick="submitStoreItemForm('{{ item.item.name }}', '{{item.id}}')" >
                        <i class="bi bi-backpack-fill" style="color:white; font-size: 1.1em;"></i>
                      </button>
                    </form>
                  {% endif %}
                </div>
              </div>         
          {% endfor %}


          
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">NULL</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<script>
function showToast(content, status, iconClass) {
    const liveToast = document.getElementById('liveToast');
    var toastContent = document.querySelector('#liveToast .fw-semibold');
    var toastIcon = document.querySelector('.toast-body .i-class i');

    toastIcon.className = iconClass;
    liveToast.classList.remove('text-bg-danger'); 
    liveToast.className = 'toast'; 
    liveToast.classList.add(status);

    toastContent.textContent = content;
    const toast = new bootstrap.Toast(liveToast);
    toast.show();
    setTimeout(function() {
        toast.hide();
    }, 8000);
}

function openSetPropertyModal(itemName) {
        document.getElementById('itemNameInput').value = itemName;
        // Özelliklere göre modal içeriğini güncelle
        var propertyContent = document.getElementById('propertyContent');
        if (itemName === "My Playground" || itemName === "My Beautiful Paddle") {
            propertyContent.innerHTML = `
                <label for="color">Choose Color:</label>
                <input type="color" id="color" name="whatis">
            `;
        } else {
            propertyContent.innerHTML = `
                <label for="propertyName">AI Name:</label>
                <input type="text" id="propertyName" name="whatis">
            `;
        }
        document.getElementById('setPropertyModal').classList.add('show');
        document.getElementById('setPropertyModal').style.display = 'block';
        document.body.classList.add('modal-open');
    }

    function saveProperty(itemid) {
        
        var itemName = document.getElementById('itemNameInput').value;
        var whatis = '';
        // Renk seçme alanından veya metin girişinden değeri al
        if (itemName === "My Playground" || itemName === "My Beautiful Paddle") {
            whatis = document.getElementById('color').value;
        } else {
            whatis = document.getElementById('propertyName').value;
        }
        console.log("Item Name:", itemName);
        console.log("Property Value:", whatis);
        showToast(`${itemName} öğesini başarıyla özelleştirdin!`, `text-bg-success`, `bi bi-shop`);
        const form = document.getElementById('store_item_form' + itemid);
        form.submit();
    }

function submitStoreItemForm(itemName, formId) {
    const form = document.getElementById('store_item_form' + formId);
    showToast(`${itemName} öğesini başarıyla kuşandın!`, `text-bg-success`, `bi bi-check-circle-fill`);
    setTimeout(function() {
        form.submit();
    }, 6000); // 3 saniye bekleyerek formu submit et
}

document.addEventListener('DOMContentLoaded', (event) => {
  const inventoryInfos = document.getElementsByClassName('inventory-info'); // .inventory-info'ya erişim
    const smallWalletNames = document.getElementsByClassName('small-wallet-name');

    for (let i = 0; i < smallWalletNames.length; i++) {
        smallWalletNames[i].addEventListener('mouseover', () => {
            inventoryInfos[i].style.visibility = 'visible';
        });

        smallWalletNames[i].addEventListener('mouseout', () => {
            inventoryInfos[i].style.visibility = 'hidden';
        });
    }});
    
</script>
{% endblock app %}