{% extends 'base.html' %}

{% load static %}
{% load user_info %}

{% block title %}{{context.inventoryPageTittle}}{% endblock title %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/inventory.css" %}">{% endblock stylesheet %}

{% block app %}

  <div class="container-top">
    <div class="inventory-card">
      {% user_info as user_info %}
       <div class="top-inventory">
        <div class="inventory-left">
          <h3>{{user_info.username}} / {{context.inventoryText}}</h3>
        </div>
        <div class="inventory-mid">
            <div class="category-field">
              <h5 class="category-text"><a class="category-text-item" onclick="swapApp('/inventory/{{user_info.username}}?category_name=All')">#{{context.inventoryTagText}}</a></h5>
            </div>
            <div class="category-field">
              <h5 class="category-text"><a class="category-text-item" onclick="swapApp('/inventory/{{user_info.username}}?category_name=Pong')">#Pong</a></h5>
            </div>
            <div class="category-field">
              <h5 class="category-text"><a class="category-text-item" onclick="swapApp('/inventory/{{user_info.username}}?category_name=RPS')">#RPS</a></h5>
            </div>
          </div>
        <div class="inventory-mid-right">
          <div class="inventory-field">
            <h5 class="inventory-text"><a class="store-bag" onclick="swapApp('/store/{{user_info.username}}')"><i class="bi bi-shop"></i></a></h5>
          </div>
        </div>
        <div class="top-inventory-card">
          <div class="inventory-right">
                <i class="bi bi-piggy-bank-fill flip-horizontal"></i> 
                <div class="inventory-text-fields">
                  <span class="small-wallet-name">{{context.inventoryWalletText}}:</span>
                  <span class="wallet-amount">{{profile.indian_wallet}}N₩</span>
                </div>
          </div>
        </div>
      </div>
      
      <div class="inventory-info">
        <span class="tooltiptext">{{context.inventoryWalleinfoText1}} <span style="font-weight: bold;">N₩</span> {{context.inventoryWalleinfoText2}}</span>
      </div>
        <div class="inventory-list">

          <div class="modal fade" id="setPropertyModal" tabindex="-1" aria-labelledby="setPropertyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <form id="store_item_form{{ item.id }}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="setPropertyModalLabel">{{context.inventoryModalHeaderText}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">         
                        <input type="hidden" id="itemNameInput" name="name">
                        <input type="hidden" name="action" value="customize">                 
                        <div id="propertyContent">
                            <!-- Dinamik olarak içerik buraya eklenecek -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="event.preventDefault(); saveProperty('{{user_info.username}}', '{{item.id}}')">{{context.inventoryModalSaveButton}}</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{context.inventoryModalCloseButton}}</button>
                    </div>
                  </div>
              </form>
            </div>
        </div>
              {% for item in inventory_items %}         
                
              <div class="product-card-inventory">
                <img src="{% static 'assets/stores/'|add:item.item.image_url %}" alt="" />
                <h2 class="card__title">{% if selected_language == 'hi' and item.item.name_hi %} {{item.item.name_hi}} {% elif selected_language == 'pt' and item.item.name_pt %}{{item.item.name_pt}} {% elif selected_language == 'tr' and item.item.name_tr %}{{ item.item.name_tr }} {% else %} {{item.item.name}} {% endif %}</h2>
                <h4 {% if item.item.category_name == "Pong" %} class="card__category pong" {% elif item.item.category_name == "RPS" %} class="card__category rps"  {% else %} class="card__category all" {% endif %}>
                  <a onclick="swapApp('/inventory/?category_name={{item.item.category_name}}')">#{% if item.item.category_name == 'All' %}{{context.storeTagText }}{% else %}{{item.item.category_name}}{%endif%}</a>
                </h4>
                <span class="card__description">{% if selected_language == 'hi' and item.item.description_hi %} {{item.item.description_hi}} {% elif selected_language == 'pt' and item.item.description_pt %}{{item.item.description_pt}} {% elif selected_language == 'tr' and item.item.description_tr %}{{ item.item.description_tr }} {% else %} {{item.item.description}} {% endif %}</span>
                {% if item.item.name != "My Playground" and item.item.name != "My Beautiful AI" and item.item.name != "My Beautiful Paddle" and item.item.name != "Giant-Man" and item.item.name != "Rage of Fire" %}
                  <span class="card__key-info"><span class="red">{{context.inventoryItemKeyboardInfoText}} <span style="font-weight: 500;">"{{item.item.keypress}}" </span> {{context.inventoryItemKeyboardInfoText2}}</span></span>
                {% else %}
                  <span class="card__key-info orange">{{context.inventoryItemKeyboardInfoText3}}</span>
                {% endif %}
                <div class="card__shop">
                  <span class="card__shop__price">{{item.item.price}}N₩</span>
                  {% if item.is_bought %}
                    {% if item.item.name == "My Playground" or item.item.name == "My Beautiful AI" or item.item.name == "My Beautiful Paddle" %}
                      <button id="button-{{item.item.name}}" class="card__shop__action-set" data-whatis="{{item.whatis}}" onclick="openSetPropertyModal(`{{item.item.name}}`, this.getAttribute('data-whatis'))">
                        <i class="bi bi-gear-fill" style="color:white; font-size: 1.1em;"></i>
                      </button>
                    {% endif %}
                    <form id="store_item_form{{ item.item.name }}" method="POST"  data-is-equipped="{{ item.is_equipped }}" onsubmit="event.preventDefault(); submitInventoryItemForm('{{user_info.username}}', '{{ item.item.name }}');">
                      {% csrf_token %}
                      <input type="hidden" name="name" value="{{ item.item.name }}">
                      <input type="hidden" name="action" value="equip">
                      <input type="hidden" name="whatis" value="none">
                      <button type="submit" class="card__shop__action-gear">
                        <i class="bi bi-backpack-fill" style="color:white; font-size: 1.1em;"></i>
                      </button>
                    </form>
                  {% endif %}
                </div>
              </div>         
          {% endfor %}

        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">NULL</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>


{% endblock app %}