{% extends "base.html" %}

{% load static %}

{% block title %}{{context.localTournamentPageTittle}}{% endblock title %}


{% block app %}
<link rel="stylesheet" href="{% static 'css/local-tournament.css' %}" />
  <div class="container-top" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}">
    <div class="ai-game">
        
        <div id="tournament-start-info" class="tournament-start-info">
            <div class="game-info-menu-tournament" id="game-info-tournament">
                <div class="info-icon" style="color: tomato; margin-right: 3em; margin-bottom: -1em;">
                  <i class="bi bi-info-circle-fill" data-bs-toggle="modal" data-bs-target="#exampleModalGame"></i>
                </div>
            </div>
            <h1 class="tournamentLocalGameText">{{context.localTournamentGameHeaderText}}</h1>
            <div class="input-box">
              <label class="tournamentLocalGamePlayerText" for="player1Name">{{context.localTournamentPlayer1Text}}</label>
              <input class="input-style" type="text" id="player1Name">

              <label class="tournamentLocalGamePlayerText" for="player2Name">{{context.localTournamentPlayer2Text}}</label>
              <input class="input-style" type="text" id="player2Name">

              <label class="tournamentLocalGamePlayerText" for="player3Name">{{context.localTournamentPlayer3Text}}</label>
              <input class="input-style" type="text" id="player3Name">

              <label class="tournamentLocalGamePlayerText" for="player4Name">{{context.localTournamentPlayer4Text}}</label>
              <input class="input-style" type="text" id="player4Name">

              <div class="selectorGame">
                <label class="tournamentLocalGamePlayerText" for="maxScore">{{context.localTournamentMaxScoreText}}</label>
                <select class="form-select" id="maxScore">
                  <option selected value="3">3</option>
                  <option value="5">5</option>
                  <option value="7">7</option>
                  <option value="10">10</option>
                </select>
              </div>

              <div class="selectorGame">
                <label class="tournamentLocalGamePlayerText" for="gameMode">{{context.localTournamentGameModeText}}</label>
                <select class="form-select" id="gameMode">
                  <option selected value="Vanilla">{{context.localTournamentChooseModeText1}}</option>
                  <option value="Abilities">{{context.localTournamentChooseModeText2}}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-outline-success" id="startButton">{{context.localTournamentButtonStart}}</button>
        </div>
        <div class="showbracket" id="show-bracket">
            <h1 class="tournament-bracket-title">{{context.localTournamentBracketTitle}}</h1>
                <div class="game-bracket-area">
                    <div class="bracket-area">
                        <div class="bracket disable-image">
                            <div class="column one">
                                <div class="match winner-bottom">
                                    <div class="match-top team">
                                        <span class="seed" id="top-seed-1">1</span>
                                        <span class="name" id="top-name-1"></span>
                                    </div>
                                    <div class="match-bottom team">
                                        <span class="seed" id="top-seed-2">2</span>
                                        <span class="name" id="top-name-2"></span>
                                    </div>
                                    <div class="match-lines">
                                        <div class="line one"></div>
                                        <div class="line two"></div>
                                    </div>
                                    <div class="match-lines alt">
                                        <div class="line one"></div>
                                    </div>
                                </div>
                                <div class="match winner-bottom">
                                    <div class="match-top team">
                                        <span class="seed" id="bottom-seed-1">3</span>
                                        <span class="name" id="bottom-name-1"></span>
                                    </div>
                                    <div class="match-bottom team">
                                        <span class="seed" id="bottom-seed-2">4</span>
                                        <span class="name" id="bottom-name-2"></span>
                                    </div>
                                    <div class="match-lines">
                                        <div class="line one"></div>
                                        <div class="line two"></div>
                                    </div>
                                    <div class="match-lines alt">
                                        <div class="line one"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column three">
                                <div class="match winner-top">
                                    <div class="match-top team">
                                        <span class="seed" id="final-seed-1">5</span>
                                        <span class="name" id="final-name-1"></span>
                                    </div>
                                    <div class="match-bottom team">
                                        <span class="seed" id="final-seed-2">6</span>
                                        <span class="name" id="final-name-2"></span>
                                    </div>
                                    <div class="match-lines">
                                        <div class="line one"></div>
                                        <div class="line two"></div>
                                    </div>
                                    <div class="match-lines alt">
                                        <div class="line one"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-success" id="startTournament">{{context.localTournamentBracketStartButtonText}}</button>

        </div>
        
        <canvas id="pongCanvas" width="800" height="600" style="display: none;"></canvas>
        <div id="gameOverScreen" class="game-over">
            <h1 id="winnerText" class="winnerName"></h1>
            <h2>{{context.aiGameGameOverText}}</h2>
            <button id="restartButton">{{context.localTournamentNextButtonText}}</button>
        </div>
        
        <div id="gameOverScreenTournament" class="game-over">
            <h1 id="winnerTextTournament" class="winnerName"></h1>
            <h2>{{context.localTournamentTournamentOverText}}</h2>
            <button id="exitButtonTournament">{{context.aiGameExitButtonText}}</button>
        </div>
    </div>
  </div><div class="modal fade" id="exampleModalGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="z-index: 100;">
                <h2 class="modal-title fs-2" id="exampleModalLabel">{{context.aiGameInfoHeaderText}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>{{context.aiGameInfoSubHeaderText}}</h3>
                <p>{{context.aiGameInfoSubHeaderDescription1}}</p>

                <h3>{{context.aiGameInfoSubHeaderText2}}</h3>
                <p>{{context.aiGameInfoSubHeaderDescription2}}</p>

                <h3>{{context.aiGameInfoSubHeaderText5}}</h3>
                <div class="modal-controls">
                    <div class="col">{{context.aiGameInfoSubHeaderDescription5}}</div>
                    <div class="col">
                        <span class="modal-keys">W</span>
                    </div>
                </div>
                <div class="modal-controls">
                    <div class="col">{{context.aiGameInfoSubHeaderDescription6}}</div>
                    <div class="col">
                        <span class="modal-keys">S</span>
                    </div>
                </div>
                <h3>{{context.aiGameInfoSubHeaderText6}}</h3>
                <div class="modal-controls">
                    <div class="col">
                        <b>{{context.aiGameInfoSubHeaderDescription7}}</b>
                    </div>
                    <div class="col">
                        <span class="modal-keys">1</span>
                    </div>
                </div>
                <div class="modal-controls">
                    <div class="col">
                        <b>{{context.aiGameInfoSubHeaderDescription8}}</b>
                    </div>
                    <div class="col">
                        <span class="modal-keys">2</span>
                    </div>
                </div>
                <div class="modal-controls">
                    <div class="col">
                        <b>{{context.aiGameInfoSubHeaderDescription9}}</b>
                    </div>
                    <div class="col">
                        <span class="modal-keys">3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script type=module src="{% static "js/game/localTournament.js" %}"></script>
{% endblock %}