{% extends "base.html" %}

{% load static %}

{% block title %}Local Tournament{% endblock title %}


{% block app %}
<link rel="stylesheet" href="{% static 'css/local-tournament.css' %}" />
  <div class="container-top" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}">
    <div class="ai-game">
      <div id="tournament-start-info" class="tournament-start-info">
        <h1 class="tournamentLocalGameText">Local Tournament</h1>
        <div class="input-box">
          <label class="tournamentLocalGamePlayerText" for="player1Name">Player1 Name</label>
          <input class="input-style" type="text" id="player1Name">

          <label class="tournamentLocalGamePlayerText" for="player2Name">Player2 Name</label>
          <input class="input-style" type="text" id="player2Name">

          <label class="tournamentLocalGamePlayerText" for="player3Name">Player3 Name</label>
          <input class="input-style" type="text" id="player3Name">

          <label class="tournamentLocalGamePlayerText" for="player4Name">Player4 Name</label>
          <input class="input-style" type="text" id="player4Name">

          <div class="selectorGame">
            <label class="tournamentLocalGamePlayerText" for="maxScore">Max Score</label>
            <select class="form-select" id="maxScore">
              <option selected value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="selectorGame">
            <label class="tournamentLocalGamePlayerText" for="gameMode">Game Mode</label>
            <select class="form-select" id="gameMode">
              <option selected value="Vanilla">Vanilla</option>
              <option value="Abilities">Abilities</option>
            </select>
          </div>
        </div>
        
        
        <button class="btn btn-outline-success" id="startButton">Start</button>
      </div>
      <canvas id="pongCanvas" width="800" height="600" style="display: none;"></canvas>
      <div id="gameOverScreen" class="game-over">
        <h1>Game Over</h1>
        <p id="winnerText" class="winnerName"></p>
        <button id="restartButton">Restart</button>
        <button id="exitButton">Exit</button>
      </div>
    </div>
  </div>
  
  <script type=module src="{% static "js/game/localTournament.js" %}"></script>
{% endblock %}