{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block app %}

<div class="cursor">
  <div class="container">
    <div class="LoginArea" id="LoginArea">
      <form class="form" enctype="multipart/form-data" method="post">
        <a href="/" data-link
          ><button class="backbtn" type="button">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg></button
        ></a>
        <div class="title">
          Welcome,
          <span class="titlebottom">sign in to continue</span>
        </div>
        <div class="login-with">
          <a href="/auth" data-link class="no-underline"><div class="button-log"><b>42</b></div></a>
        </div>
        {% csrf_token %}
        <p>
          <input type="text" name="username" class="input" placeholder="Username" maxlength="150" required id="id_username" autocomplete="off">
        </p>
        <p>
          <input type="password" name="password" class="input" placeholder="Password" onmouseover="showPassword('id_password')" onmouseout="hidePassword('id_password')" required id="id_password" autocomplete="off">
        </p>
        <div class="forgot-pass">
          <a href="/password_reset" class="forgot-password-link">Forgot Password?</a>
        </div>
        <a ><button type="submit" class="button-confirm">Let's go →</button></a>
        <a href="/signup" data-link><button type="button" class="registerbtn">Join Us ✓</button></a>
      </form>
      
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-success" id="liveToast2" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class" style="margin-top: auto; margin-bottom:auto; font-size: 15px; margin-right: -10px"><i class="bi bi-check-circle-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">Register Success!</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% if not valid %}
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">{{ toast_message }}</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Toast'ı gösterme fonksiyonu
          function showToast() {
              const liveToast = document.getElementById('liveToast');
              // içeriği güncelle
              liveToast.querySelector('.fw-semibold').textContent = '{{ toast_message }}';
              // Toast'ı göster
              const toast = new bootstrap.Toast(liveToast);
              toast.show();
              setTimeout(function() {
                  toast.hide();
              }, 3000);
          }

          // Toast'ı göstermek için bir tetikleyici ekleyin
          showToast();
      });
    </script>
    {% endif %}
  </div>
</div>
<script src="{% static "js/index.js" %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
              // Toast'ı gösterme fonksiyonu
              function showToastSuccess() {
                  const liveToast2 = document.getElementById('liveToast2');
                  const toast1 = new bootstrap.Toast(liveToast2);
                  toast1.show();
                  setTimeout(function() {
                      toast1.hide();
                  }, 3000);
              }
              const urlParams = new URLSearchParams(window.location.search);
              const statusValue = urlParams.get('status');
              const isToastShown = localStorage.getItem('isToastShown');
              if (statusValue === 'success' && !isToastShown) {
                  localStorage.setItem('isToastShown', true);
                  showToastSuccess();
              }
          });
</script>
{% endblock %}

<!-- for messages -->
{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}