{% extends 'base.html' %}


{% load static %}

{% block title %}{{context.loginPageTittle}}{% endblock title %}


{% block app %}

<div class="cursor">
  <div class="container">
    <div class="LoginArea" id="LoginArea">
      <form class="form" enctype="multipart/form-data" method="post" id="loginForm">
        <a onclick="swapApp('/')"
          ><button class="backbtn" type="button">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg></button
        ></a>
        <div class="title">
          {{context.loginHeaderText1}}
          <span class="titlebottom">{{context.loginHeaderText2}}</span>
        </div>
        <div class="login-with">
          <a href="/auth" data-link class="no-underline"><div class="button-log"><b>42</b></div></a>
        </div>
        {% csrf_token %}
        <p>
          <input type="text" name="username" class="input" placeholder="{{context.loginInputUsernameText}}" maxlength="150" required id="id_username" autocomplete="off">
        </p>
        <p>
          <input type="password" name="password" class="input" placeholder="{{context.loginInputPasswordText}}" required id="id_password" autocomplete="off">
          <i class="bi bi-eye-slash-fill" id="togglePassword" style="position: absolute;top: 292px;right: 35px;z-index: 100; display: none;"></i>
        </p>
        <div class="forgot-pass">
          <a onclick="swapApp('/password_reset')" class="forgot-password-link">{{context.loginForgotPasswordText}}</a>
        </div>
        <a><button type="button" class="button-confirm" id="submitButton" onclick="makeLogin('inLogin')">{{context.loginButtonLogin}} →</button></a>
        <a onclick="swapApp('/signup')" data-link><button type="button" class="registerbtn">{{context.loginButtonJoin}} ✓</button></a>
      </form>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
    <div class="toast text-bg-danger" id="liveToast" role="alert">
        <div class="toast-body">
            <div class="d-flex gap-4">
                <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                <div class="d-flex flex-grow-1 align-items-center">
                    <span class="fw-semibold">NULL</span>
                    <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>

</script>

{% endblock %}

<!-- for messages -->
{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}