{% extends 'base.html' %}

{% block title %}{{username}} Match-History{% endblock %}

{% block app %}
{% include '_nav.html' %} 
<div class="container-top">
    <div class="row mt-4" style="margin-bottom:5px">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <!-- Navbar Marka -->
                <!-- Navbar Toggle Butonu -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar Menü -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile"><i class="bi bi-person"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friends"><i class="bi bi-people-fill"></i> Friends</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</div>
<div class="card">
    <div class="mhistory-card-header">
        <h3 class="mhistory-header">{{username}} / Match History</h3>
    </div>
    <div class="match-history">
        <table class="card-mhistory-table">
            <thead>
                <tr>
                    <th>Opponent</th>
                    <th>Result</th>
                    <th>Score</th>
                    <th>Date</th>
            </thead>
            <tbody>
                {% for match in history_page_obj %}
                    <tr>
                        <td class="mhistory-username">{{match.username}}</td>
                        {% if match.winner == match.username %}
                            <td class="won">Won</th>
                        {% else %}
                            <td class="lost">Lost</th>
                        {% endif %}
                        <td>{{match.score}}</th>
                        <td>{{match.date}}</td>
                    </tr>
                {% endfor %}
                

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if history_page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if history_page_obj.has_previous %}?page={{ history_page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page_num in history_page_obj.paginator.page_range %}
                    <li class="page-item {% if page_num == history_page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if history_page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if history_page_obj.has_next %}?page={{ history_page_obj.next_page_number }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>        
    </div>
</div>
{% endblock %}