<!-- password_reset.html -->

{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block app %}

<div class="cursor">
    <div class="container">
        <div class="RegisterArea" id="RegisterArea">
            <form method="post" enctype="multipart/form-data" class="form">
                    <div class="title">
                        Password Reset,
                        <span class="titlebottom">reset your password</span>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button-confirm">Reset</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}