<!-- password_change.html -->

{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block app %}

<div class="cursor">
    <div class="container">
        <div class="ChangePasswordArea" enctype="multipart/form-data" id="ChangePasswordArea">
            <form method="post" enctype="multipart/form-data" class="form">
                    <div class="title">
                        Change Password
                        <span class="titlebottom">change your password</span>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button-send-email"><i class="bi bi-check-circle-fill"></i> Change Password</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}
