<!-- password_change.html -->

{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block app %}
{% include "_nav.html" %}
<div class="cursor">
    <div class="container">
        <div class="RegisterArea" id="RegisterArea">
            <form method="post" enctype="multipart/form-data" class="form">
                    <div class="title">
                        Password Change,
                        <span class="titlebottom">change your password</span>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button-confirm">Change</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}