{% extends "base.html" %}

{% load static %}

{% block title %}Play with AI{% endblock title %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/in-game.css" %}">{% endblock %}

{% block app %}

  <div class="container-top" data-username="{{ username }}" data-ainame="{{ ainametag }}" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}" data-giantman="{{giantman}}" data-likeacheater="{{likeacheater}}" data-fastandfurious="{{fastandfurious}}" data-rageoffire="{{rageoffire}}" data-frozenball="{{frozenball}}" data-givemethemusic={{givemethemusic}} data-musicpath="{% static "music/" %}">
    <div class="ai-game">
      <div class="game-info-menu">
        <div class="info-icon" style="color: rgb(255, 140, 0); margin-right: 3em; margin-bottom: -1em;">
          <i class="bi bi-info-circle-fill" data-bs-toggle="modal" data-bs-target="#exampleModalGame"></i>
        </div>
      </div>
      
      <div id="countdownContainer">
        <div class="slider-container">
          <label for="reactionDelay" style="color: white;">Reaction Delay:</label>
          <span id="delayValue" style="color: white;">200</span>
          <input type="range" id="reactionDelay" name="reactionDelay" min="1000" max="10000" value="2000" step="1000">
        </div>
        <canvas id="pongCanvas" width="800" height="600"></canvas>
        <div id="countdown" class="countdown">
          <h1>Get Ready!</h1>
          <p>Press 'Space' to start</p>
          <h2 class="countdown-numbers">Starting in</h2>
          <div id="countdownTimer" class="countdown-timer"></div>
        </div>
        <div id="gameOverScreen" class="game-over">
          <h1 id="winnerText" class="winnerName"></h1>
          <h1 id="loserText" class="loserName"></h1>
          <h2>Game Over</h2>
          <button id="restartButton">Restart</button>
          <button id="exitButton">Exit</button>
        </div>
      </div>
    </div>
    
  </div>
  <div class="modal fade" id="exampleModalGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="z-index: 100;">
                <h2 class="modal-title fs-2" id="exampleModalLabel">About the Game</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>How to Play the Game?</h4>
              <p>In Pong game, players engage in a table tennis match against their opponents. The W-A-S-D keys (or up-down-left-right arrow keys) are used to control the ball.</p>
          
              <h4>Win and Improve</h4>
              <p>You earn Pong Points with every game you win. With these points, you can purchase new items, rackets, and tables from the store to enhance your gaming experience.</p>
          
              <h4>Get Started Now</h4>
              <p>You can create an account to personalize your gaming experience. With an account, you can track your statistics and see your position in the rankings.</p>
          
              <h4>More Features</h4>
              <p>You can participate in tournaments to face off against your opponents and test your skills. Additionally, you can create private games with your friends and join the Pong community.</p>
            </div>
        </div>
    </div>
  </div>
  <script type=module src="{% static "js/game/play-ai.js" %}"></script>
  {% csrf_token %}
{% endblock %}