{% extends "base.html" %}

{% load static %}

{% block title %}{{context.aiGamePageTittle}}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/in-game.css" %}">
<link rel="stylesheet" href="{% static "css/modal.css" %}">
{% endblock %}

{% block app %}

    <div class="container-top" data-username="{{ username }}" data-ainame="{{ ainametag }}" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}" data-giantman="{{giantman}}" data-likeacheater="{{likeacheater}}" data-fastandfurious="{{fastandfurious}}" data-rageoffire="{{rageoffire}}" data-frozenball="{{frozenball}}" data-musicpath="{% static "music/" %}">
		<div class="ai-game">
			<div class="game-info-menu">
				<div>
					<i class="bi bi-info-circle-fill" data-bs-toggle="modal" data-bs-target="#exampleModalGame"></i>
					<i id="volumeIcon" class="bi bi-volume-up-fill"></i>
					<div id="volumeControl" style="display: inline-block">
							<input type="range" class="slider" id="volumeSlider" min="0" max="1" step="0.1" value="1">
					</div>
				</div>
			</div>
		<div id="countdownContainer">

			<canvas id="pongCanvas" width="800" height="600"></canvas>
			<div id="countdown" class="countdown">
				<h1>{{context.aiGameGetReadyText}}!</h1>
				<button type="button" class="btn btn-success" id="startGame">{{context.aiGameStartButtonText}}</button>
				<div id="countdownTimer" class="countdown-timer"></div>
			</div>
			<div id="gameOverScreen" class="game-over">
				<h1 id="winnerText" class="winnerName"></h1>
				<h1 id="loserText" class="loserName"></h1>
				<h2>{{context.aiGameGameOverText}}</h2>
				<button id="restartButton">{{context.aiGameRestartButtonText}}</button>
				<button id="exitButton">{{context.aiGameExitButtonText}}</button>
			</div>
		</div>
    </div>
    <div class="modal fade" id="exampleModalGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header" style="z-index: 100;">
					<h2 class="modal-title fs-2" id="exampleModalLabel">{{context.aiGameInfoHeaderText}}</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3>{{context.aiGameInfoSubHeaderText}}</h3>
					<p>{{context.aiGameInfoSubHeaderDescription1}}</p>

					<h3>{{context.aiGameInfoSubHeaderText2}}</h3>
					<p>{{context.aiGameInfoSubHeaderDescription2}}</p>

					<h3>{{context.aiGameInfoSubHeaderText5}}</h3>
					<div class="modal-controls">
						<div class="col">{{context.aiGameInfoSubHeaderDescription5}}</div>
						<div class="col">
							<span class="modal-keys">W</span>
						</div>
					</div>
					<div class="modal-controls">
						<div class="col">{{context.aiGameInfoSubHeaderDescription6}}</div>
						<div class="col">
							<span class="modal-keys">S</span>
						</div>
					</div>
					<h3>{{context.aiGameInfoSubHeaderText6}}</h3>
					<div class="modal-controls">
						<div class="col">
							<b>{{context.aiGameInfoSubHeaderDescription7}}</b>
						</div>
						<div class="col">
							<span class="modal-keys">1</span>
						</div>
					</div>
					<div class="modal-controls">
						<div class="col">
							<b>{{context.aiGameInfoSubHeaderDescription8}}</b>
						</div>
						<div class="col">
							<span class="modal-keys">2</span>
						</div>
					</div>
					<div class="modal-controls">
						<div class="col">
							<b>{{context.aiGameInfoSubHeaderDescription9}}</b>
						</div>
						<div class="col">
							<span class="modal-keys">3</span>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<script type="module" src="{% static "js/game/play-ai.js" %}"></script>
    {% csrf_token %}
{% endblock %}