{% extends "base.html" %}

{% load static %}

{% block title %}Play with AI{% endblock title %}

{% block app %}
  {% include "_nav.html" %}

  <div class="container-top" data-username="{{ username }}" data-ainame="{{ ainametag }}" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}" data-giantman="{{giantman}}" data-likeacheater="{{likeacheater}}" data-fastandfurious="{{fastandfurious}}" data-rageoffire="{{rageoffire}}" data-frozenball="{{frozenball}}" data-givemethemusic={{givemethemusic}} data-musicpath="{% static "music/" %}">
    <div class="ai-game">
      <div id="countdownContainer">
        <div class="slider-container">
          <label for="reactionDelay" style="color: white;">Reaction Delay:</label>
          <span id="delayValue" style="color: white;">200</span>
          <input type="range" id="reactionDelay" name="reactionDelay" min="1000" max="10000" value="2000" step="1000">
        </div>
        <canvas id="pongCanvas" width="800" height="600"></canvas>
        <div id="countdown" class="countdown">
          <h1>Get Ready!</h1>
          <p>Press 'Space' to start</p>
          <h2 class="countdown-numbers">Starting In</h2>
          <div id="countdownTimer" class="countdown-timer"></div>
        </div>
        <div id="gameOverScreen" class="game-over">
          <h1 id="winnerText" class="winnerName"></h1>
          <h1 id="loserText" class="loserName"></h1>
          <h2>Game Over</h2>
          <button id="restartButton">Restart</button>
          <button id="exitButton">Exit</button>
        </div>
      </div>
    </div>
  </div>
  <script type=module src="{% static "js/game/play-ai.js" %}"></script>
  {% csrf_token %}
{% endblock %}