{% extends 'base.html' %}

{% block title %}Pong Game Find{% endblock title %}
{% block app %}
{% include '_nav.html' %} 
<div class="container-top">
    <div class="card">
        <h3 class="pong-game-text">Welcome to Pong Lobby</h3>
        <div class="custom-text">
            You can play with the AI and improve yourself without reflecting it in your stats, as if you were just
            warming up. If you want to play with a real person, consider the other option, remember that if we don't
            find someone to match you within 5 minutes, the match will be canceled. Good luck before I forget!
        </div>
        <div class="pong-buttons">
            <div class="ai-btn">
                <a href="/play-ai/peer-to-ai/new"><div class="ponggamebtn-ai">Play With AI <i class="bi bi-robot"></i></div></a>
            </div>
            <div class="ai-btn">
                <a href="/local-game"><div class="ponggamebtn-local">Local Game <i class="bi bi-wifi-off"></i></div></a>
            </div>
            <div class="ai-btn">
                <a href="/remote-game/peer-to-peer/new"><div class="ponggamebtn-remote">Remote Player <i class="bi bi-wifi"></i></div></a>
            </div>
            <div class="ai-btn">
                <a href="/tournament"><div class="ponggamebtn">Tournament <i class="bi bi-trophy-fill"></i></div></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
