{% include '_nav.html' %} 
<div class="left-card">
    <table class="custom-table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
                <!-- Diğer sütunlar... -->
            </tr>
        </thead>
        <tbody>
            <!-- Burada liste elemanları döngü ile eklenir -->
            <tr>
                <td><img src="https://www.trtspor.com.tr/resimler/260000/260382.jpg"> ardaturan</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://img.a.transfermarkt.technology/portrait/big/1061-1612175084.jpeg?lm=1">
                    aykutkocaman</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://cdn.ntvspor.net/17b65e4cfb844414bc1f37abbbca62f2.jpg?mode=crop&w=940&h=626">
                    ersunyanal</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="../../assets/profile/profilephoto.jpeg"> fatihterim</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://cdn.ntvspor.net/17b65e4cfb844414bc1f37abbbca62f2.jpg?mode=crop&w=940&h=626">
                    ersunyanal</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://img.a.transfermarkt.technology/portrait/big/7237-1595580698.jpg?lm=1"> sarioglu
                </td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://cdn.ntvspor.net/f26901d08c0c436aab85737d8625c5c7.jpg?mode=crop&w=940&h=626">
                    belezoglu</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img
                        src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltf9f319eb4fa8a1e6/60dbc05963584e0ecae47963/6932614169eadb875c001f02448a33658136f9c3.jpg?auto=webp&format=pjpg&width=3840&quality=60">
                    oburuk</td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>
            <tr>
                <td><img src="https://img.a.transfermarkt.technology/portrait/big/801-1477746457.jpg?lm=1"> hkaraman
                </td>
                <td><button type="button" class="btn btn-outline-success"><i
                            class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" onclick="setCanvasSize()" class="btn btn-outline-primary"><i
                            class="bi bi-patch-check-fill"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
                </td>
                <!-- Diğer sütun değerleri... -->
            </tr>

            <!-- Diğer liste elemanları... -->
        </tbody>
    </table>

    <!-- Pagination Alanı -->
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>
</div>

<!-- Sağ Taraftaki Canvas Alanı -->
<div class="canvas-container">
    <canvas id="myCanvas"></canvas>
</div>