{% extends "base.html" %}
{% load static %}
{% load status %}

{% block title %}{{ profile.username }} - {{context.profilePageTittle}}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
<link rel="stylesheet" href="{% static "css/profilesettings.css" %}">
<link rel="stylesheet" href="{% static "css/match-history.css" %}">
{% endblock stylesheet %}
{% block app %}
    <!-- "Edit Profile" ve "Match History" Navbar -->
    
<div class="profiles-card">

    <div class="row">
        <!-- Sol Sütun (col-lg-4) -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Profil Kartı -->
            <div class="card mb-4" style="background-color:white !important">
                <!-- Profil Kartı içeriği -->
                {% if profile.is_indianai %}
                    <span class="pro-profile"><i class="bi bi-robot"></i> {{context.profileRankAIText}}</span>
                {% elif profile.rank is not None %}
                    <span class="pro-profile"><i class="bi bi-award-fill"></i> {{ profile.rank }} {{context.profileRankUserText1}}</span>
                {% else %}
                    <span class="pro-profile"><i class="bi bi-exclamation-diamond-fill"></i> {{context.profileRankUserText2}}</span>
                {% endif %}
                <div class="card-body text-center">
                    <!-- Avatar -->
                    {% is_user_online profile.username as profile_is_online %}
                    {% is_user_playing profile.username as profile_is_playing %}
                    <img src="{{ profile.avatar.url }}" alt="avatar" class="profile-image-circ" {% if profile_is_playing %} style="border: 3px solid #ffa600; aspect-ratio: 1/1; object-fit: cover;" {% elif profile_is_online %} style="border: 3px solid #4CAF4F; aspect-ratio: 1/1; object-fit: cover;" {% else %} style="border: 3px solid #ff0000; aspect-ratio: 1/1; object-fit: cover;" {% endif %}>
                    <!-- isim -->
                    <h5 class="my-3" style="margin-bottom: 0 !important;">{{profile.username}}</h5>
                    <h7 class="my-5" style="margin-top: -3em !important; margin-bottom: 10px !important;">{{profile.displayname}}</h7>
                    <!-- Meslek -->
                    {% if profile.is_42student or profile.social.intra42 %}
                    <p class="text-muted mb-1" style="color: #00ff1e !important;margin-top: -5px;font-size: 15px; font-weight: 600;">{{context.profileTitleText1}}</p>
                    {% elif profile.social.github and not profile.is_42student or profile.social.intra42 %}
                        <p class="text-muted mb-1" style="color: orange !important;margin-top: -5px;font-size: 15px; font-weight: 600;">{{context.profileTitleText2}}</p>
                    {% endif %}
                    <div class="d-flex justify-content-center mb-2" style="margin-top: 30px;">
                        {% if request.user.username != profile.username %}
                            {% csrf_token %}
                            {% if is_friend %}
                                <button class="unfollow-btn" id="unfollowbtn" style="margin-top: -15px;" onclick="unfollowButton(`{{profile.username}}`)"><i class="bi bi-heartbreak-fill"></i> {{context.profileFollowingButton}}</button>
                                <button class="btn btn-danger" id="followbtn" style="margin-top: -10px; display:none !important;" onclick="followButton(`{{profile.username}}`)"><i class="bi bi-heart-fill"></i> {{context.profileFollowButton}}</button>
                            {% else %}
                                <button class="btn btn-danger" id="followbtn" style="margin-top: -10px;" onclick="followButton(`{{profile.username}}`)"><i class="bi bi-heart-fill"></i> {{context.profileFollowButton}}</button>
                                <button class="unfollow-btn" id="unfollowbtn" style="margin-top: -15px; display: none !important;" onclick="unfollowButton(`{{profile.username}}`)"><i class="bi bi-heartbreak-fill"></i> {{context.profileFollowingButton}}</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Sosyal Medya ve Website Bilgileri -->
            <div class="card mb-4" style="background-color:white !important">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <!-- Website -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-linkedin" style="color: orange"></i>
                            {% if profile.social.linkedin %}
                                <a href="https://www.linkedin.com/in/{{profile.social.linkedin}}" target="_blank" style="text-decoration: none;"><p class="mb-0">{{profile.social.linkedin}} - LinkedIn</p></a>
                            {% else %}
                                <p class="mb-0">{{context.profileLinkedinSocialText}}</p>
                            {% endif %}
                        </li>
                        <!-- GitHub -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-github" style="color: #333333;"></i>
                            {% if profile.social.github %}
                                <a href="https://github.com/{{profile.social.github}}" target="_blank" style="text-decoration: none;"><p class="mb-0">{{profile.social.github}} - Github</p></a>
                            {% else %}
                                <p class="mb-0">{{context.profileGithubSocialText}}</p>
                            {% endif %}
                        </li>
                        <!-- Twitter -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-twitter-x" style="color: #55acee;"></i>
                            {% if profile.social.twitter %}
                                <a href="https://x.com/{{profile.social.twitter}}" target="_blank" style="text-decoration: none;"><p class="mb-0">{{profile.social.twitter}} - Twitter</p></a>
                            {% else %}
                                <p class="mb-0">{{context.profileTwitterSocialText}}</p>
                            {% endif %}
                        </li>
                        <!-- Instagram -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <img src="{% static "assets/intra42-logo.svg" %}" width="20px" height="20px">
                            {% if profile.social.intra42 %}
                                <a href="https://profile.intra.42.fr/users/{{profile.social.intra42}}" target="_blank" style="text-decoration: none;"><p class="mb-0">{{profile.social.intra42}} - Intra42</p></a>
                            {% else %}
                                <p class="mb-0">{{context.profileIntra42SocialText}}</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sağ Sütun (col-lg-8) -->
        <div class="col-lg-8">
            <!-- Profil Bilgileri -->
            <div class="match-history-card" >
                <div class="card-body">
                    <div class="select-history">
                        <button type="button" class="changer-btn" onclick="matchHistoryChanger('status')">✂️</button>
                    </div>
                    <div class="match-history-pong" id="match-history-pong">
                        <div class="pong-header">
                            <p style="text-align: left; margin-bottom: -1em; font-weight: bold;"> / Ping Pong</p>
                        </div>
                        <table class="card-mhistory-table">
                            <thead>
                                <tr>
                                    <th>{{context.profileMatchHistoryText1}}</th>
                                    <th>{{context.profileMatchHistoryText2}}</th>
                                    <th>{{context.profileMatchHistoryText3}}</th>
                                    <th>{{context.profileMatchHistoryText4}}</th>
                            </thead>
                            <tbody>
                                {% for game in history_page_obj %}
                                    <tr>
                                        {% if profile.username == game.player1.username %}
                                            <td class="mhistory-username">{{ game.player2.username }}</td>
                                        {% else %}
                                            <td class="mhistory-username">{{ game.player1.username }}</td>
                                        {% endif %}
                                        {% if profile.username == game.player1.username %}
                                            {% if game.winner.username == game.player1.username %}
                                                <td class="won">{{context.profileMatchHistoryWinText}}</td>
                                            {% else %}
                                                <td class="lose">{{context.profileMatchHistoryLoseText}}</td>
                                            {% endif %}
                                        {% else %}
                                            {% if game.winner.username == game.player2.username %}
                                                <td class="won">{{context.profileMatchHistoryWinText}}</td>
                                            {% else %}
                                                <td class="lose">{{context.profileMatchHistoryLoseText}}</td>
                                            {% endif %}
                                        {% endif %}
                                        <td>
                                            {% if game.winner.username == profile.username %}
                                                {{ game.winner_score }} - {{ game.loser_score }}
                                            {% else %}
                                                {{ game.loser_score }} - {{ game.winner_score }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ game.formatted_game_duration }}
                                        </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="mt-4">
                            <ul class="pagination justify-content-center">
                                <li class="page-item {% if not history_page_obj.has_previous %}disabled{% endif %}">
                                    <a class="page-link" onclick="swapApp('/profile/{{profile.username}}{% if history_page_obj.has_previous %}?page={{ history_page_obj.previous_page_number }}{% endif %}')" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <span class="page-link page-link-history">{{ history_page_obj.number }}</span>
                                </li>
                                <li class="page-item {% if not history_page_obj.has_next %}disabled{% endif %}">
                                    <a class="page-link" onclick="swapApp('/profile/{{profile.username}}{% if history_page_obj.has_next %}?page={{ history_page_obj.next_page_number }}{% endif %}')" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                                
                    </div>

                    <div class="match-history-rps" id="match-history-rps">
                        <div class="rps-header">
                            <p style="text-align: left; margin-bottom: -1em; font-weight: bold;"> / Rock Paper Scissors</p>
                        </div>
                        <table class="card-mhistory-table">
                            <thead>
                                <tr>
                                    <th>{{context.profileMatchHistoryText1}}</th>
                                    <th>{{context.profileMatchHistoryText2}}</th>
                                    <th>{{context.profileMatchHistoryText3}}</th>
                                    <th>{{context.profileMatchHistoryText4}}</th>
                            </thead>
                            <tbody>
                                {% for game_rps in game_records_rps %}
                                    <tr>
                                        {% if profile.username == game_rps.player1.username %}
                                            <td class="mhistory-username">{{ game_rps.player2.username }}</td>
                                        {% else %}
                                            <td class="mhistory-username">{{ game_rps.player1.username }}</td>
                                        {% endif %}
                                        {% if profile.username == game_rps.player1.username %}
                                            {% if game_rps.winner.username == game_rps.player1.username %}
                                                <td class="won">{{context.profileMatchHistoryWinText}}</td>
                                            {% else %}
                                                <td class="lose">{{context.profileMatchHistoryLoseText}}</td>
                                            {% endif %}
                                        {% else %}
                                            {% if game_rps.winner.username == game_rps.player2.username %}
                                                <td class="won">{{context.profileMatchHistoryWinText}}</td>
                                            {% else %}
                                                <td class="lose">{{context.profileMatchHistoryLoseText}}</td>
                                            {% endif %}
                                        {% endif %}
                                        <td>
                                            {% if game_rps.winner.username == profile.username %}
                                                {{ game_rps.winner_score }} - {{ game_rps.loser_score }}

                                            {% else %}
                                                {{ game_rps.loser_score }} - {{ game_rps.winner_score }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ game_rps.formatted_game_duration }}
                                        </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
            <!-- Proje Durumu Kartları -->
            <div class="row">
                <!-- Sol Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0" style="background-color:white !important; margin-top:10px">
                        <div class="card-body">
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">{{profile.username}} </span>/ {{context.profileRankText1}}</p>
                            <div class="rank-img">
                                <img src="{% static "assets/ranks/" %}{{ profile.get_rank_image }}" alt="Rank Image">
                            </div>
                            <div class="rank-info">
                                <h4 class="rank-h4">{{profile.get_rank_name}}</h4>
                            </div>
                            <div class="rank-info">
                                <h4 class="rank-h4">{{profile.elo_point}}EP</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sağ Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0" style="background-color:white !important; margin-top:10px; height: 328px;">
                        <div class="card-body">
                            <div class="switcher-game">
                                <button type="button" class="switch-btn" onclick="toggleGame('status')">✂️</button>
                            </div>
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">{{profile.username}} </span>/ {{context.profileStatsText}}</p>
                            <div class="stats-info-pong" id="stats-info-pong">
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-dice-1-fill"></i> {{context.profileGameStats1}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.total_games_pong %} {{profile.game_stats_pong.total_games_pong}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-trophy-fill"></i> {{context.profileGameStats2}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.total_win_pong %} {{profile.game_stats_pong.total_win_pong}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-frown-fill"></i> {{context.profileGameStats3}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.total_lose_pong %} {{profile.game_stats_pong.total_lose_pong}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-award-fill"></i> {{context.profileGameStats4}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.formatted_win_rate %} {{profile.game_stats_pong.formatted_win_rate}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-wink-fill"></i> {{context.profileGameStats5}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.total_win_streak_pong %} {{profile.game_stats_pong.total_win_streak_pong}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-clock-fill"></i> {{context.profileGameStats6}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_pong.formatted_game_duration %} {{profile.game_stats_pong.formatted_game_duration}} {% else %} 0 {% endif %}</p>
                                </div>
                            </div>

                            <div class="stats-info-rps" id="stats-info-rps">
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-dice-1-fill"></i> {{context.profileGameStats1}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.total_games_rps %} {{profile.game_stats_rps.total_games_rps }} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-trophy-fill"></i> {{context.profileGameStats2}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.total_win_rps %} {{profile.game_stats_rps.total_win_rps }} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-frown-fill"></i> {{context.profileGameStats3}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.total_lose_rps %} {{profile.game_stats_rps.total_lose_rps}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-award-fill"></i> {{context.profileGameStats4}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.formatted_win_rate %} {{profile.game_stats_rps.formatted_win_rate}} {% else %} 0 {% endif %}</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-wink-fill"></i> {{context.profileGameStats5}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.total_win_streak_rps %} {{profile.game_stats_rps.total_win_streak_rps}} {% else %} 0 {% endif %}</p>
                                </div> 
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-clock-fill"></i> {{context.profileGameStats6}}</p>
                                    <p class="stats-result-p">{% if profile.game_stats_rps.formatted_game_duration %} {{profile.game_stats_rps.formatted_game_duration}} {% else %} 0 {% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}