{% extends 'base.html' %}
{% load static %}
{% block title %}{{ username }} {{context.profileSettingsPageTittle}}{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/profilesettings.css" %}">{% endblock %}

{% block app %}
<div class="container-top">
    <div class="profile-settings-card">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-md-3">
                <nav id="profileNavbar" class="navbar navbar-expand-lg navbar-light bg-light rounded">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#profileNavLinks"
                        aria-controls="profileNavLinks" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="profileNavLinks">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#editProfile"
                                    onclick="displaySection('editProfile')"><i class="bi bi-pencil-fill"></i> {{context.profileSettingsNavbar1}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#changePassword"
                                    onclick="displaySection('changePassword')"><i class="bi bi-lock-fill"></i> {{context.profileSettingsNavbar2}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#addSocial" onclick="displaySection('addSocial')"><i
                                        class="bi bi-bookmark-fill"></i> {{context.profileSettingsNavbar3}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#blockedUsers"
                                    onclick="displaySection('blockedUsers')"><i class="bi bi-ban"></i> {{context.profileSettingsNavbar4}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#closeAccount"
                                    onclick="displaySection('closeAccount')"><i class="bi bi-door-closed-fill"></i>
                                    {{context.profileSettingsNavbar5}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- Edit Profile Content -->

            <div class="col-xl-9">
                <!-- Change Photo Section -->

                <!-- Edit Profile Form -->
                <section id="editProfile">
                        <form id="avatar_form" name="avatar_form" enctype="multipart/form-data">
                            <div class="profile-pic-container">
                                <label for="id_avatar" class="profile-pic-label">
                                    <img src="{{ avatar }}" alt="Profile Picture"
                                    class="profile-pic">
                                    <div class="change-image-overlay">
                                        <span class="bi bi-image-fill"></span>
                                        <span class="change-image-text">{{context.editProfileChangeImageText}}</span>
                                    </div>
                                </label>
                                <input type="file" name="avatar" accept="image/*" id="id_avatar" class="file-input">
                            </div> 
                        </form>
                        <form id="profile_form" name="profile_form">
                            <!-- Username textbox -->
                            <div class="mb-3">
                                <label class="small mb-1" >{{context.editProfileUsernameText}}</label>
                                <input class="form-control" id="id_username_profile" name="username" required type="text" value="{{ username }}"
                                    placeholder="{{ username }}">
                            </div>

                            <!-- Email textbox -->
                            <div class="mb-3">
                                <label class="small mb-1" >{{context.editProfileEmailText}}</label> 
                                <input class="form-control" id="id_email_profile" name="email" maxlength="320" value="{{ profile.email }}" required
                                    placeholder="{{ profile.email }}" type="email" {% if profile.is_42student %} readonly style="background-color:#e9ecef" {% endif %}>
                                {% if profile.is_42student %} <p style="color:red; font-style: italic;">{{context.editProfile42EmailText}}</p> {% endif %}
                            </div>
                            
                            <!-- Displayname textbox -->
                            <div class="mb-3">                           
                                    <label class="small mb-1">{{context.editProfileDisplayNameText}}</label>
                                    <input class="form-control" id="id_displayname_profile" name="displayname" required type="text"
                                        placeholder="{{ profile.displayname }}" value="{{ profile.displayname }}">
                            </div>
                            <!-- Submit button -->
                            <button type="button" id="profile_submit" class="btn btn-success">{{context.editProfileSaveButtonText}}</button>
                        </form>
                </section>


                <!-- Change Password Section -->
                <section id="changePassword">
                    <!-- Your code for changing password goes here -->
                    <form id="password_form" name="password_form">
                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_old_password">{{context.changePasswordCurrentPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" name="old_password" id="id_old_password" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_new_password1">{{context.changePasswordNewPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" id="id_new_password1" name="new_password1" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_new_password2">{{context.changePasswordNewConfirmPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" id="id_new_password2" name="new_password2" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>
                        {% if profile.is_42student %} <label class="small mb-1" style="color:red; font-style: italic;">                                
                        {{context.changePassword42Text}}
                        </label> <br> {% endif %}
                        <button type="button" id="password_submit" class="btn btn-outline-success"><i class="bi bi-lock-fill"></i> {{context.changePasswordSaveButtonText}}</button>
                    </form>
                </section>

                <section id="addSocial">
                    <form id="social_form" name="social_form">
                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-linkedin fs-4"></i> LinkedIn
                            </label>
                            <div class="input-group">
                                <input type="text" name="linkedin" class="form-control" id="id_linkedin" 
                                    placeholder="{{context.addSocialsLinkedinInputText}}" value="{{ profile.social.linkedin }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-twitter-x fs-4"></i> Twitter
                            </label>
                            <div class="input-group">
                                <input type="text" name="twitter" class="form-control" id="id_twitter" 
                                    placeholder="{{context.addSocialsTwitterInputText}}" value="{{ profile.social.twitter }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <img src="{% static "assets/intra42-logo.svg" %}"> Intra42
                            </label>
                            <div class="input-group">
                                <input type="text" name="intra42" class="form-control" id="id_intra42"
                                    placeholder="{{context.addSocialsIntraInputText}}" value="{{ profile.social.intra42 }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-github fs-4"></i> Github
                            </label>
                            <div class="input-group">
                                <input type="text" name="github" class="form-control" id="id_github"
                                    placeholder="{{context.addSocialsGithubInputText}}" value="{{ profile.social.github }}">
                            </div>
                        </div>

                        <!-- Diğer sosyal medya platformları için benzer şekilde devam edebilirsiniz -->

                        <button type="button" id="social_submit" class="btn btn-primary"><i class="bi bi-save-fill"></i> {{context.addSocialsSaveButtonText}}</button>
                    </form>
                </section>

                <section id="closeAccount">
                    <form id="delete_account_form" name="delete_account_form">
                        <h4>{{context.closeAccountHeaderText}}</h4>
                        <p>{{context.closeAccountSubHeaderText}}</p>
                        <input type="email" name="email" class="form-control" placeholder="{{context.closeAccountInputText}}" maxlength="320" required="" id="id_email">                        <button type="button" id="delete_account_submit" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i> {{context.closeAccountButton}}
                        </button>
                    </form>
                </section>

                <section id="blockedUsers">
                    <form id="blockedUsersForm">
                        <h4>{{context.blockedUsersHeaderText}}</h4>
                        <p class="blocked-users-info">{{context.blockedUsersSubHeaderText}}</p>
                        <div class="accounts-list">
                            {% for blocked in blocked_page_obj %}
                                <div class="account">
                                    <!-- form post edileceği yer -->
                                    <div class="profile-info">
                                        <a href="/profile" data-link><img src="{{ blocked.avatar }}"
                                                alt="Profile Image"></a>
                                        <div class="user-details">
                                            <a href="/profile" data-link>
                                                <h5>{{ blocked.displayname }}</h5>
                                            </a>
                                            <p>{{ blocked.username }}</p>
                                        </div>
                                        <button type="button" class="btn-block" data-username="{{ blocked.username }}"> {{context.blockedStatusText}}</button> <!--kişi blockladığı kişiyi çıkarmak için isim karşılığına button -->
                                    </div>
                                </div>
                            {% endfor %}
                            
                            <nav aria-label="Page navigation example " class="mt-4">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item {% if not blocked_page_obj.has_previous %}disabled{% endif %}">
                                    <a class="page-link" href="{% if blocked_page_obj.has_previous %}?page={{ blocked_page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  {% for page_num in blocked_page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_num == blocked_page_obj.number %}active{% endif %}">
                                      <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                  {% endfor %}
                                  <li class="page-item {% if not blocked_page_obj.has_next %}disabled{% endif %}">
                                    <a class="page-link" href="{% if blocked_page_obj.has_next %}?page={{ blocked_page_obj.next_page_number }}{% endif %}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>     
                        </div>
                    </form>
                </section>
            </div>
        </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-image"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold"></span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
</div>
<script>
function displaySection(sectionId) {
    var sections = ["editProfile", "addSocial", "closeAccount","blockedUsers", "changePassword"];

    for (var i = 0; i < sections.length; i++) {
        var section = document.getElementById(sections[i]);
        if (sections[i] === sectionId) {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }
}


window.onload = function() {
        // Get the hash from the URL
        var hash = window.location.hash;        
        // If there's a hash
        if(hash) {
            // Remove the '#' from the start of the hash
            var sectionId = hash.substring(1);
        
            // Call the displaySection function with the sectionId
            displaySection(sectionId);
        }
    }
    window.onhashchange = function() {
    var currentFragment = window.location.hash.substring(1);
    displaySection(currentFragment);
};


function showToast(content, status, iconClass) {
    const liveToast = document.getElementById('liveToast');
    var toastContent = document.querySelector('#liveToast .fw-semibold');
    var toastIcon = document.querySelector('.toast-body .i-class i');

    toastIcon.className = iconClass;
    liveToast.classList.remove('text-bg-danger'); 
    liveToast.className = 'toast'; 
    liveToast.classList.add(status);

    toastContent.textContent = content;
    const toast = new bootstrap.Toast(liveToast);
    toast.show();
    setTimeout(function() {
        toast.hide();
    }, 8000);
}

document.getElementById('profile_submit').addEventListener('click', function() {
    var formData = new FormData(); // FormData nesnesi oluştur

    // Form verilerini al
    formData.append('username', document.getElementById('id_username_profile').value);
    formData.append('email', document.getElementById('id_email_profile').value);
    formData.append('displayname', document.getElementById('id_displayname_profile').value);
    formData.append('profile_form', 'profile_form');

    // CSRF token'ı eklemek

    fetch('{% url "profile_settings" username=request.user.username %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
    })
    .then(response => response.json())
    .then(data => {
        if(data.message)
            showToast(data.message, 'text-bg-success', 'bi bi-check-circle-fill');
        else
            showToast(data.error, 'text-bg-danger', 'bi bi-x-circle-fill');
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

document.getElementById('password_submit').addEventListener('click', function() {
    var formData = new FormData(); // FormData nesnesi oluştur
    formData.append('old_password', document.getElementById('id_old_password').value);
    formData.append('new_password1', document.getElementById('id_new_password1').value);
    formData.append('new_password2', document.getElementById('id_new_password2').value);
    formData.append('password_form', 'password_form');
    fetch('{% url "profile_settings" username=request.user.username %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message)
            showToast(data.message, 'text-bg-success', 'bi bi-check-circle-fill');
        else
            showToast(data.error, 'text-bg-danger', 'bi bi-x-circle-fill');
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

document.getElementById('social_submit').addEventListener('click', function() {
    var formData = new FormData(); // FormData nesnesi oluştur
    formData.append('linkedin', document.getElementById('id_linkedin').value);
    formData.append('twitter', document.getElementById('id_twitter').value);
    formData.append('intra42', document.getElementById('id_intra42').value);
    formData.append('github', document.getElementById('id_github').value);
    formData.append('social_form', 'social_form');

    fetch('{% url "profile_settings" username=request.user.username %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            showToast(data.message, 'text-bg-success', 'bi bi-check-circle-fill');
        } else {
            showToast(data.error, 'text-bg-danger', 'bi bi-x-circle-fill');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });

});

document.getElementById('delete_account_submit').addEventListener('click', function() {
    var formData = new FormData(); // FormData nesnesi oluştur
    formData.append('email', document.getElementById('id_email').value);
    formData.append('delete_account_form', 'delete_account_form');

    fetch('{% url "profile_settings" username=request.user.username %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            showToast(data.message, 'text-bg-success', 'bi bi-check-circle-fill');
        } else {
            showToast(data.error, 'text-bg-danger', 'bi bi-x-circle-fill');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

document.querySelectorAll('button.btn-block').forEach(item => {
    item.addEventListener('click', event => {
        var blocked_username = event.target.dataset.username;
        // Handle blocking logic here
        console.log('Blocked user:', blocked_username);
    });
});

const fileInput = document.getElementById('id_avatar');
fileInput.addEventListener('change', function(event) {
    var file = this.files[0];
    if (file.size > 2.6 * 1024 * 1024) { // 1MB
        showToast("Photo must be under 2.6MB!", "text-bg-danger", "bi bi-image");
    }
    else {
        var formData = new FormData(); // FormData nesnesini oluştur

        formData.append('avatar', file);

        // avatar_form verisini ekle
        formData.append('avatar_form', 'avatar_form');

        // CSRF token'ı eklemek
        fetch('{% url "profile_settings" username=request.user.username %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.message)
                showToast(data.message, 'text-bg-success', 'bi bi-check-circle-fill');
            else
                showToast(data.error, 'text-bg-danger', 'bi bi-x-circle-fill');
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
});


</script>
{% endblock %}
