{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.username }}{% endblock title %}
{% block app %}
    {% include "_nav.html" %}
<div class="container-top">
    <!-- "Edit Profile" ve "Match History" Navbar -->
    <div class="row mt-4" style="margin-bottom:5px">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <!-- Navbar Marka -->
                <!-- Navbar Toggle Butonu -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar Menü -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- "Match History" Linki -->
                        <li class="nav-item">
                            <a class="nav-link" href="/match-history/{{profile.username}}"><i class="bi bi-easel-fill"></i> Match History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friends/{{profile.username}}"><i class="bi bi-people-fill"></i> Friends</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="profile-card">

    <div class="row">
        <!-- Sol Sütun (col-lg-4) -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Profil Kartı -->
            <div class="card mb-4" style="background-color:white !important">
                <!-- Profil Kartı içeriği -->
                <span class="pro-profile"><i class="bi bi-award-fill"></i> 1ST IN RANKINGS</span>
                <div class="card-body text-center">
                    <!-- Avatar -->
                    {% if not profile.avatar %}
                        <img src="{{ avatar }}" alt="avatar" class="profile-image-circ" style="aspect-ratio: 1/1; object-fit: cover;">
                    {% else %}
                        <img src="{{ profile.avatar.url }}" alt="avatar" class="profile-image-circ" style="aspect-ratio: 1/1; object-fit: cover;">
                    {% endif %}
                    <!-- isim -->
                    <h5 class="my-3">{{profile.username}}</h5>
                    <!-- Meslek -->
                    {% if profile.github %}
                        <p class="text-muted mb-1" style="color: orange !important;margin-top: -15px;font-size: 15px; font-weight: 600;">Software Developer</p>
                    {% endif %}
                    <div class="d-flex justify-content-center mb-2" style="margin-top: 30px;">
                        {% if request.user.username != profile.username %}
                            <button type="button" class="btn btn-danger"><i class="bi bi-heart-fill"></i> Follow</button>
                            <button type="button" class="unfollow-btn" style="display:none"><i class="bi bi-heartbreak-fill"></i> Unfollow</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Sosyal Medya ve Website Bilgileri -->
            <div class="card mb-4" style="background-color:white !important">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <!-- Website -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-stack-overflow" style="color: orange"></i>
                            {% if profile.socials.stackoverflow%}
                                <a href="{{profile.socials.stackoverflow}}" style="text-decoration: none;"><p class="mb-0">{{profile.username}} - Stackoverflow</p></a>
                            {% else %}
                                <p class="mb-0">No Stackoverflow</p>
                            {% endif %}
                        </li>
                        <!-- GitHub -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-github" style="color: #333333;"></i>
                            {% if profile.socials.github %}
                                <a href="{{profile.socials.github}}" style="text-decoration: none;"><p class="mb-0">{{profile.username}} - Github</p></a>
                            {% else %}
                                <p class="mb-0">No Github</p>
                            {% endif %}
                        </li>
                        <!-- Twitter -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-twitter-x" style="color: #55acee;"></i>
                            {% if profile.socials.twitter %}
                                <a href="{{profile.socials.twitter}}" style="text-decoration: none;"><p class="mb-0">{{profile.username}} - Twitter</p></a>
                            {% else %}
                                <p class="mb-0">No Twitter</p>
                            {% endif %}
                        </li>
                        <!-- Instagram -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-instagram" style="color: #ac2bac;"></i>
                            {% if profile.socials.instagram %}
                                <a href="{{profile.socials.instagram}}" style="text-decoration: none;"><p class="mb-0">{{profile.username}} - Instagram</p></a>
                            {% else %}
                                <p class="mb-0">No Instagram</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sağ Sütun (col-lg-8) -->
        <div class="col-lg-8">
            <!-- Profil Bilgileri -->
            <div class="card" style="background-color:white !important;">
                <div class="card-body">
                    <div class="mb-4">
                        <!-- isim -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.displayname}}</p>
                            </div>
                        </div>
                        <hr>
                        <!-- Email -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"> {{profile.email}} </p>
                            </div>
                        </div>
                        <hr>
                        <!-- Adres -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Joined Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.date_joined|date:"d.m.Y H:i:s" }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Joined Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.date_joined}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Joined Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.date_joined}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proje Durumu Kartları -->
            <div class="row">
                <!-- Sol Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0" style="background-color:white !important; margin-top:10px">
                        <div class="card-body">
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">{{profile.username}} </span>/ Rank</p>
                            <div class="rank-img">
                                <img src="{% static "assets/ranks/challenger.png" %}" alt="Challenger Rank">
                            </div>
                            <div class="rank-info">
                                <h4 class="rank-h4">Challenger</h4>
                            </div>
                            <div class="rank-info">
                                <h4 class="rank-h4">600PP</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sağ Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0" style="background-color:white !important; margin-top:10px; height: 328px;">
                        <div class="card-body">
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">{{profile.username}} </span>/ Stats</p>
                            <div class="stats-info">
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-dice-1-fill"></i> Games Played:</p>
                                    <p class="stats-result-p">150</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-trophy-fill"></i> Wins:</p>
                                    <p class="stats-result-p">100</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-frown-fill"></i> Loses:</p>
                                    <p class="stats-result-p">50</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-award-fill"></i> Win Rate:</p>
                                    <p class="stats-result-p">50%</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-bucket-fill"></i> Lose Rate:</p>
                                    <p class="stats-result-p">50%</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-clock-fill"></i> Average Game Duration:</p>
                                    <p class="stats-result-p">14.1m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}