{% extends 'base.html' %}
{% load static %}
{% load user_info %}
{% block title %}{{context.profileSettingsPageTittle}}{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/profilesettings.css" %}">{% endblock %}

{% block app %}
<div class="container-top" data-message="{{message}}" data-error="{{error}}">
    <div class="profile-settings-card">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-md-3">
                <nav id="profileNavbar" class="navbar navbar-expand-lg navbar-light bg-light rounded">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#profileNavLinks"
                        aria-controls="profileNavLinks" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="profileNavLinks">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" 
                                    onclick="displaySection('editProfile')"><i class="bi bi-pencil-fill"></i> {{context.profileSettingsNavbar1}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    onclick="displaySection('changePassword')"><i class="bi bi-lock-fill"></i> {{context.profileSettingsNavbar2}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="displaySection('addSocial')"><i
                                        class="bi bi-bookmark-fill"></i> {{context.profileSettingsNavbar3}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    onclick="displaySection('blockedUsers')"><i class="bi bi-ban"></i> {{context.profileSettingsNavbar4}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    onclick="displaySection('closeAccount')"><i class="bi bi-door-closed-fill"></i>
                                    {{context.profileSettingsNavbar5}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- Edit Profile Content -->

            <div class="col-xl-9">
                <!-- Change Photo Section -->

                <!-- Edit Profile Form -->
                <section id="editProfile">
                    {% user_info as user_info %}
                        <form id="avatar_form" name="avatar_form" enctype="multipart/form-data" onchange="changeAvatar(`{{user_info.username}}`)">
                            <div class="profile-pic-container">
                                <label for="id_avatar" class="profile-pic-label">
                                    
                                    <img src="{{ user_info.avatar }}" alt="Profile Picture"
                                    class="profile-pic">
                                    <div class="change-image-overlay">
                                        <span class="bi bi-image-fill"></span>
                                        <span class="change-image-text">{{context.editProfileChangeImageText}}</span>
                                    </div>
                                </label>
                                <input type="file" name="avatar" accept="image/*" id="id_avatar" class="file-input">
                            </div> 
                        </form>
                        <form id="profile_form" name="profile_form">
                            <!-- Username textbox -->
                            <div class="mb-3">
                                <label class="small mb-1" >{{context.editProfileUsernameText}}</label>
                                <input class="form-control" id="id_username_profile" name="username" required type="text" value="{{ user_info.username }}"
                                    placeholder="{{ user_info.username }}" {% if changepassword %} readonly style="background-color: #f2f2f2;" {%endif %}>
                                    {% if changepassword %} <p style="color:red; font-style: italic;">{{context.editProfileUsernameTimeText}}</p> {% endif %}
                            </div>

                            <!-- Email textbox -->
                            <div class="mb-3">
                                <label class="small mb-1" >{{context.editProfileEmailText}}</label> 
                                <input class="form-control" id="id_email_profile" name="email" maxlength="320" value="{{ profile.email }}" required
                                    placeholder="{{ profile.email }}" type="email" {% if profile.is_42student %} readonly style="background-color:#e9ecef" {% endif %}>
                                {% if profile.is_42student %} <p style="color:red; font-style: italic;">{{context.editProfile42EmailText}}</p> {% endif %}
                            </div>
                            
                            <!-- Displayname textbox -->
                            <div class="mb-3">                           
                                    <label class="small mb-1">{{context.editProfileDisplayNameText}}</label>
                                    <input class="form-control" id="id_displayname_profile" name="displayname" required type="text"
                                        placeholder="{{ profile.displayname }}" value="{{ profile.displayname }}">
                            </div>
                            <!-- Submit button -->
                            <button type="button" id="profile_submit" onclick="editProfile(`{{user_info.username}}`)" class="btn btn-success">{{context.editProfileSaveButtonText}}</button>
                        </form>
                </section>


                <!-- Change Password Section -->
                <section id="changePassword">
                    <!-- Your code for changing password goes here -->
                    <form id="password_form" name="password_form">
                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_old_password">{{context.changePasswordCurrentPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" name="old_password" id="id_old_password" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_new_password1">{{context.changePasswordNewPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" id="id_new_password1" name="new_password1" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1" for="id_new_password2">{{context.changePasswordNewConfirmPasswordText}}</label>
                            <div class="input-group">
                                <input class="form-control" id="id_new_password2" name="new_password2" type="password" autocomplete="off" required {% if profile.is_42student %} readonly style="background-color: #e9ecef"  {% endif %}>
                            </div>
                        </div>
                        {% if profile.is_42student %} <label class="small mb-1" style="color:red; font-style: italic;">                                
                        {{context.changePassword42Text}}
                        </label> <br> {% endif %}
                        <button type="button" id="password_submit"  onclick="editPassword(`{{user_info.username}}`)" class="btn btn-outline-success"><i class="bi bi-lock-fill"></i> {{context.changePasswordSaveButtonText}}</button>
                    </form>
                </section>

                <section id="addSocial">
                    <form id="social_form" name="social_form">
                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-linkedin fs-4"></i> LinkedIn
                            </label>
                            <div class="input-group">
                                <input type="text" name="linkedin" class="form-control" id="id_linkedin" 
                                    placeholder="{{context.addSocialsLinkedinInputText}}" value="{{ profile.social.linkedin }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-twitter-x fs-4"></i> Twitter
                            </label>
                            <div class="input-group">
                                <input type="text" name="twitter" class="form-control" id="id_twitter" 
                                    placeholder="{{context.addSocialsTwitterInputText}}" value="{{ profile.social.twitter }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <img src="{% static "assets/intra42-logo.svg" %}"> Intra42
                            </label>
                            <div class="input-group">
                                <input type="text" name="intra42" class="form-control" id="id_intra42"
                                    placeholder="{{context.addSocialsIntraInputText}}" value="{{ profile.social.intra42 }}">
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="small mb-1">
                                <i class="bi bi-github fs-4"></i> Github
                            </label>
                            <div class="input-group">
                                <input type="text" name="github" class="form-control" id="id_github"
                                    placeholder="{{context.addSocialsGithubInputText}}" value="{{ profile.social.github }}">
                            </div>
                        </div>

                        <!-- Diğer sosyal medya platformları için benzer şekilde devam edebilirsiniz -->

                        <button type="button" id="social_submit" onclick="editSocial(`{{user_info.username}}`)" class="btn btn-primary"><i class="bi bi-save-fill"></i> {{context.addSocialsSaveButtonText}}</button>
                    </form>
                </section>

                <section id="closeAccount">
                    <form id="delete_account_form" name="delete_account_form">
                        <h4>{{context.closeAccountHeaderText}}</h4>
                        <p>{{context.closeAccountSubHeaderText}}</p>
                        <input type="email" name="email" class="form-control" placeholder="{{context.closeAccountInputText}}" maxlength="320" required="" id="id_email">                        
                        <button type="button" id="delete_account_submit" onclick="deleteAccount(`{{user_info.username}}`)" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i> {{context.closeAccountButton}}
                        </button>
                    </form>
                </section>

                <section id="blockedUsers">
                    <form id="blockedUsersForm">
                        <h4>{{context.blockedUsersHeaderText}}</h4>
                        <p class="blocked-users-info">{{context.blockedUsersSubHeaderText}}</p>
                        <div class="accounts-list">
                            {% for blocked in blocked_users %}
                                <div class="account">
                                    <!-- form post edileceği yer -->
                                    <div class="profile-info">
                                        <a onclick="swapApp('/profile/{{blocked.username}}')"><img src="{{ blocked.avatar.url }}"
                                                alt="Profile Image"></a>
                                        <div class="user-details">
                                            <a onclick="swapApp('/profile/{{blocked.username}}')">
                                                <h5>{{ blocked.displayname }}</h5>
                                            </a>
                                            <p>{{ blocked.username }}</p>
                                        </div>
                                        <button type="button" class="btn-block" onclick="unblockButon(`{{user_info.username}}`,`{{blocked.username}}`)"> {{context.blockedStatusText}}</button> <!--kişi blockladığı kişiyi çıkarmak için isim karşılığına button -->
                                    </div>
                                </div>
                            {% endfor %}
                            
                              
                        </div>
                    </form>
                </section>
            </div>
        </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-image"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold"></span>
                      <span class="toast-close" data-bs-dismiss="toast" style="margin-left: auto; cursor:pointer"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
</div>

{% endblock %}
