{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/ranking.css' %}">
{% endblock stylesheet %}

{% block title %}
{{context.rankingsPageTittle}}
{% endblock title %}

{% block app %}
<div class="container-top">
    <div class="rankings-card">
        <div>
            <!-- Podium -->
            <div class="leaderboard-podium">
                {% for user in top_users %}
                <a onclick="swapApp('/profile/{{ user.username }}')" class="leaderboard-winner leaderboard-winner--rank{{ user.rank }}">
                    <header class="leaderboard-winner-header" >
                        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="winner-img">
                        <h3>{{ user.displayname }}</h3>
                        <span class="badge">{{ user.username }}</span>
                    </header>
                    <footer class="leaderboard-winner-footer">
                        <ul>
                            <li>
                                <small>{{context.rankingsTableRankText}}</small>
                                {% if user.rank %}
                                <strong>#{{ user.rank }}</strong>
                                {% endif %}
                            </li>
                            <li>
                                <small>{{context.rankingsTablePongPointsText}}</small>
                                <strong>{{ user.elo_point }}</strong>
                            </li>
                        </ul>
                    </footer>
                </a>
                {% endfor %}
            </div>

            <!-- Ranking -->
            <div class="leaderboard-ranking">
                <div class="data">
                    <div class="data-container">
                        <div class="data-head">
                            <div class="data-row">
                                <div class="data-cell data-cell--sm" style="display: flex">
                                    <div class="data-filter" style="visibility: hidden">Images</div>
                                    <div class="data-filter"></div>
                                </div>
                                <div class="data-cell data-cell--sm">
                                    <div class="data-filter">{{context.rankingsTableRankText}}</div>
                                </div>
                                <div class="data-cell">
                                    <div class="data-filter">{{context.rankingsTableNameText}}</div>
                                </div>
                                <div class="data-cell">
                                    <div class="data-filter">{{context.rankingsTableUsernameText}}</div>
                                </div>
                                <div class="data-cell data-cell--sm">
                                    <div class="data-filter">{{context.rankingsTableWinsText}}</div>
                                </div>
                                <div class="data-cell data-cell--sm">
                                    <div class="data-filter">{{context.rankingsTableLossesText}}</div>
                                </div>
                                <div class="data-cell data-cell--sm">
                                    <div class="data-filter">{{context.rankingsTableWinRateText}}</div>
                                </div>
                                <div class="data-cell data-cell--sm">
                                    <div class="data-filter">{{context.rankingsTablePongPointsText}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="data-body">
                            {% for user in users_page_obj %}
                            <a onclick="swapApp('/profile/{{ user.username }}')" {% if user.username == request.user.username %} style="border: 3px solid #F99601" {% endif %} class="data-item">
                                <div class="data-row">
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            <div>
                                                <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            <strong>
                                                    {{ user.rank }}
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="data-cell">
                                        <div class="data-content">
                                            {{ user.displayname }}  
                                        </div>
                                    </div>
                                    <div class="data-cell">
                                        <div class="data-content">
                                            {{ user.username }}  
                                        </div>
                                    </div>
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            {{ user.game_stats_pong.total_win_pong }}  
                                        </div>
                                    </div>
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            {{ user.game_stats_pong.total_lose_pong }}  
                                        </div>
                                    </div>
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            {{ user.game_stats_pong.formatted_win_rate }}  
                                        </div>
                                    </div>
                                    <div class="data-cell data-cell--sm">
                                        <div class="data-content">
                                            {{ user.elo_point }}  
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example " class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not users_page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" onclick="swapApp('/rankings{% if users_page_obj.has_previous %}?page={{ users_page_obj.previous_page_number }}{% endif %}')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page_num in users_page_obj.paginator.page_range %}
                    <li class="page-item {% if page_num == users_page_obj.number %}active{% endif %}">
                        <a class="page-link page-link-rankings">{{ page_num }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if not users_page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" onclick="swapApp('/rankings{% if users_page_obj.has_next %}?page={{ users_page_obj.next_page_number }}{% endif %}')"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
