{% extends 'base.html' %}
{% load static %}

{% block title %}
  Test
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/in-game.chat.css" %}"/>
    <link rel="stylesheet" href="{% static "css/remote-player.css" %}"/>
{% endblock %}

{% block app %}

  <div class="left-card">
    <table class="custom-table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          
          
      </tbody>
    </table>
    <div class="matchmaking-button" >
      <button type="button" onclick="setCanvasSize()" class="btn btn-outline-primary"><i class="bi bi-patch-check-fill"></i> MATCHMAKING</button>
    </div>

    <nav aria-label="Page navigation example" class="mt-4">
      <ul class="pagination justify-content-center">
          <li class="page-item {% if not results.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if results.has_previous %}?page={{ results.previous_page_number }}{% endif %}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          {% for page_num in results.paginator.page_range %}
              <li class="page-item {% if page_num == results.number %}active{% endif %}">
                  <a class="page-link page-link-search" href="?page={{ page_num }}">{{ page_num }}</a>
              </li>
          {% endfor %}
          <li class="page-item {% if not results.has_next %}disabled{% endif %}">
              <a class="page-link" href="{% if results.has_next %}?page={{ results.next_page_number }}{% endif %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      </ul>
    </nav>        
</div>
<canvas id="pongCanvas" class="pongCanvas"></canvas>
<div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-image"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold"></span>
                      <span class="toast-close" style="margin-left: auto;" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
<script>
  
function showToast(content, status, iconClass) {
    const liveToast = document.getElementById('liveToast');
    var toastContent = document.querySelector('#liveToast .fw-semibold');
    var toastIcon = document.querySelector('.toast-body .i-class i');

    toastIcon.className = iconClass;
    liveToast.classList.remove('text-bg-danger'); 
    liveToast.className = 'toast'; 
    liveToast.classList.add(status);

    toastContent.textContent = content;
    const toast = new bootstrap.Toast(liveToast);
    toast.show();
    setTimeout(function() {
        toast.hide();
    }, 8000);
}

//showToast('Welcome to IndianPong!', 'text-bg-danger', 'bi bi-check-circle-fill')
</script>
<script src="{% static "js/game/newsockpong.js" %}"></script>

{% endblock %}