               {% extends 'base.html' %}
{% load static %}

{% block title %}
  {{context.remotePongGamePageTittle}}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/in-game.chat.css" %}"/>
    <link rel="stylesheet" href="{% static "css/remote-player.css" %}"/>
{% endblock %}

{% block app %}

  <div class="left-card" style="overflow-y: auto;" data-paddlecolor="{{paddlecolor}}" data-playgroundcolor="{{playgroundcolor}}" data-giantman="{{giantman}}" data-likeacheater="{{likeacheater}}" data-fastandfurious="{{fastandfurious}}" data-rageoffire="{{rageoffire}}" data-frozenball="{{frozenball}}" data-tournament="{{tournament.game_mode}}">
    <div id="left-area-display">
    <table class="custom-table">
      <thead>
          <tr>
              <th>{{context.remotePongGameTableName}}</th>
              <th>{{context.remotePongGameTableActions}}</th>
          </tr>
      </thead>
      <tbody>
          
          
      </tbody>
    </table>
        
        <div class="form-check form-switch" style="justify-content: center !important; text-align: center !important; display: flex !important;">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        </div>
        <div class="game-mode-info-select" id="gameModeSelect">
            <label class="selectedmode" id="selectedGameMode">{{context.remotePongSelectedMode}}</label>
        </div>
        <div class="game-mode-info">
            <label class="form-check-label">{{context.remotePongGameStartText}}</label>
        </div>
    
    <div class="matchmaking-button">
      <button type="button" id="matchmakingButton" class="btn btn-outline-primary" style="font-size: 12px !important;"><i class="bi bi-patch-check-fill"></i> {{context.remotePongGameMatchmakingButtonText}}</button>
      <button type="button" id="leaveButton" class="btn btn-outline-danger" style="margin-left:5px; font-size: 12px !important;"><i class="bi bi-x-circle-fill"></i> {{context.remotePongGameLeaveButtonText}}</button>
      {% comment %}      <button type="button" id="restartButton" class="btn btn-outline-primary"><i class="bi bi-arrow-repeat"></i> RESTART</button>
      <button type="button" id="pauseButton" class="btn btn-outline-primary"><i class="bi bi-pause-fill"></i> PAUSE</button>
      <button type="button" id="resumeButton" class="btn btn-outline-primary"><i class="bi bi-play-fill"></i> RESUME</button> {% endcomment %}
    </div>
</div>
</div>
<canvas id="pongCanvas" class="pongCanvas"></canvas>

<div id="gameOverScreen" class="game-over-remote">
    <h1 id="winnerText" class="winnerName" style="font-size: 24px;"></h1>
    <h1 id="loserText" class="loserName" style="font-size: 16px;"></h1>
    <h2>{{context.aiGameGameOverText}}</h2>
    <button id="exitButton">{{context.aiGameExitButtonText}}</button>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-image"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold"></span>
                      <span class="toast-close" style="margin-left: auto;" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
<script>
 

//showToast('Welcome to IndianPong!', 'text-bg-danger', 'bi bi-check-circle-fill')
</script>
<script type="module" src="{% static "js/game/sockPong.js" %}"></script>
{% csrf_token %}
{% endblock %}