{% extends 'base.html' %}

{% load static %}
{% load status %}

{% block title %}
{{context.chatPageTittle}}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/chat.css" %}">{% endblock  %} 
{% block app %}

{% load custom_filters %}

  <div class="container-top">
    <div class="card">
      <section class="chat-section">
        <div class="chat-container">
          <!-- start: Sidebar -->
          <aside class="chat-sidebar">
            <ul class="chat-sidebar-menu">
              <li class="active">
                <a onclick="swapApp('/chat')" data-title="{{context.chatDMText}}"><i class="bi bi-chat-square-fill"></i></a>
              </li>
            </ul>
          </aside>
          <!-- end: Sidebar -->
          <!-- start: Content -->
          <div class="chat-content">
            <!-- start: Content side -->
            <div class="content-sidebar">
              <div class="content-sidebar-title">{{context.chatHeaderText}}</div>
              <div class="content-messages">
                <ul class="content-messages-list">
                  <li class="content-message-title">
                    <span>{{context.chatHeaderText}}</span>
                  </li>
                  {% for user in users %}
                      <li>
                        <a onclick="getChat(`{{user}}`)" data-link>
                          {% is_user_online user.username as user_is_online %}
                          {% is_user_playing user.username as user_is_playing %}
                          <img class="content-message-image" src="{{ user.avatar.url }}" alt="avatar" class="profile-image-circ" {% if user_is_playing %} style="border: 3px solid #ffa600; aspect-ratio: 1/1; object-fit: cover;" {% elif user_is_online %} style="border: 3px solid #4CAF4F; aspect-ratio: 1/1; object-fit: cover;" {% else %} style="border: 3px solid #ff0000; aspect-ratio: 1/1; object-fit: cover;" {% endif %}/>
                          <span class="content-message-info">
                            <span class="content-message-name">{{ user }}</span>
                          </span>
                        </a>
                      </li>
                  {% endfor %}
              </div>
            </div>
            <div class="conversation active" id="conversation-1">
              <div class="conversation-top">
                <button type="button" class="conversation-back"><i class="bi bi-arrow-left-circle-fill"></i></button>
                <div class="conversation-user">
                  {% if room.first_user == request.user %}
                    <a class="room-profile-click" onclick="swapApp('/profile/{{room.second_user}}')">
                    <img class="content-message-image" src="{{ room.second_user.avatar.url }}" alt=""/></a>
                    <div id="userNameOnChat" class="conversation-user-name" >
                      {{ room.second_user }}
                    </div>
                  {% else %}
                    <a class="room-profile-click" onclick="swapApp('/profile/{{room.first_user}}')">
                    <img class="content-message-image" src="{{ room.first_user.avatar.url }}" alt=""/></a>
                    <div id="userNameOnChat" class="conversation-user-name" >
                      {{ room.first_user }}
                    </div>
                  {% endif %}
                </div>
                <div class="conversation-buttons">
                  <button type="button" id="accept" style="display: none; color: #3CB371;"><i class="bi bi-check-circle-fill"></i></button>
                  <button type="button" id="decline" style="display: none; color: #DC143C;"><i class="bi bi-x-circle-fill"></i></button>
                  <button type="button" id="invite"><i class="bi bi-controller"></i></button>
                  {% if not user_friends_status|get_item:room.second_user.username %}
                    <button type="button" id="follow" style="display: block;"><i class="bi bi-heart-fill"></i></button>
                    <button type="button" id="unfollow" style="display: none;"><i class="bi bi-heartbreak-fill"></i></button>
                  {% else %}
                    <button type="button" id="follow" style="display: none;"><i class="bi bi-heart-fill"></i></button>
                    <button type="button" id="unfollow" style="display: block;"><i class="bi bi-heartbreak-fill"></i></button>
                  {% endif %}
                  {% if user_blocked_status|get_item:room.second_user.username or user_blocked_status|get_item:room.first_user.username %}
                      <button type="button" id="unblock" style="display: block;"><i class="bi bi-patch-check-fill"></i></button>
                      <button type="button" id="block" style="display: none;"><i class="bi bi-ban"></i></button>
                  {% else %}
                      <button type="button" id="block" style="display: block;"><i class="bi bi-ban"></i></button>
                      <button type="button" id="unblock" style="display: none;"><i class="bi bi-patch-check-fill"></i></button>
                  {% endif %}
              
                 <!--  <button type="button" id="block"><i class="bi bi-ban"></i></button>
                  <button type="button" id="unblock" style="display: none;"><i class="bi bi-patch-check-fill"></i></button> -->
                </div>
              </div>
              <div class="conversation-main" id="conversation"  {% if user_blocked_status|get_item:room.second_user.username or user_blocked_status|get_item:room.first_user.username %} style="display:none" {% endif %}>
                <ul class="conversation-wrapper">
                  <div class="coversation-divider">
                    <span>{{context.chatTodayText}}</span>
                  </div>
                  <div id="messages">
                  {% for message in messages %}
                    
                    {% if request.user == message.user %} 
                    <li class="conversation-item me">
                    <div class="conversation-item-content">
                      <div class="conversation-item-wrapper">
                        <div class="conversation-item-box">
                        </div>
                      </div>
                      <div class="conversation-item-wrapper">
                        <div class="conversation-item-box">
                          <div class="conversation-item-text">
                            {% if '/remote-game/tournament/' in message.content %}
                              <a href="#" data-url="{{ message.content }}" style="color: black">Tournament Match</a>
                            {% else %}
                                {{ message.content }}
                            {% endif %}
                            <div class="conversation-item-time">{{ message.get_short_date }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </li>
                      {% else %}
                        <li class="conversation-item">
                          <div class="conversation-item-content">
                            <div class="conversation-item-wrapper">
                              <div class="conversation-item-box">
                                <div class="conversation-item-text">
                                  {% if '/remote-game/tournament/' in message.content %}
                                    <a href="#" data-url="{{ message.content }}" style="color: red">Tournament Match</a>
                                  {% else %}
                                      {{ message.content }}
                                  {% endif %}
                                  <div class="conversation-item-time">{{ message.get_short_date }}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        
                    {% endif %}
                  {% endfor %}
                </div>
                </ul>
              </div>
              <div class="conversation-form">
                <button type="button" class="conversation-form-button" onclick="document.querySelector('#comment').value += '😀';"><i class="bi bi-emoji-laughing-fill"></i></button>
                <div class="conversation-form-group">
                  <textarea class="conversation-form-input" rows="1" id="comment" placeholder="{{context.chatTypeHereText}}"></textarea>
                  
                  <button type="button" class="conversation-form-record" id="send" onclick="sendButton()" {% if user_blocked_status|get_item:room.second_user.username %} disabled style="color: red !important;" {% endif %}><i class="bi bi-send-fill"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- end: Content -->
        </div>
        {{ room_name|json_script:"room-name" }}
        {{ request.user.username|json_script:"user" }}
        

      </section>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-image"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold"></span>
                      <span class="toast-close" data-bs-dismiss="toast" style="margin-left: auto; cursor:pointer"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  {% csrf_token %}
{% endblock %}