{% extends 'base.html' %}

{% block title %}Rps Game Find{% endblock title %}
{% block app %}
{% include "_nav.html" %}
<div class="container-top">
    <div class="card">
        <h3 class="pong-game-text">Welcome to Tournament RPS Find</h3>
        <div class="custom-text">
            You can play with the AI and improve yourself without reflecting it in your stats, as if you were just
            warming up. If you want to play with a real person, consider the other option, remember that if we don't
            find someone to match you within 5 minutes, the match will be canceled. Good luck before I forget!
        </div>

        <div class="ai-btn">
            <div class="ponggamebtn-ai">Play With AI <i class="bi bi-robot"></i></div>
        </div>
        <div class="opponent-btn">
            <a href="/room-list"><div class="ponggamebtn">Search Opponent <i class="bi bi-person-arms-up"></i></div></a>
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}
