{% extends 'base.html' %}

{% block title %}Search{% endblock title %}
{% block app %}
  {% include "_nav.html" %}
<div class="container-top">
    <div class="card">
        <!-- Arama kutusu ve butonu -->
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <div class="search-container">
                <input type="text" name="search_query" placeholder="Email or Username Search..." class="search-input">
                <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <div class="card-container-wrapper">
            {% if results %}
                {% for kullanici in results %}
                    <div class="card-container">
                        <span class="pro">1ST</span>
                        {% if kullanici.avatar %}
                            <a href="/profile/{{kullanici.username}}" class="go-profile"><img class="round" src="{{kullanici.avatar.url}}" width="156px" height="156px"
                                alt="user" /></a>
                        {% else %}
                            <a href="/profile/{{kullanici.username}}" class="go-profile"><img class="round" src="/static/assets/profile/profilephoto.jpeg"
                                alt="user" width="128px" height="128px"/></a>
                        {% endif %}
                        <h3>{{kullanici.username}}</h3>
                        {% if kullanici.displayname %}
                            <h6>{{kullanici.displayname}}</h6>
                        {% else %}
                            <h6>Unspecified</h6>
                        {% endif %}
                        <div class="buttons">
                            <button class="primary">Message</button>
                            <button class="primary ghost">Add Friends</button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p style="color:orange; font-weight:bold">No results found.</p>
            {% endif %}
           
        </div>
    </div>
</div>
</div>
{% endblock app %}