{% extends "base.html" %}
{% block title %}{{context.searchPageTittle}}{% endblock title %}

{% load static %}
{% load status %}

{% block stylesheet %}<link rel="stylesheet" href="{% static "css/search.css" %}">{% endblock stylesheet %}

{% block app %}
<div class="container-top">
    <div class="search-card">
        <!-- Arama kutusu ve butonu -->
        <form id="searchForm" method="POST" onsubmit="makeSearch('test')">
            {% csrf_token %}
            <div class="search-container">
                <input type="text" name="search_query" placeholder="{{context.searchInputText}}" class="search-input" autocomplete="off" data-lpignore="true">
                <button class="search-button" type="button" onclick="makeSearch('test')"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <div class="card-container-wrapper">
        <!-- Arama sonuçları -->
            {% for person in results %}
              <div class="card-containers">
                <div class="profile-card">
                  <div class="image">
                      {% is_user_online person.username as person_is_online %}
                      {% is_user_playing person.username as person_is_playing %}
                        <a href="profile/{{person.username}}"><img src="{{person.avatar.url}}" alt="" class="profile-img {% if person_is_playing %}playing{% elif person_is_online %}online{% else %}offline{% endif %}"/></a>
                    </div>
                    <div class="text-data">
                      <span class="name">{{person.username}}</span>
                      <span class="job">{{person.displayname}}</span>
                    </div>
                    <div class="media-buttons">
                      {% if person.social.linkedin %}
                        <a href="https://www.linkedin.com/in/{{person.social.linkedin}}" target="_blank" class="medialinks instagram"><i class="bi bi-linkedin"></i></a>
                      {% endif %}
                      {% if person.social.twitter %}
                        <a href="https://x.com/{{person.social.twitter}}" target="_blank" class="medialinks twitterx"><i class="bi bi-twitter-x"></i></a>
                      {% endif %}
                      {% if person.social.intra42 %}
                        <a href="https://profile.intra.42.fr/users/{{person.social.intra42}}" target="_blank" class="medialinks stackoverflow"><img src="{% static "assets/intra-42-white.svg" %}"></a>
                      {% endif %}
                      {% if person.social.github %}
                        <a href="https://github.com/{{person.social.github}}" target="_blank" class="medialinks github"><i class="bi bi-github"></i></a>
                      {% endif %}
                      
                      
                    </div>
                    {% if not person.social.stackoverflow and not person.social.twitter and not person.social.github and not person.social.instagram %}
                      <div class="buttons" style="margin-top: 60px !important;">
                      {% if person.is_friend %}
                        <button data-username="{{ person.username }}" class="button-follow" style="background-color: black !important;">{{context.searchFollowingButtonText}}</button>
                      {% else %}
                        <button data-username="{{ person.username }}" class="button-follow">{{context.searchFollowButtonText}}</button>
                      {% endif %}
                      </div>
                    {% else %}
                      <div class="buttons">
                      {% if person.is_friend %}
                        <button data-username="{{ person.username }}" class="button-follow" style="background-color: black !important;">{{context.searchFollowingButtonText}}</button>
                      {% else %}
                        <button data-username="{{ person.username }}" class="button-follow">{{context.searchFollowButtonText}}</button>
                      {% endif %}
                      </div>
                    {% endif %}
                  
                      <div class="analytics">
                        <div class="data">
                          <i class="bi bi-dice-1-fill" style="color: #FF5733;"></i>
                          <span class="number">{% if person.game_stats_pong.total_games_pong %} {{person.game_stats_pong.total_games_pong}} {% else %} 0 {% endif %}</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-trophy-fill" style="color: #FFD601;"></i>
                          <span class="number">{% if person.game_stats_pong.total_win_pong %} {{person.game_stats_pong.total_win_pong}} {% else %} 0 {% endif %}</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-award-fill" style="color: #4CAF4F;"></i>
                          <span class="number">{% if person.game_stats_pong.formatted_win_rate %} {{person.game_stats_pong.formatted_win_rate}} {% else %} 0% {% endif %}</span>
                        </div>
                      </div>
                   
                </div>
              </div>
              {% empty %}
              <p style="color:tomato; font-weight:bold; text-align: center;">{{context.searchNoResultFoundText}}</p>
              {% endfor %}
            </div>
            <nav aria-label="Page navigation example" class="mt-4">
              <ul class="pagination justify-content-center">
                  <li class="page-item {% if not results.has_previous %}disabled{% endif %}">
                      <a class="page-link" onclick="swapApp('/search{% if results.has_previous %}?page={{ results.previous_page_number }}{% endif %}')" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% for page_num in results.paginator.page_range %}
                      <li class="page-item {% if page_num == results.number %}active{% endif %}">
                          <a class="page-link page-link-search">{{ page_num }}</a>
                      </li>
                  {% endfor %}
                  <li class="page-item {% if not results.has_next %}disabled{% endif %}">
                      <a class="page-link" onclick="swapApp('/search{% if results.has_next %}?page={{ results.next_page_number }}{% endif %}')" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
            </nav>        
            
    </div>
  </div>
  <script type="module" src="{% static "js/search.js" %}"></script>

{% endblock app %}