{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="../../../static/css/search.css">{% endblock stylesheet %}

{% block app %}
  {% include "_nav.html" %}
<div class="container-top">
    <div class="search-card">
        <!-- Arama kutusu ve butonu -->
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <div class="search-container">
                <input type="text" name="search_query" placeholder="Email or Username or Displayname Search..." class="search-input" autocomplete="off" data-lpignore="true">
                <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <div class="card-container-wrapper">
        <!-- Arama sonuçları -->
        {% if results %}
            {% for kullanici in results %}
              <div class="card-containers">
                <div class="profile-card">
                    <div class="image">
                        {% if kullanici.avatar %}
                            <a href="profile/{{kullanici.username}}"><img src="{{kullanici.avatar.url}}" alt="" class="profile-img" /></a>
                        {% else %}
                            <a href="profile/{{kullanici.username}}"><img src="/static/assets/profile/profilephoto.jpeg" alt="" class="profile-img" /></a>
                        {% endif %}
                    </div>
                    <div class="text-data">
                      <span class="name">{{kullanici.username}}</span>
                      <span class="job">{{kullanici.displayname}}</span>
                    </div>
                    <div class="media-buttons">
                      {% if kullanici.social.stackoverflow %}
                        <a href="https://stackoverflow.com/users/{{kullanici.social.stackoverflow}}" target="_blank" class="medialinks stackoverflow"><i class="bi bi-stack-overflow"></i></a>
                      {% endif %}
                      {% if kullanici.social.github %}
                        <a href="https://github.com/{{kullanici.social.github}}" target="_blank" class="medialinks github"><i class="bi bi-github"></i></a>
                      {% endif %}
                      {% if kullanici.social.twitter %}
                        <a href="https://x.com/{{kullanici.social.twitter}}" target="_blank" class="medialinks twitter"><i class="bi bi-twitter"></i></a>
                      {% endif %}
                      {% if kullanici.social.instagram %}
                        <a href="https://www.instagram.com/{{kullanici.social.instagram}}" target="_blank" class="medialinks instagram"><i class="bi bi-instagram"></i></a>
                      {% endif %}
                    </div>
                    {% if not kullanici.social.stackoverflow and not kullanici.social.twitter and not kullanici.social.github and not kullanici.social.instagram %}
                      <div class="buttons" style="margin-top: 60px !important;">
                        {% if kullanici.is_friend %}
                        <button data-username="{{ kullanici.username }}" class="button-follow">Unfollow</button>
                      {% else %}
                        <button data-username="{{ kullanici.username }}" class="button-follow">Follow</button>
                      {% endif %}
                      <a href="/start_chat/{{kullanici.username}}"> <button class="button-message">Message</button></a>
                      </div>
                    {% else %}
                      <div class="buttons">
                        {% if kullanici.is_friend %}
                        <button data-username="{{ kullanici.username }}" class="button-follow">Unfollow</button>
                      {% else %}
                        <button data-username="{{ kullanici.username }}" class="button-follow">Follow</button>
                      {% endif %}
                      <a href="/start_chat/{{kullanici.username}}"> <button class="button-message">Message</button></a>
                      </div>
                    {% endif %}
                  
                      <div class="analytics">
                        <div class="data">
                          <i class="bi bi-dice-1-fill" style="color: #FF5733;"></i>
                          <span class="number">50</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-trophy-fill" style="color: #FFD601;"></i>
                          <span class="number">50</span>
                        </div>
                        <div class="data">
                          <i class="bi bi-award-fill" style="color: #4CAF4F;"></i>
                          <span class="number">100%</span>
                        </div>
                      </div>
                   
                </div>
              </div>
              {% endfor %}
              {% else %}
              <p style="color:orange; font-weight:bold; text-align: center;">No results found.</p>
              {% endif %}
            </div>
            <nav aria-label="Page navigation example" class="mt-4">
              <ul class="pagination justify-content-center">
                  <li class="page-item {% if not results.has_previous %}disabled{% endif %}">
                      <a class="page-link" href="{% if results.has_previous %}?page={{ results.previous_page_number }}{% endif %}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% for page_num in results.paginator.page_range %}
                      <li class="page-item {% if page_num == results.number %}active{% endif %}">
                          <a class="page-link page-link-deneme" href="?page={{ page_num }}">{{ page_num }}</a>
                      </li>
                  {% endfor %}
                  <li class="page-item {% if not results.has_next %}disabled{% endif %}">
                      <a class="page-link" href="{% if results.has_next %}?page={{ results.next_page_number }}{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
            </nav>        
    </div>
  </div>
<script>
  const followButtons = document.querySelectorAll(".button-follow");
  followButtons.forEach((button) => {
    button.addEventListener('click', (e) => {
      const username = e.target.getAttribute('data-username');
      const action = e.target.innerHTML.trim().toLowerCase();
      fetch(`/follow_unfollow/${username}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: JSON.stringify({ action: action })
      })
      .then(response => response.json())
      .then(data => {
        if (data['status'] === 'ok') {
          e.target.innerHTML = action === 'follow' ? 'Unfollow' : 'Follow';
        }
      });
    });
  });
</script>
{% endblock app %}