<!-- set_password.html -->

{% extends 'base.html' %}

{% block title %}Set Password{% endblock %}

{% block app %}
<div class="cursor">
    <div class="container">
        <div class="RegisterArea" id="RegisterArea">
            <form method="post" enctype="multipart/form-data" class="form">
                    <div class="title">
                        Set Password,
                        <span class="titlebottom">set your password</span>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button-confirm">Set</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}