{% extends 'base.html' %}

{% block title %}{{ username }} Store{% endblock title %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="../../../static/css/store.css">{% endblock stylesheet %}

{% block app %}
  {% include "_nav.html" %}
  <div class="container-top">
    <div class="store-card">
      
       <div class="top-store">
        <div class="store-left">
          <h3>{{username}} / Store</h3>
        </div>
        <div class="store-mid">
          <div class="category-field">
            <h5 class="category-text"><a href="?category_name=All">#All</a></h5>
          </div>
          <div class="category-field">
            <h5 class="category-text"><a href="?category_name=Pong">#Pong</a></h5>
          </div>
          <div class="category-field">
            <h5 class="category-text"><a href="?category_name=RPS">#RPS</a></h5>
          </div>
        </div>
        <div class="store-mid-right">
          <div class="store-inventory-field">
            <h5 class="inventory-text"><a href="/inventory/{{username}}"><i class="bi bi-backpack2-fill"></i></a></h5>
          </div>
        </div>
        <div class="top-store-card">
          <div class="store-right">
                <i class="bi bi-piggy-bank-fill flip-horizontal"></i> 
                <div class="store-text-fields">
                  <span class="small-wallet-name">Wallet:</span>
                  <span class="wallet-amount">{{profile.indian_wallet}}N₩</span>
                </div>
          </div>
        </div>
      </div>
      
      <div class="store-info">
        <span class="tooltiptext">Oyun oynayarak <span style="font-weight: bold;">N₩</span> kazanabilirsin.</span>
      </div>
        <div class="store-list">

          
          {% for item in store_items %}
            {% if item.show_status %}
              <div class="product-card">
                <img src="{% static 'assets/stores/'|add:item.image_url %}" alt="" />
                <h2 class="card__title">{{ item.name }}</h2>
                <h4 {% if item.category_name == "Pong" %} class="card__category pong" {% elif item.category_name == "RPS" %} class="card__category rps" {% else %} class="card__category all" {% endif %}>
                  <a href="?category_name={{item.category_name}}">#{{ item.category_name }}</a>
                </h4>
                <span class="card__description">{{item.description}}</span>
                <div class="card__shop">
                  <span class="card__shop__price">{{item.price}}N₩</span>
                    <form id="store_item_form{{ item.id }}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="name" value="{{ item.name }}">
                      <input type="hidden" name="action" value="buy">
                      <input type="hidden" name="whatis" value="none">
                      <button type="button" class="card__shop__action" 
                          {% if item.price <= profile.indian_wallet %}
                              onclick="submitStoreItemForm('{{ item.name }}', '{{item.id}}')"
                          {% else %}
                              onclick="showToast('{{ item.name}} öğesini satın almak için yeterli N₩`ın yok', 'text-bg-danger', 'bi bi-info-square-fill')"
                          {% endif %}
                      >
                          <i class="bi bi-bag-heart-fill" style="color:white; font-size: 1.1em;"></i>
                      </button>
                    </form>
                      <i class="bi bi-bag-heart-fill" style="color:white; font-size: 1.1em;"></i>
                    </button>
                </div>
              </div>
            {% endif %}
            {% endfor %}

          
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">NULL</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<script>

function showToast(content, status, iconClass) {
    const liveToast = document.getElementById('liveToast');
    var toastContent = document.querySelector('#liveToast .fw-semibold');
    var toastIcon = document.querySelector('.toast-body .i-class i');

    toastIcon.className = iconClass;
    liveToast.classList.remove('text-bg-danger'); 
    liveToast.className = 'toast'; 
    liveToast.classList.add(status);

    toastContent.textContent = content;

    const toast = new bootstrap.Toast(liveToast);
    toast.show();

}


function submitStoreItemForm(itemName, formId) {
    const form = document.getElementById('store_item_form' + formId);
    showToast(`${itemName} öğesini başarıyla satın aldın!`, `text-bg-success`, `bi bi-shop`);
    setTimeout(function () {
        form.submit();
    }, 500);
}


document.addEventListener('DOMContentLoaded', (event) => {
    const storeInfos = document.getElementsByClassName('store-info'); // .store-info'ya erişim
    const smallWalletNames = document.getElementsByClassName('small-wallet-name');

    for (let i = 0; i < smallWalletNames.length; i++) {
        smallWalletNames[i].addEventListener('mouseover', () => {
            storeInfos[i].style.visibility = 'visible';
        });

        smallWalletNames[i].addEventListener('mouseout', () => {
            storeInfos[i].style.visibility = 'hidden';
        });
    }});
    
</script>
{% endblock app %}