{% extends 'base.html' %}
{% load static %}

{% block title %}{{context.tournamentPageTittle}}{% endblock title %}
{% block stylesheet %}<link rel="stylesheet" href="{% static "css/game-find.css" %}">{% endblock stylesheet %}

{% block app %}
<div class="container-top">
    <div class="card">
        <h3 class="pong-game-text">{{context.tournamentHeaderText}}</h3>
        <div class="custom-text">
            {{context.tournamentSubHeaderText}}
        </div>

        <div class="tournament-btn">
            <div class="game-btn-container">
                <a onclick="swapApp('/tournament-room-list')" class="game-btn"><div class="ponggamebtn-ai">{{context.tournamentJoinButtonText}} <i class="bi bi-arrow-down-right-circle-fill"></i></div></a>
            </div>
            <div class="game-btn-container">
                <a onclick="swapApp('/tournament-create')" class="game-btn"><div class="rpsgamebtn-local">{{context.tournamentCreateButtonText}} <i class="bi bi-plus-square-fill"></i></div></a>
            </div>
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}
