{% extends 'base.html' %}

{% block title %}Tournament Room{% endblock %}

{% block app %}
    {% include "_nav.html" %}
<div class="container-top">
    <div class="card">

        <div class="indian-logo">
            <img class="logo-indian" src="../../assets/logo-dark.png">
        </div>
        <div class="pong-game-text">
            <h3 class="pong-game-text">Room #1 - Ping Pong Tournament Room</h3>
        </div>
        <div class="game-room-buttons">
            <button class="leave-button" type="button"><i class="bi bi-x-circle-fill"></i> LEAVE GAME</button>
            <button class="leave-button" type="button"><i class="bi bi-flag-fill"></i> START GAME</button>
            <button class="leave-button" id="checkbracket" onclick="displaySectionGame('game-bracket-section')"
                type="button"><i class="bi bi-calendar-check-fill"></i> CHECK BRACKET</button>
            <button class="leave-button" id="gameroombracket" onclick="displaySectionGame('game-room-section')"
                type="button"><i class="bi bi-4-square-fill"></i> GAME ROOM</button>
        </div>
        <section id="game-room-section">
            <div class="player-wrapper">
                <div class="place">
                    <div class="place-container">
                        <div class="avatar-container">
                            <img src="https://static.codingame.com/servlet/fileservlet?id=107054628046315&amp;format=profile_avatar"
                                alt="Avatar" class="game-room-avatar">
                        </div>
                        <div class="clash-info player-info">
                            <p class="truncate-pseudo" title="Flei">Flei</p>
                        </div>
                    </div>
                </div>
                <div class="place">
                    <div class="place-container">
                        <div class="avatar-container-free">
                            <img src="https://static.codingame.com/assets/img_waiting_for_player.8346764a.png"
                                alt="Avatar" class="game-room-avatar-none">
                        </div>
                        <div class="clash-info free-info">
                            <div class="waitLabel">
                                <p>Waiting <br> for player... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place">
                    <div class="place-container">
                        <div class="avatar-container-free">
                            <img src="https://static.codingame.com/assets/img_waiting_for_player.8346764a.png"
                                alt="Avatar" class="game-room-avatar-none">
                        </div>
                        <div class="clash-info free-info">
                            <div class="waitLabel">
                                <p>Waiting <br> for player... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place">
                    <div class="place-container">
                        <div class="avatar-container-free">
                            <img src="https://static.codingame.com/assets/img_waiting_for_player.8346764a.png"
                                alt="Avatar" class="game-room-avatar-none">
                        </div>
                        <div class="clash-info free-info">
                            <div class="waitLabel">
                                <p>Waiting <br> for player... </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="game-bracket-section">
            <div class="game-bracket-area">
                <div class="bracket-area">
                    <div class="bracket disable-image">
                        <div class="column one">
                            <div class="match winner-bottom">
                                <div class="match-top team">
                                    <span class="image"></span>
                                    <span class="seed">1</span>
                                    <span class="name">Fatih Terim</span>
                                    <span class="score">1</span>
                                </div>
                                <div class="match-bottom team">
                                    <span class="image"></span>
                                    <span class="seed">2</span>
                                    <span class="name">Enemy</span>
                                    <span class="score">2</span>
                                </div>
                                <div class="match-lines">
                                    <div class="line one"></div>
                                    <div class="line two"></div>
                                </div>
                                <div class="match-lines alt">
                                    <div class="line one"></div>
                                </div>
                            </div>
                            <div class="match winner-bottom">
                                <div class="match-top team">
                                    <span class="image"></span>
                                    <span class="seed">3</span>
                                    <span class="name">Enemy</span>
                                    <span class="score">1</span>
                                </div>
                                <div class="match-bottom team">
                                    <span class="image"></span>
                                    <span class="seed">4</span>
                                    <span class="name">Enemy</span>
                                    <span class="score">2</span>
                                </div>
                                <div class="match-lines">
                                    <div class="line one"></div>
                                    <div class="line two"></div>
                                </div>
                                <div class="match-lines alt">
                                    <div class="line one"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column three">
                            <div class="match winner-top">
                                <div class="match-top team">
                                    <span class="image"></span>
                                    <span class="seed">5</span>
                                    <span class="name">West Virginia Runners</span>
                                    <span class="score">3</span>
                                </div>
                                <div class="match-bottom team">
                                    <span class="image"></span>
                                    <span class="seed">3</span>
                                    <span class="name">San Francisco Porters</span>
                                    <span class="score">2</span>
                                </div>
                                <div class="match-lines">
                                    <div class="line one"></div>
                                    <div class="line two"></div>
                                </div>
                                <div class="match-lines alt">
                                    <div class="line one"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
