{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/room-list.css' %}">
{% endblock stylesheet %}

{% block title %} {{context.tournamentRoomListPageTittle}} {% endblock title %}

{% block app %}

<div class="container-top">
    <div class="card">
            <h3 class="pong-game-text" style="text-align: center; color: white;">{{context.tournamentRoomListHeaderText}}</h3>
            <div class="room-wrapper">
              {% for tournament in tournaments %}
                  <div class="room rps-room">
                      <a onclick="swapApp('/tournament-room/{{tournament.id}}')" ≈ alt="Mythrill">
                        <div class="game-room-card">
                          <div class="wrapper-rooms">
                            <img src="{% static "assets/backgrounds/bg-pingpong.png" %}" {% if tournament.status == "started" %} class="cover-image-started" {% elif tournament.status == "ended" %} class="cover-image-ended" {% else %} class="cover-image" {% endif %}/>
                          </div>
                          <div class="title-room">
                              <h4>Pong Room#{{tournament.id}} {{tournament.name}}</h4>
                              <h6 {% if tournament.status == "started" %} style="color:orange; font-weight:bold;" {% elif tournament.status == "ended" %} style="color:red; font-weight:bold;" {% else %} style="color: green; font-weight:bold;" {% endif %}>{{tournament.status}}</h6>
                              <p>{{tournament.creator.username}}</p>
                          </div>
                          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/table-tennis-5789761-4849378.png?f=webp" class="character" />
                        </div>
                      </a>
                  </div>
              {% endfor %}
{% comment %} 
                <div class="room rps-room">
                    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
                      <div class="game-room-card">
                        <div class="wrapper-rooms">
                          <img src="{% static "assets/backgrounds/bg-rps.png" %}" class="cover-image" />
                        </div>
                        <div class="title-room">
                            <h4>RPS</h4>
                            <h6>Opened</h6>
                            <p>Bitlis</p>
                        </div>
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/rock-paper-scissors-hand-gesture-3984949-3297447.png?f=webp" class="character" />
                      </div>
                    </a>
                </div> {% endcomment %}

                
            </div>
            <div>
              <nav aria-label="Page navigation example" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not tournaments.has_previous %}disabled{% endif %}">
                        <a class="page-link" onclick="swapApp('/tournament-room-list{% if tournaments.has_previous %}?page={{ tournaments.previous_page_number }}{% endif %}')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page_num in tournaments.paginator.page_range %}
                        <li class="page-item {% if page_num == tournaments.number %}active{% endif %}">
                            <a class="page-link page-link-roomlist">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not tournaments.has_next %}disabled{% endif %}">
                        <a class="page-link" onclick="swapApp('/tournament-room-list{% if tournaments.has_next %}?page={{ tournaments.next_page_number }}{% endif %}')" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
              </nav>        
            </div>
            
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-6" style="margin-right: 20px; margin-bottom: 20px">
      <div class="toast text-bg-danger" id="liveToast" role="alert">
          <div class="toast-body">
              <div class="d-flex gap-4">
                  <span class="i-class"><i class="bi bi-bug-fill"></i></span>
                  <div class="d-flex flex-grow-1 align-items-center">
                      <span class="fw-semibold">NULL</span>
                      <span class="toast-close" data-bs-dismiss="toast"><i class="bi bi-x-circle-fill"></i></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

