{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/room-list.css' %}">
{% endblock stylesheet %}

{% block title %} {{context.tournamentRoomListPageTittle}} {% endblock title %}

{% block app %}

<div class="container-top">
    <div class="card">
            <h3 class="pong-game-text" style="text-align: center; color: white;">{{context.tournamentRoomListHeaderText}}</h3>
            
            <div class="room-wrapper">
              {% for tournament in tournaments %}
                <div class="room rps-room">
                    <a href="{% url 'tournament-room' id=tournament.id %}" alt="Mythrill">
                      <div class="game-room-card">
                        <div class="wrapper-rooms">
                          <img src="{% static "assets/backgrounds/bg-pingpong.png" %}" class="cover-image" />
                        </div>
                        <div class="title-room">
                            <h4>Pong Room#{{tournament.id}} {{tournament.name}}</h4>
                            <h6>{{tournament.status}}</h6>
                            <p>{{tournament.creator.username}}</p>
                        </div>
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/table-tennis-5789761-4849378.png?f=webp" class="character" />
                      </div>
                    </a>
                </div>
              {% endfor %}
{% comment %} 
                <div class="room rps-room">
                    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
                      <div class="game-room-card">
                        <div class="wrapper-rooms">
                          <img src="{% static "assets/backgrounds/bg-rps.png" %}" class="cover-image" />
                        </div>
                        <div class="title-room">
                            <h4>RPS</h4>
                            <h6>Opened</h6>
                            <p>Bitlis</p>
                        </div>
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/rock-paper-scissors-hand-gesture-3984949-3297447.png?f=webp" class="character" />
                      </div>
                    </a>
                </div> {% endcomment %}

                
            </div>
            <div>
              <nav aria-label="Page navigation example" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not tournaments.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if tournaments.has_previous %}?page={{ tournaments.previous_page_number }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page_num in tournaments.paginator.page_range %}
                        <li class="page-item {% if page_num == tournaments.number %}active{% endif %}">
                            <a class="page-link page-link-roomlist" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not tournaments.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if tournaments.has_next %}?page={{ tournaments.next_page_number }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
              </nav>        
            </div>
            
    </div>
</div>
{% endblock %}

