<!-- update_profile.html -->

{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}
{% block app %}
{% include "_nav.html" %}
<div class="cursor">
    <div class="container">
        <div class="RegisterArea" id="RegisterArea">
            <form method="post" enctype="multipart/form-data" class="form">
                    <div class="title">
                        Update Profile,
                        <span class="titlebottom">update your profile</span>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <label>Password:</label>
                        <div disabled aria-describedby="id_password_helptext" id="id_password">
                    <strong>No password set.</strong>
                    </div>
                          <span class="helptext" id="id_password_helptext">You can change the password using <a href="http://localhost:8000/password_change">this form</a>.</span>
                      </p>
                    <button type="submit" class="button-confirm">Update</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}
