<div class="cursor">
    <div class="container">
        <div class="ChangePasswordArea" id="ChangePasswordArea">
            <form class="form" method="post">
               
                <div class="title">
                    Change Password
                </div>       
                <input class="input" name="password" placeholder="Password" type="password">
                <input class="input" name="confirmpassword" placeholder="Confirm Password" type="password">
                <a href="" data-link><button class="button-send-email"><i class="bi bi-check-circle-fill"></i> Save Password</button></a>
                
            </form>
        </div>
    </div>
</div>