{% include '_nav.html' %} 
<div class="container-top">
    <!-- "Edit Profile" ve "Match History" Navbar -->
    <div class="row mt-4" style="margin-bottom:5px">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <!-- Navbar Marka -->
                <!-- Navbar Toggle Butonu -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar Menü -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- "Match History" Linki -->
                        <li class="nav-item">
                            <a class="nav-link" href="/match-history"><i class="bi bi-easel-fill"></i> Match History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friends"><i class="bi bi-people-fill"></i> Friends</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="profile-card">

    <div class="row">
        <!-- Sol Sütun (col-lg-4) -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Profil Kartı -->
            <div class="card mb-4">
                <!-- Profil Kartı İçeriği -->
                <span class="pro-profile"><i class="bi bi-award-fill"></i> 1ST IN RANKINGS</span>
                <div class="card-body text-center">
                    <!-- Avatar -->
                    <img src="../../assets/profile/profilephoto.jpeg" alt="avatar" class="rounded-circle img-fluid"
                        style="width: 150px;">
                    <!-- İsim -->
                    <h5 class="my-3">Fatih Terim</h5>
                    <!-- Meslek -->
                    <p class="text-muted mb-1">Full Stack Developer</p>
                    <!-- Konum -->
                    <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                    <!-- Takip ve İstatistik Butonları -->
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-danger"><i class="bi bi-heart-fill"></i> Follow</button>
                        <button type="button" class="unfollow-btn" style="display:none"><i
                                class="bi bi-heartbreak-fill"></i> Unfollow</button>
                    </div>
                </div>
            </div>
            <!-- Sosyal Medya ve Website Bilgileri -->
            <div class="card mb-4">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <!-- Website -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-stack-overflow" style="color: orange"></i>
                            <p class="mb-0">fatihterim</p>
                        </li>
                        <!-- GitHub -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-github" style="color: #333333;"></i>
                            <p class="mb-0">fatihterim</p>
                        </li>
                        <!-- Twitter -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-twitter-x" style="color: #55acee;"></i>
                            <p class="mb-0">fatihterim</p>
                        </li>
                        <!-- Instagram -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="bi bi-instagram" style="color: #ac2bac;"></i>
                            <p class="mb-0">fatihterim</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sağ Sütun (col-lg-8) -->
        <div class="col-lg-8">
            <!-- Profil Bilgileri -->
            <div class="card">
                <div class="card-body">
                    <div class="mb-4">
                        <!-- İsim -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Fatih Terim</p>
                            </div>
                        </div>
                        <hr>
                        <!-- Email -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <!-- Telefon -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <!-- Mobil -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <!-- Adres -->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proje Durumu Kartları -->
            <div class="row">
                <!-- Sol Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">Fatih Terim </span>/ Rank</p>
                            <div class="rank-img">
                                <img src="../../assets/ranks/challenger.png" alt="Challenger Rank">
                            </div>
                            <div class="rank-info">
                                <h4 class="rank-h4">Challenger</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sağ Proje Kartı -->
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <!-- Proje Durumu Başlığı -->
                            <p class="mb-4"><span class="text-primary font-italic me-1">Fatih Terim</span>/ Stats</p>
                            <div class="stats-info">
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-dice-1-fill"></i> Games Played:</p>
                                    <p class="stats-result-p">150</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-trophy-fill"></i> Wins:</p>
                                    <p class="stats-result-p">100</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-emoji-frown-fill"></i> Loses:</p>
                                    <p class="stats-result-p">50</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-award-fill"></i> Win Rate:</p>
                                    <p class="stats-result-p">50%</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-bucket-fill"></i> Lose Rate:</p>
                                    <p class="stats-result-p">50%</p>
                                </div>
                                <div class="stats">
                                    <p class="stats-p"><i class="bi bi-clock-fill"></i> Average Game Duration:</p>
                                    <p class="stats-result-p">14.1m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>