{% extends "base.html" %}

{% load static %}

{% block title %}Rankings{% endblock title %}

{% block app %}
  {% include "_nav.html" %}
<div class="container-top">
    <div class="card">
        <div class="rankings-card-header">
            <h3 class="rankings-header"> / Rankings</h3>
        </div>
        <div class="rankings">
            <table class="card-rankings-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Users</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win Rate</th>
                        <th>Pong Point (PP)</th>
                </thead>
                <tbody>
                    {% for rank in rank_page_obj %}
                        <tr>
                            <td class="rank-number">{{rank.rank}}</td>
                            <td class="rank-username">{{rank.username}}</th>
                            <td class="wins">{{rank.wins}}</th>
                            <td class="losses">{{lrank.osses}}</td>
                            <td class="win-rate">{{rank.win_rate}}</td>
                            <td class="pong-point">{{rank.pong_point}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {% if rank_page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if rank_page_obj.has_previous %}?page={{ rank_page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page_num in rank_page_obj.paginator.page_range %}
                        <li class="page-item {% if page_num == rank_page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if rank_page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if rank_page_obj.has_next %}?page={{ rank_page_obj.next_page_number }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>  
        </div>
    </div>
</div>
{% endblock %}