/* Achievements */

.achievements-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .achievement-card {
    max-width: calc(20% - 5px); /* 6 kart yan yana sığacak şekilde hesaplanmış maksimum genişlik */
    max-height: 300px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .achievement-card img {
    width: 50%;
    max-height: 150px; /* Kartın maksimum yüksekliği */
    object-fit: cover; /* Resmi boyutunu koruyarak kırpma */
    border-radius: 8px;
  }
  
  .achievement-details {
    padding: 10px;
  }
  
  .achievement-details h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .achievement-details p {
    margin-bottom: 6px;
  }
  
  .achievement-details .achievement-date {
    font-style: italic;
    color: #555;
  }
  
  .achievement-img {
    text-align: center;
  }
  