/* Colors */

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }
  
  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }
  
  .bg-c-gold {
    background: linear-gradient(45deg, #FFD700, #a17c02);
  }
  
  .bg-c-navy {
    background: linear-gradient(45deg, #001F3F, #003366);
  }
  
  .bg-c-purple {
    background: linear-gradient(45deg, #800080, #993399);
  }
  
  .bg-c-light-blue {
    background: linear-gradient(45deg, #add8e6, #87ceeb);
  }
  
  .bg-c-light-green {
    background: linear-gradient(45deg, #42a470, #3b9867);
  }
  