@font-face {
    font-family: 'Pixeboy-z8XGD';
    src: url('fonts/Pixeboy-z8XGD.ttf');
  }
  

.left-card {
    width: 300px;
    height: auto;
    background-color: #ddd;
    padding: 10px;
    margin-right: 20px; /* İstediğiniz boşluk değerini ayarlayabilirsiniz */
    margin-left: 1em;
    margin-top: 2em;
    float: left;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.game-info-menu {
    display: flex;
    justify-content: space-between;
    color: tomato;
    
}

.game-info-menu-local {
    position: absolute;
    top: 0;
    right: 0;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table img {
    border-radius: 50%;
    border: 1px soldi #ffffff;
    width: 28px;
    height: 28px;
    object-fit: cover; /* Ya da 'contain' kullanabilirsiniz */
}

.custom-table tr:hover {
    background-color: #b6b6b6;
}

.custom-table .btn-outline-success {
    padding: 4px 8px;
    font-size: 14px;
}

.custom-table .btn-outline-primary {
    padding: 4px 8px;
    font-size: 14px;
}

.custom-table .btn-outline-danger {
    padding: 4px 8px;
    font-size: 14px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination a {
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a:hover {
    background-color: #ffffff;
}

.canvas-container {
    float: left;
}

#myCanvas {
    border: 1px solid #ffffff;
    background-image: url("https://s1.dmcdn.net/v/NGyfI1X-BUVhMfsej/x1080");
    background-repeat: no-repeat;
}

#countdownContainer {
    position: relative;
}


.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
}

.countdown p {
    font-family: "VT323", monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;
    color: palegreen;
}

.countdown h1 {
    font-size: 48px;
    font-family: 'Pixeboy-z8XGD', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}

.countdown h2 {
    font-size: 24px;
    color: #ffffff;
    font-family: "VT323", monospace;
    margin-bottom: 20px;
}

.countdown-timer {
    font-size: 72px;
    color: #ffffff;

    font-family: 'Pixeboy-z8XGD', sans-serif;

}

.ai-game {
    overflow: hidden;
}

.slider-container {
    position: absolute;
    width: 100%;
    left: 510px;
    top: -25px;
}



.modal-backdrop {
    display: none !important; /* Overlay'i kaldırır */
}
.modal {
    background-color: rgba(0,0,0,0.5); /* Modal arka planını yarı şeffaf yapar */
}



.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 10px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: tomato;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: tomato;
    cursor: pointer;
  }