@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.mhistory-card-header {
  margin-left: 1.8em;
  margin-top: -3em;
}

.mhistory-header {
  color:white !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.match-history-pong {
  font-family: 'Open Sans', sans-serif;
  margin: 1em auto; /* Merkezlemek için margin kullanıyoruz */
  margin-top: -0.5em;
  max-width: 1200px;
  text-align: center;
  width: 100%; /* Make the table take up 100% of the container */
}

.match-history-pong nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* İhtiyaca göre ayarlayabilirsiniz */
}

.card-mhistory-table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 1em auto; /* "card" elemanının genişliğine göre ortalamak için */
  max-width: 1300px; /* "card" elemanıyla aynı max-width değeri */
  width: 100%;
}

.card-mhistory-table th {
  border-bottom: 1px solid #364043;
  color: #46c9f1;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
}

.card-mhistory-table thead {
  background-color: #061d24;
}

.card-mhistory-table td {
  color: #fff;
  padding: 0.65em 1em;
}

.card-mhistory-table tr .lose {
  color: red;
  font-weight: 400;
}

.card-mhistory-table tr .won {
  color: green;
  font-weight: 400;
}

.card-mhistory-table tr .mhistory-username {
  font-weight: 400;
}


.select-history {
  margin-top: 0.3em;
  text-align: center;
}

.select-history .changer-btn {
  background-color: transparent;
  border: 1px solid #000000;
  height: 30px;
  width: 50px;
  margin: 0 5px; /* Butonlar arasındaki boşluğu ayarlar */
  display: inline-block; /* Butonları aynı satırda görüntüler */
  vertical-align: top; /* Dikey hizalamayı ayarlar */
  border-radius: 8px;
}


.select-history .changer-btn:hover {
  background-color: #ffa66b;
  box-shadow: -20px 50px 50px rgba(0,0,0,0.2);
  border: none;
  color: palegreen; /* Metni gizler */
  transition: none; /* Geçiş efektini kapatır */
}


.match-history-rps {
  display: none;
  font-family: 'Open Sans', sans-serif;
  margin: 1em auto; /* Merkezlemek için margin kullanıyoruz */
  margin-top: -0.5em;
  max-width: 1200px;
  text-align: center;
  width: 100%; /* Make the table take up 100% of the container */
}


.match-history-rps nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* İhtiyaca göre ayarlayabilirsiniz */
}


.match-history-card {
  background-color:white !important;
  backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1300px;
  max-height: 500px !important; 
  height: 400px;
  width: 100%;
  margin: 0 auto; /* Ortalamak için */
}

.page-item.active .page-link-history,
.page-link-history.active {
    background-color: #ff9500 !important;
    border-color: #ff9500 !important;
    color: #fff !important;
    font-size: 1em !important;
}