
/* Edit Profile */

.profile-settings-card {
  background-color: #F1F1FB;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1300px;
  width: 100%;
  height: auto; /* Yüksekliği otomatik ayarla */
  max-height: 900px;
  margin: 0 auto; /* Ortalamak için */
  z-index: 2;
}

.col-xl-9 {
  z-index: 2;
}

#profileNavbar {
  position: relative;
}
.navbar-nav {
    padding-top: 20px; /* Add space at the top */
}

/* Edit Profile Form styles */

#changePassword {
  display: none; /* Hide sections by default */
}

#blockedUsers {
   display: none; /* Hide sections by default */
}

#google2FA {
  display: none;
}

#addSocial {
  display: none; /* Hide sections by default */
}

#closeAccount {
  display: none; /* Hide sections by default */
}

#profileNavbar .nav-item:hover .nav-link {  
  background-color: #5c5be5;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
  color: #fff; /* İsterseniz metin rengini de ayarlayabilirsiniz */
}


#editProfileForm {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  /* Style for the burger menu */
  #profileNavbar .navbar-toggler {
      display: block;
  }

  #profileNavbar .navbar-collapse {
      display: none; /* Hide the navigation links by default */
      z-index: 1000;
      position: absolute;
      top: 100%;
      padding: 10px;
      left: 50%; /* Center horizontally */
      transform: translateX(-50%); /* Shift back by half of its own width */
    }

  #profileNavbar .navbar-toggler:focus {
      outline: none; /* Remove focus outline for better aesthetics */
  }

  #profileNavbar .navbar-toggler-icon {
      background-color: transparent; /* Customize the color of the burger menu icon */
  }

  #profileNavbar .navbar-collapse.show {
      display: block; /* Show the navigation links when the burger menu is clicked */
      background-color: #F1F1FB;
      background-color: rgba(51, 51, 51, 0.13); /* R: 51, G: 51, B: 51, Alfa: 0.5 (50% saydamlık) */
      transition: display 0.3s ease-in-out;
      backdrop-filter: blur(10px); /* Bulanıklık miktarını ayarlayabilirsiniz */

    }

  /* Add any additional styles for smaller screens here */
}

.pro-profile {
    color: #fff;
    background: url('leader-bg.png');
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
}

.profile-image-circ{
  overflow:hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


#editProfileForm .form-group {
  margin-bottom: 15px;
}

.profile-pic-container {
  position: relative;
  text-align: center;
  margin-bottom: 2em;
}

.profile-pic-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.change-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.change-image-overlay span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.change-image-text {
  vertical-align: middle;
}

.profile-pic-label:hover .change-image-overlay {
  opacity: 1;
}

.file-input {
  display: none;
}

.google2fa-refresh {
  color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.google2fa-refresh:hover {
  background-color: #333;
}


.google2fa-disable {
  color: white;
  background-color: #c20f0f;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.google2fa-disable:hover {
  background-color: #3d0303;
}

.google2fa-active {
  color: white;
  background-color: #13d13c;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.google2fa-active:hover {
  background-color: #043e10;
}
  

/* Blocked Accounts */


.blocked-users-info {
  font-size: 13px;
  color: rgb(83, 100, 113);
  margin-top: -10px;
}

.accounts-list {
  border: 1px solid #ccc;  
  position: relative;
  width: 900px;
  margin-bottom: 1em;
  height: 500px;

}

.accounts-list .account:first-child {
  margin-top: 3.5px; /* İstenilen boşluğu piksel cinsinden ayarlayabilirsiniz */
}

.account {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}


.profile-info {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.profile-info img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.pagination-menu {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info img:hover {
  filter: brightness(80%);
}

.profile-info h5 {
  color: #000; /* veya istediğiniz renk kodunu kullanabilirsiniz */
  font-size: 15px;
  font-weight: 800;
  margin: 0;
}

.user-details a,
.user-details a:link,
.user-details a:visited  {
  color: #000; /* veya istediğiniz renk kodunu kullanabilirsiniz */
  text-decoration: none !important; /* Altı çiziyi kaldır */
  text-decoration-line:none;
  text-decoration-style: none;

}

.profile-info h5:hover {
  text-decoration: underline;
  color: #000;
}

.user-name-lastname {
  color: black;
}

.profile-info h5:hover {
  text-decoration: underline; /* Mouse hover olduğunda altı çizili yap */
}

.user-details {
  margin-top: 1em;

}



.user-details p {
  color: #888;
  font-size: 13px;
}

.btn-block {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(244, 33, 46);
  color: #fff;
  border: none;
  padding: 8px 20px; /* Sağa ve sola genişlik ekledik */
  position:absolute;
  cursor: pointer;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  right: 5%;
}

.btn-block:hover {
  background-color: rgb(188, 10, 22);
}

.account:hover {
  background-color: #efefef;
}
