/* Profile Page */

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav.ml-auto .nav-item:hover,
.navbar-nav.ml-auto .nav-item:hover > .nav-link {
    background-color: #5c5be5;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
    color: #fff; /* İsterseniz metin rengini de ayarlayabilirsiniz */
}

.stats-info-pong {
    margin-top: 10px;
    
}

.stats-info-rps {
    margin-top: 10px;
    display: none;
}

.stats {
    /* Add your styles for stats here */
    margin-bottom: -7px;
}

.stats-p {
    /* Add your styles for stats-p here */
    font-size: 14px;
    color: #000000;   
    font-weight: 500; 
    text-align: left;
}

.stats .bi-dice-1-fill { color: #ff5733; } /* Oyunlar oynandığında */
.stats .bi-trophy-fill { color: #ffd700; } /* Kazanıldığında */
.stats .bi-emoji-frown-fill { color: #ff1100; } /* Kaybedildiğinde */
.stats .bi-award-fill { color: #00b907; } /* Kazanma oranı %50'den büyük olduğunda */
.stats .bi-bucket-fill { color: #f44336; } /* Kaybetme oranı %50'den büyük olduğunda */
.stats .bi-clock-fill { color: #00bcd4; } /* Ortalama oyun süresi */
.stats .bi-emoji-wink-fill { color:#3fb067 }

.stats-result-p {
    /* Add your styles for stats-result-p here */
    font-size: 14px;
    color: #000000;
    font-weight: 700; 
    right: 0;
    position: absolute;
    margin-right: 2.5em;
}

.stats-p, .stats-result-p {
    display: inline-block;
}

.profile-slashed-info {
    font-size: 10px;
}

.switcher-btn {
    position: fixed;
    right: 15;
    top: 15;
    margin-bottom: 5px;
    border-radius: 25%;
    background-color: transparent;
    border: 1px solid tomato;
}


.switcher-game {
    text-align: center;
}

  .switcher-game .switch-btn {
    background-color: transparent;
    border: 1px solid #000000;
    height: 30px;
    width: 50px;
    margin: 0 5px; /* Butonlar arasındaki boşluğu ayarlar */
    display: inline-block; /* Butonları aynı satırda görüntüler */
    vertical-align: top; /* Dikey hizalamayı ayarlar */
    border-radius: 8px;
}

  .switcher-game .switch-btn:hover {
    background-color: #ffa66b;
    box-shadow: -20px 50px 50px rgba(0,0,0,0.2);
    border: none;
    color: palegreen; /* Metni gizler */
    transition: none; /* Geçiş efektini kapatır */
  }

  .page-item.active .page-link-profile,
  .page-link-profile.active {
      background-color: #ff9500 !important;
      border-color: #ff9500 !important;
      color: #fff !important;
      font-size: 1.17em !important;
}


.page-item.active .page-link-rankings,
.page-link-rankings.active {
    background-color: #ff9500 !important;
    border-color: #ff9500 !important;
    color: #fff !important;
    font-size: 1em !important;
}