/* Rankings */

.rankings-card {
    position: fixed;
    background-image: linear-gradient(rgba(58, 1, 75, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/backgrounds/rankings-bg.jpeg');
    background-size: cover;
    border-radius: 8px;
    max-width: 1300px;
    width: 100%;
  }
  
  .main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150vh; /* Eğer kartın tam ekran yüksekliğinde olmasını istiyorsanız */
    overflow: hidden;
  }
  
  
  main {
    width: 40rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 120%; /* Değişiklik burada */
  }
  
  /* Blur efekti için ::before pseudo-element kullanımı */
  .rankings-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px); /* Blur miktarını isteğinize göre ayarlayın */
  }
  
  /* Beyaz splash için ::after pseudo-element kullanımı */
  .rankings-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    pointer-events: none; /* Tıklama etkinliklerini devre dışı bırakma */
  }
  
  /* Kart içeriğini blur efektinden korumak için z-index kullanımı */
  .rankings-card > * {
    position: relative;
    z-index: 1;
  }
  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
  }
  
  .share {
    width: 4.5rem;
    height: 3rem;
    background-color: #f55e77;
    border: 0;
    border-bottom: 0.2rem solid #c0506a;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .share:active {
    border-bottom: 0;
  }
  
  .share i {
    color: #fff;
    font-size: 1.5rem;
  }
  
  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
  }
  
  #leaderboard {
    width: 100%;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
  }
  
  tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  
  tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
  }
  
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(1) {
    color: #fff;
  }
  
  td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
  }
  
  .number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .name {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .points:first-child {
    width: 10rem;
  }
  
  .gold-medal {
    height: 3rem;
    margin-left: 1.5rem;
  }
  
  .ribbon {
    width: 42rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #5c5be5;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
  }
  
  .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
  }
  
  .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
  }
  
  #buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .exit {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #7e7f86;
    border: 0;
    background-color: #fff;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .exit:hover {
    border: 0.1rem solid #5c5be5;
  }
  
  .continue {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #5c5be5;
    border: 0;
    border-bottom: 0.2rem solid #3838b8;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .continue:active {
    border-bottom: 0;
  }
  