
/* .badge {
    display: inline-block;
    min-width: 24px;
    padding: 0 6px;
    color: #181824;
    font-size: .9333333333rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
    background: #eff2fe;
    border-radius: 12px
}
 */


.rankings-card {
    background-color: rgba(241, 241, 251, 0.3) !important;
    backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1300px;
    width: 100%;
    height: auto; /* Yüksekliği otomatik ayarla */
    max-height: auto;
    margin: 0 auto; /* Ortalamak için */
}

.data {
    overflow: auto;
    font-size: .9333333333rem
}

.data .data-container {
    min-width: fit-content
}

.data .data-container .data-row {
    display: flex;
    align-items: center
}

.data .data-container .data-row .data-cell {
    flex: 1;
    padding: 0 8px;
    color: #eff2fe
}

/* .data .data-body .data-row .data-cell:not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)) {

    text-align: center;
} */

.data .data-body .data-row .data-cell:nth-of-type(1):nth-of-type(5):nth-of-type(6):nth-of-type(7) {

    text-align: center;
}

.data .data-head .data-row .data-cell:nth-of-type(1):nth-of-type(3){
    
    min-width: 75px;
}



.data .data-container .data-row .data-cell.data-cell--xsm {
    flex: .1
}

.data .data-container .data-row .data-cell.data-cell--sm {
    flex: .5
}

.data .data-container .data-row .data-cell.data-cell--md {
    flex: 1.5
}

.data .data-container .data-row .data-cell.data-cell--lg {
    flex: 2
}

.data .data-container .data-row .data-cell:first-child {
    padding-left: 0
}

.data .data-container .data-row .data-cell:last-child .data-filter {
    border: 0
}

.data .data-container .data-row .data-cell .data-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5625rem .3125rem;
    font-size: .8rem;
    /* font-family: 'Pixeboy-z8XGD'; */
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px dashed #303044
}

.data .data-container .data-row .data-cell .data-filter:hover svg {
    fill: #181824
}

.data .data-container .data-row .data-cell .data-filter svg {
    width: 18px;
    margin-top: .1rem;
    margin-left: .4rem;
    fill: #303044
}

.data .data-container .data-row .data-cell .data-filter.data-filter--clickable {
    cursor: pointer
}

.data .data-container .data-head {
    color: #303044;
    font-size: .8666666667rem;
    background: #abaabf;
    border: 1px solid transparent
}

.data .data-container .data-head .data-cell {
    color: #232334
}

.data .data-container .data-body {
    padding: 15px 0
}

.data .data-container .data-body .data-item {
    position: relative;
    padding: 20px 0;
    border: 1px solid rgba(171, 170, 191, .4);
    border-radius: 12px;
    text-decoration: none;
}

.data .data-container .data-body .data-item:not(:last-child) {
    margin-bottom: 15px
}

.data .data-container .data-body .data-item .data-row {
    display: flex;
    align-items: center
}

.data .data-container .data-body .data-item .data-row .data-cell {
    padding-left: 1rem
}

.data .data-container .data-body .data-item.data-title-wrapper:hover {
    color: #fff;
    background: #c21aa5;
    box-shadow: 0 4px 3px #0000001a, 0 0 1px #0000001a
}

.data .data-container .data-body .data-item.data-title-wrapper:hover .label {
    background: rgba(255, 255, 255, .3);
    border: 0
}

.data .data-container .data-body .data-item.data-title-wrapper:hover .data-cell--title a {
    color: #fff
}

.data .data-container .data-body .data-item.data-title-wrapper .data-cell--title {
    z-index: 5;
    display: block;
    line-height: 1.7em
}

.data .data-container .data-body .data-item.data-title-wrapper .data-cell--title a {
    color: #fff
}

.data .data-container .data-body .data-item.data-title-wrapper .data-cell--title a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%
}

/* Leaderboard podium */

.leaderboard-podium {
    display: flex;
    width: 85%;
    margin: auto auto 55px
}

.leaderboard-winner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3333333333%;
    color: #fff;
    background-color: #232334;
    border: 1px solid #303044;
    border-radius: 10px;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition: all .2s ease-in;
    text-decoration: none;
    
}

.leaderboard-winner:hover {
    border: 1px solid #F99601
}

.leaderboard-winner:not(:last-child) {
    margin-right: 25px
}

.leaderboard-winner:not(.leaderboard-winner--rank1) {
    top: 15px
}

.leaderboard-winner.leaderboard-winner--rank1 {
    order: 2;
    background-color: #181824;
    border-color: transparent
}

.leaderboard-winner.leaderboard-winner--rank1you {
    order: 2;
    background-color: rgb(255, 187, 0);
    border-color: transparent;
}


.leaderboard-winner.leaderboard-winner--rank1:before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #181824;
    border-radius: 10px
}

.leaderboard-winner.leaderboard-winner--rank1you:hover {
    content: "";
    background-color: #181824;
}


.leaderboard-winner.leaderboard-winner--rank1:after {
    content: "";
    position: absolute;
    z-index: 0;
    /* background: linear-gradient(45deg, #f00 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #f00 100%) repeat 0% 0%/300% 100%; */
    background: greenyellow;
    border-radius: 10px;
    transform: translateZ(-1px);
    transition: inset .2s ease-in;
    animation: rgb 6s linear infinite;
    inset: -2px
}

.leaderboard-winner.leaderboard-winner--rank1:hover:after {
    inset: -3px
}

.leaderboard-winner.leaderboard-winner--rank1 .leaderboard-winner-header,
.leaderboard-winner.leaderboard-winner--rank1 .leaderboard-winner-footer {
    z-index: 3
}

.leaderboard-winner.leaderboard-winner--rank1 .leaderboard-winner-header .winner-img {
    aspect-ratio: 1/1; 
    object-fit: cover;
    /* border: 2px solid rgba(195, 194, 212, .3); */
}

.leaderboard-winner.leaderboard-winner--rank1 .leaderboard-winner-header .badge {
    color: #fff;
    background: #F99601
}

.leaderboard-winner.leaderboard-winner--rank2 .leaderboard-winner-header .badge {
    color: #fff;
    /* background: #F99601 */
}

.leaderboard-winner.leaderboard-winner--rank3 .leaderboard-winner-header .badge {
    color: #fff;
    /* background: #F99601 */
}

.leaderboard-winner.leaderboard-winner--rank2 {
    order: 1
    
}

.leaderboard-winner.leaderboard-winner--rank3 {
    order: 3
}

.leaderboard-winner .leaderboard-winner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px 0
}

.leaderboard-winner .leaderboard-winner-header .winner-img {
    aspect-ratio: 1/1; 
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    /* border: 2px solid rgba(195, 194, 212, .3); */
    border-radius: 55px;
    box-shadow: 1px 1px 4px 2px #0003
}

.leaderboard-winner .leaderboard-winner-header h3 {
    margin: 10px 0;
    font-size: 1.0666666667rem;
    font-weight: 400
}

.leaderboard-winner .leaderboard-winner-header span {
    font-size: .7333333333rem
}

.leaderboard-winner .leaderboard-winner-footer {
    width: 100%;
    font-size: 1.0666666667rem;
    border-radius: 0 0 10px 10px
}

.leaderboard-winner .leaderboard-winner-footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px;
    margin-top: -20px
}

.leaderboard-winner .leaderboard-winner-footer ul small {
    font-size: .8rem
}


/* Leaderboard ranking */

.leaderboard-ranking {
    padding: 25px 15px 10px;
    background: #453a4e;
    border-radius: 10px
}

.leaderboard-ranking .data .data-container .data-head {
    font-size: .8rem;
    background-color: #181824;
    border-radius: 5px
}

.leaderboard-ranking .data .data-container .data-head .data-cell {
    color: #fff
}

.leaderboard-ranking .data .data-container .data-body img {
    aspect-ratio: 1/1; 
    object-fit: cover;
    width: 2.6666666667rem;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom:2px !important;
}

.leaderboard-ranking .data .data-container .data-body .data-item {
    position: relative;
    display: block;
    padding: 5px;
    background-color: #232334;
    border: 1px solid #181824;
    transition: background-color .1s ease-in
}

.leaderboard-ranking .data .data-container .data-body .data-item:hover {
    background-color: #F99601
}

.leaderboard-ranking .data .data-container .data-body .data-item .data-content {
    font-size: 1.0666666667rem
}

.leaderboard-ranking .data .data-container .data-body .data-item .data-content .label {
    margin-left: -1rem;
    text-transform: lowercase;
    background-color: #fff
}

.leaderboard-ranking .data .leaderboard-pro:after {
    top: initial;
    right: initial;
    bottom: .3333333333rem;
    left: 1.7333333333rem;
    font-size: .6rem
}

ul li {
    list-style: none
}


@media screen and (max-width: 1024px) {
    .leaderboard-podium {
        flex-wrap: wrap;
    }
    .leaderboard-winner {
        width: 100%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    .leaderboard-winner:not(:last-child) {
        margin-right: 0;
    }
    .leaderboard-winner.leaderboard-winner--rank1 {
        order: 1;
        background-color: #181824;
        margin-bottom: 5px;
        border-color: transparent
    }
    .leaderboard-winner.leaderboard-winner--rank2 {
        order: 2;
        
    }
    
    .leaderboard-winner.leaderboard-winner--rank3 {
        order: 33;
    }
}

.page-item.active .page-link-rankings,
.page-link.active {
    background-color: #ff9500 !important;
    border-color: #ff9500 !important;
    color: #fff !important;
    font-size: 1em !important;
}
