
/* Login - Register Pop Up Area */

.LoginArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .RegisterArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }

  .toast-close {
    right: 0;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .checkbox-gpdr {
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox-gpdr input {
    position: absolute;
    opacity: 0;
  }

  .checkbox-gpdr .gdpr-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /* veya istediğiniz bir mesafe */
    color: var(--main-color);
    font-size: 10px;
}

  
  .checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
    display: inline-block; /* Yeni eklenen stil */
    vertical-align: middle; /* Yeni eklenen stil */
  }
  
  .checkbox-gpdr input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-gpdr input:checked ~ .checkmark:after {
    display: block;
  }

  .text-danger {
    margin-top: -15px;
    --bs-text-opacity: 1;
    text-align: left;
    margin-left: 5px;
    font-size: 12px !important;
    --bs-danger-rgb: 255, 62, 29;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  }

  .text-primary {
    margin-top: -25px;
    text-align: left;
    margin-left: 5px;
    font-size: 12px !important;
  }

  .no-underline {
    text-decoration:none;
  }
  
  .form-register {
    --input-focus: #f0302d;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: #f5f2ee;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    height: 700px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; 


  }

  
.form-setpassword {
  --input-focus: #f0302d;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: #f5f2ee;
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

  .form {
    --input-focus: #f0302d;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: #f5f2ee;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 22px;
    margin-bottom: -10px;
    margin-top: -20px;
  }
  
  .titlebottom {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .forgot-pass {
    position: relative;
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
  .forgot-password-link {
    left: 0;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  .forgot-password-link:hover {
    text-decoration-line: underline; /* Add underline on hover */
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 10px;
    justify-content: center; /* İçeriği yatayda ortala */
    align-items: center; 
  }
  
  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-buttons {
    text-align: center;
  }
  
  
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .button-confirm {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: -10px;
    cursor: url('../assets/scrool/crossedsword.png'), auto;
  }
  
  .button-confirm:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  
  .registerbtn {
    width: 120px;
    height: 40px;
    background: #FBCA1F;
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  .registerbtn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .registerbtn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
  }
  
  .registerbtn:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  .registerbtn:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  .registerbtn:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  
  .backbtn {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.294);
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #F4F2ED;
   }
   
   .backbtn > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
    transition: all 0.4s ease-in;
   }
   
   .backbtn:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .backbtn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }  

.custom-file-upload {
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 2px dashed #000000;
    background-color: #F2F2D8;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }

  .custom-file-upload:hover {
    border: 2px dashed #f0302d;

  }
  
  .custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-file-upload .icon svg {
    margin-top: 25px;
    height: 25px;
    fill: rgb(0, 0, 0);
  }
  
  .custom-file-upload .text {
    display: flex;
    align-items: left;
    justify-content: center;
  }
  
  .custom-file-upload .text span {
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }
  
  .custom-file-upload input {
    display: none;
  }
  