.pongCanvas {
    display: flex;
    border: 8px solid rgb(178, 178, 178);
    border-style: ridge;
    width: 900px;
    height: 600px;
    margin-top: 30px;
    background-color: gray;
}

.matchmaking-button {
    display: flex; 
    text-align: center;
    margin-bottom: 1em;
}

.other-button {
    display: flex; 
    text-align: center;
    margin-bottom: 1em;
}


.game-over-remote {
    display: none;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
  }
  
  
  .game-over-remote p {
    font-family: 'Pixeboy-z8XGD', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;
    color: palegreen;
  }
  
  .game-over-remote h1 {
    font-size: 48px;
    font-family: 'Pixeboy-z8XGD', sans-serif;
    margin-bottom: 10px;
  }
  
  .game-over-remote h2 {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Pixeboy-z8XGD', sans-serif;
    margin-bottom: 20px;
  }
  

.left-card {
    width: 300px;
    height: 600px;
    background-color: #ddd;
    padding: 10px;
    margin-right: 2em; /* İstediğiniz boşluk değerini ayarlayabilirsiniz */
    margin-left: 1em;
    margin-top: 2em;
    float: left;
}

.form-check-input[type="checkbox"] {
    transform: scale(1.2); /* Büyüklüğü istediğiniz oranda ayarlayabilirsiniz */
}

.selectedmode {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:tomato;
}

.game-mode-info {
    display: none;
    font-size: 11px !important; 
    text-align: center; 
    color: rgb(0, 136, 255);
}

.game-mode-info-select {
    display: block; 
    text-align: center;
}

.abilitiesInfo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(1, 2, 1, 0.5);
    width: 700px;
    height: 500px;
    border-radius: 10px;
}

.invite-button {
    border-color: #26b948;
    color: #28a745;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.invite-button:hover {
    background-color: #28a745;
    color: white;
}


.accept-button {
    display: none;
    border-color: #007bff;
    margin-left: 5px;
    color: #007bff;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.accept-button:hover {
    background-color: #007bff;
    color: white;
}

.decline-button {
    display: none;
    border-color: #dc3545;
    margin-left: 5px;
    color: #dc3545;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.decline-button:hover {
    background-color: #dc3545;
    color: white;
}


.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}

.custom-table tr:hover {
    background-color: #b6b6b6;
}


.canvas-container {
    float: left;
}


.toast-close:hover {
    cursor: pointer;
    color: #000;
}