 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #453A4E; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F99601; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 171, 51); 
  }