

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.store-card {
    background-color: rgba(241, 241, 251, 0.3) !important;
    backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1300px;
    width: 100%;
    max-height: auto;
    height: auto; /* Yüksekliği otomatik ayarla */
    max-height: auto;
    margin: 0 auto; /* Ortalamak için */
  }

  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding-bottom: 2rem;
}

.store-list {
  margin-top: 0.5em;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}


.top-store-card {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  background: #FFF;
  
  margin-bottom: 2rem;
  margin-left: 10px;
  display: flex;
}

.top-store {
  display: flex; /* Flex container olarak ayarlayın */
}

.store-left {
  margin-top: 5px;
  flex-grow: 1;
  margin-left: 0;
  margin-right: auto;
  color: #FFF;
}

.store-mid {
  flex-grow: 1;
  margin-left: auto;
  margin-right: -6.5em;
  color: #FFF;
  display: flex;
  gap: 5px;
}

.store-mid-right {
  margin-left: auto;
  color: #FFF;
  display: flex;
}

.store-inventory-field {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.inventory-text i {
  font-size: 24px;
  color: #8743ff;
}

.inventory-text i:hover , .store-inventory-field:hover{
  background: #efeeee;
  font-size: 24px;
  color: #5d00ff;
}

.inventory-text a {
  text-decoration: none;
  color: #000;
}

.category-field {
  margin-top: 5px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background: #8743ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.category-text a {
  color: rgb(20, 222, 20);
  text-decoration:none;
}

.store-right {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.store-right i {
  font-size: 24px;
  margin-left: -15px;
  color: #8743ff;
}

.store-text-fields {
  margin-left: 5px;
  margin-bottom: 5px;
}

.small-wallet-name {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: bold;
}

.store-right .wallet-amount {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: bold;
}

.product-card {
  height: 330px;
  width: 220px;
  background: #FFF;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  display: flex;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s, background 0.3s;
}


.product-card:hover {
  transform: scale(1.09);
}

.product-card img {
  width: 200px;
  height: 150px;
  border-radius: 14px;
  object-fit: cover;
}

.card__title {
  color: #000;
  margin-top: 13px;
  font-size: 15px;
  font-weight: 400;
  transition: color 0.3s;
}

.card__category {
  color: #000;
  font-size: 11px;
  font-weight: bold;
  transition: color 0.3s;
}

.card__category.pong a {
  text-decoration:none;
  color: #0048ff;
}


.card__category.pong a:hover {
  color: #072a84;
}

.card__category.rps a {
  text-decoration:none;
  color: #08a360;
}

.card__category.rps a:hover {
  text-decoration:none;
  color: #1a704b;
}

.card__description {
  display: block;
  font-size: 15px;
  opacity: 0.6;
  transition: color 0.3s;
}

.card__category.all a {
  text-decoration:none;
  color: #8e08a3;
}

.card__category.all a:hover {
  text-decoration:none;
  color: #5c1767;
}

.card__shop {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 5px;
}

.card__shop__price {
  color: #4136f1;
  margin-left: -6px;
  margin-right: auto;
}

.card__shop__action {
  height: 35px;
  width: 35px;
  outline: none;
  border: none;
  background: linear-gradient(221deg, #2818ff, #6a1af6 60%);
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
}

.card__shop__action-gear {
  height: 35px;
  width: 35px;
  outline: none;
  margin-left: 2px;
  border: none;
  background: linear-gradient(221deg, #ff000d, #6051ff 60%);
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
}

.card__shop__action-set {
  height: 35px;
  width: 35px;
  outline: none;
  margin-right: 2px;
  border: none;
  background: linear-gradient(221deg, #aaff43, #50c914 60%);
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
}


.card__shop__action:hover {
  background: linear-gradient(221deg, #4136f1, #8743ff 60%);
}

.card__shop__action-set:hover {
  background: linear-gradient(221deg, #5e8b27, #54dd10 60%);
}

.card__shop__action-gear:hover {
  background: linear-gradient(221deg, #ff6c73, #140b77 60%);
}

.card__shop__action span {
  color: #fff;
  font-size: 26px;
}

.store-info {
  visibility: hidden;
  position: absolute;
  margin-left: auto;
  margin-top: -1.7em !important;
  right: 20px;
}

.tooltiptext {
    width: auto;
    background-color: #8743ff;
    color: #fff;
    text-align: center;
    height: auto;
    padding: 10px;
    font-size: 10px;
    border-radius: 6px;
    transition: opacity 0.3s;
}
