/* The font i use in this css is only available for personal use. */
/* link to this font https://www.fontspace.com/pixeboy-font-f43730 */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Rajdhani:600');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');


@font-face {
  font-family: "Spiegel";
  font-style: normal;
  font-weight: 700;
  src: url("https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/Spiegel-Bold.eot?#iefix") format("eot"),
      url("https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/Spiegel-Bold.woff") format("woff"),
      url("https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/Spiegel-Bold.ttf") format("truetype"),
      url("https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/Spiegel-Bold.svg#") format("svg");
}


@font-face {
  font-family: 'Pixeboy-z8XGD';
  src: url('fonts/Pixeboy-z8XGD.ttf');
}

@font-face {
  font-family: 'alagard';
  src: url('fonts/alagard.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  /* cursor: url('../assets/scrool/pixelsword.png'), auto; */
}

.backgroundimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 10px); /* Viewport yüksekliği kadar olan alanı kaplar ve 10px ek boşluk ekler */
  background-image: linear-gradient(rgba(58, 1, 75, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/backgrounds/home-bg.jpg');
  background-size: cover;
  z-index: 1;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.HeaderArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Pass2FaArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.big-text {
  animation: backInDown 1s ease;
  font-size: 6em;
  color: aliceblue;
  font-family: 'Pixeboy-z8XGD', sans-serif;
  margin-bottom: 5px;
}

.small-text {
  animation: backInDown 1s ease;
  font-family: "VT323", monospace;
  font-size: 1em;
  color: aliceblue;
  margin-bottom: 20px;
}

.PixellButton {
  animation: slideInFromRight 0.5s ease;
  font-family: "VT323", monospace;
  font-size: large;
  cursor: url('../assets/scrool/crossedsword.png'), auto;
  width: 175px;
  height: 50px;
  background-color: rgb(90, 208, 90);
  border-top: 1px rgb(90, 208, 90);
  border-left: 1px rgb(90, 208, 90);
  border-color: rgb(56, 180, 7);
  border-right: 4px solid darkgreen;
  border-bottom: 6px solid darkgreen;
  box-shadow: -3px 0 0 0 black, 3px 0 0 0 black, 0 -3px 0 0 black, 0 3px 0 0 black;
}

.PixellButton:hover {
  background-color: rgb(75, 195, 75);
  border-top: 1px rgb(90, 208, 90);
  border-left: 1px rgb(90, 208, 90);
  border-color: rgb(56, 180, 7);
  border-right: 6px solid darkgreen;
  border-bottom: 8px solid darkgreen;
}

/* Media Query for screens smaller than 600 pixels */
@media (max-width: 600px) {
  .big-text {
    font-size: 4em;
  }

  .small-text {
    font-size: 0.8em;
  }

  .PixellButton {
    width: 150px;
    height: 40px;
  }
}


.PixellButton:active {
  background-color: rgb(75, 195, 75);
  transform: translateY(3px);
  width: 148px;
  border-right: 4px solid darkgreen;
  border-bottom: 5px solid darkgreen;
}


@media only screen and (max-width: 850px) {
  .PixellButton {
    background-color: rgb(90, 208, 90);

    border-top: 1px rgb(90, 208, 90);
    border-left: 1px rgb(90, 208, 90);

    border-color: rgb(56, 180, 7);
    border-right: 6px solid darkgreen;
    border-bottom: 8px solid darkgreen;
  }

}


/* ----------- */

/* NavBar */

.navbar {
  background-color: rgba(51, 51, 51, 0); /* R: 51, G: 51, B: 51, Alfa: 0.7 (70% saydamlık) */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: greenyellow;
}

.nav-links li {
  font-family: "VT323", monospace;  
  font-weight: bold;
}

.nav-links li a i {
  margin-right: 5px; /* İkon ile metin arasındaki boşluğu ayarlar */
  font-size: 0.8em;
  color: white;
  
}

.nav-links li a {
  font-size: 1.2em;
  color: greenyellow;
  position: relative;
  /* cursor: url('../assets/scrool/crossedsword.png'), auto; */
  padding: 0.4rem 0;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; /* Çizgi kalınlığını ayarlayabilirsiniz */
  background-color: #F99601; /* Çizgi rengini ayarlayabilirsiniz */
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease, visibility 0.3s ease;
}

.nav-links li:not(.profile-menu) {
  margin-top: 10px;
}

.nav-links li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/* Opsiyonel: Çizgi ile metin arasındaki boşluğu ayarlar */
.nav-links li a:hover {
  padding-bottom: px;
}

/* Opsiyonel: Çizgiyi blurlamak için */
.nav-links li a:hover::after {
  backdrop-filter: blur(50px); /* Blurlama miktarını ayarlayabilirsiniz */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo-container a,
.logo-container a:link,
.logo-container a:visited {
  color: greenyellow;
  text-decoration: none;
}

.logo-container a .logo {
  color: greenyellow; /* Ya da istediğiniz rengi belirtin */
}

.profile-menu {
  position: relative;
}

.notification-menu {
  position: relative;
}

.profile-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Alt menüyü tamamen sağa yerleştirme */
  background-color: rgba(51, 51, 51, 0.8); /* Menü arka plan rengi */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: -20px; /* Alt menüyü tamamen sağa yerleştirme */
  background-color: rgba(51, 51, 51, 0.8); /* Menü arka plan rengi */
  border-radius: 10px;
  font-size: 10px;
  text-align: left;
  padding: 0 20px; /* Padding için hem sol hem sağ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-menu:hover .profile-submenu {
  display: block;
  z-index: 900;

}

.notification-menu:hover .notification-submenu {
  display: block;
  z-index: 900;

}

.profile-submenu a {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 5px;
}

.notification-submenu a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 10px;
  padding: 10px;
}


.profile-submenu a:hover {
  
  background-color: #333; /* Hover rengi */
}

.profile-image {
  overflow: hidden;
  border-radius: 50%; /* Profil resmini yuvarlak yapar */
}

.profile-image img {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Profil resmini yuvarlak yapar */
  transition: transform 0.3s ease; /* Dönme animasyonu için */
  aspect-ratio: 1/1; 
  object-fit: cover;
}

.profile-menu:hover .profile-image img {
  transform: rotate(360deg); /* Hover durumunda döndürme animasyonu */
}

.logo img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.logo {
  font-family: 'alagard', sans-serif;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.burger-menu {
  font-size: 2.5em;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.container-top {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.card {
  background-color: rgba(241, 241, 251, 0.3) !important;
  backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1300px;
  width: 100%;
  height: auto; /* Yüksekliği otomatik ayarla */
  max-height: 900px;
  margin: 0 auto; /* Ortalamak için */
}

.dashboard-card {
  background-color: rgba(241, 241, 251, 0.3) !important;
  backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1300px;
  width: 100%;
  height: auto; /* Yüksekliği otomatik ayarla */
  max-height: auto;
  margin: 0 auto; /* Ortalamak için */
}

.page-rotation h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  cursor: default;
}

.page-rotation p {
  font-size: 15px;
  color: white;
  cursor: default;
}

.profiles-card {
  background-color: rgba(241, 241, 251, 0.3) !important;
  backdrop-filter: blur(3px); /* Arka planı 10 piksel bulanıklaştır */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1300px;
  width: 100%;
  height: auto; /* Yüksekliği otomatik ayarla */
  max-height: auto;
  margin: 0 auto; /* Ortalamak için */
}



@media screen and (max-width: 1029px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5); /* R: 51, G: 51, B: 51, Alfa: 0.5 (50% saydamlık) */
    z-index: 700;
    backdrop-filter: blur(10px); /* Bulanıklık miktarını ayarlayabilirsiniz */
    transition: display 0.3s ease-in-out;
  }
  
  .burger-menu {
    display: block;
    
  }

  .profile-submenu {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
    padding: 10px;
    transition: display 0.3s ease-in-out;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-submenu {
    margin-top: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
    margin-bottom: 10px; /* İtemler arasına boşluk ekle */
  }

  .nav-links li:not(.profile-menu) {
    margin-top: 0px;
  }

  .container-top {
    margin-top: 60px;
  }

  .navbar {
    padding: 10px; /* Navbar'ın padding'ini artır */
  }

  .logo {
    font-size: 1.2em; /* Logo font boyutunu küçült */
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav li {
    margin: 10px 0;
  }

  .navbar-collapse.show .nav-links {
    display: flex;
  }

  .navbar-toggler {
    display: block;
    margin: 10px auto;
  }

}

.order-card {
  color: #fff;
}

/* Colors */

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg-c-gold {
  background: linear-gradient(45deg, #FFD700, #a17c02);
}

.bg-c-navy {
  background: linear-gradient(45deg, #001F3F, #003366);
}

.bg-c-purple {
  background: linear-gradient(45deg, #800080, #993399);
}

.bg-c-light-blue {
  background: linear-gradient(45deg, #add8e6, #87ceeb);
}

.bg-c-light-green {
  background: linear-gradient(45deg, #42a470, #3b9867);
}


/* Colors End */

.card-body {
  max-height: 320px;
}

.rank-img {
  text-align: center;
}

.rank-h4 {
  font-family: 'Spiegel', sans-serif;
  font-size: 20px;
  color: transparent; /* Metin rengini şeffaf hale getirin */
  background: url('leader-bg.png');
  background-size: cover; /* Resmi kaplama özelliği */
  -webkit-background-clip: text; /* Metni arka plana kırpma, webkit tarayıcıları için */
  background-clip: text; /* Metni arka plana kırpma, diğer tarayıcılar için */
  display: inline-block; /* Metni blok içinde gösterme */
  text-transform: uppercase;
}

.rank-info {
  text-align: center;
}

.rank-img img {
  height: 145px !important;
  /* İsteğe bağlı olarak width özelliğini de kullanabilirsiniz. */
  /* width: auto; */
}

.card-stat {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-stat .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 32px;
  text-align: center;
  margin-right: 5px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.text-right span.big {
  font-size: 2rem; /* İstediğiniz büyüklüğü ayarlayabilirsiniz */
  margin-right: -5px;
}

.text-right span.small {
  font-size: 1.5rem; /* İstediğiniz küçüklüğü ayarlayabilirsiniz */
}





/* Search Area */










/* Pass2FA */

.form-pass2fa {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  --tomato: #fa5656;
  font-family: Helvetica, sans-serif;
  border: 2px solid var(--glow-color);
  padding: 25px;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--night-rider);
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
}

/*----heading and description-----*/

.info-pass2fa {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-pass2fa {
  font-size: 1.5rem;
  font-weight: 900;
}

.description-pass2fa {
  margin-top: 10px;
  font-size: 1rem;
}

/*----input-fields------*/

.form-pass2fa .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-pass2fa .input-fields input {
  height: 2.5em;
  width: 2.5em;
  outline: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: var(--ch-black);
  border-radius: 5px;
  border: 2.5px solid var(--ch-white);
  background-color: var(--ch-white);
}

.form-pass2fa .input-fields .seperator {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28px;
}

.form-pass2fa .input-fields input:focus {
  border: 1px solid var(--night-rider);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
  transform: scale(1.05);
  transition: 0.5s;
}

/*-----verify and clear buttons-----*/

.action-btns {
  display: flex;
  margin-top: 20px;
  gap: 0.5rem;
}

.verify {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-shadow: none;
  cursor: url('../assets/scrool/crossedsword.png'), auto;
  background: var(--ch-black);
  box-shadow: transparent;
  border: 1px solid var(--night-rider);
  transition: 0.5s ease;
  user-select: none;
}

.verify:hover,.verify:focus {
  color: var(--white);
  background: var(--night-rider);
}

.clear {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--night-rider);
  text-shadow: none;
  cursor: url('../assets/scrool/crossedsword.png'), auto;
  background: transparent;
  border: 1px solid var(--night-rider);
  transition: 0.5s ease;
  user-select: none;
}

.clear:hover,.clear:focus {
  color: var(--tomato);
  background-color: var(--white);
  border: 1px solid var(--tomato);
}

/*-----close button------*/

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--ch-white);
  color: var(--af-white);
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: .5s ease;
}

.close:hover {
  background-color: var(--tomato);
  color: var(--white);
}
















/* AI GAME */

.ai-game canvas {
  display: block;
  margin: 20px auto;
  z-index: 50;
  background: 'lightgrey';/* #ff0000; */
  border: 8px solid #FFFFFF;
  border-style: ridge;
}

/* .game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.game-over h1 {
  margin: 0 0 20px;
  color: green;
  font-size: 36px;
} */

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 10px;
}

.game-over p {
  font-family: 'Pixeboy-z8XGD', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  color: palegreen;
}

.game-over h1 {
  font-size: 48px;
  font-family: 'Pixeboy-z8XGD', sans-serif;
  margin-bottom: 10px;
}

.game-over h2 {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Pixeboy-z8XGD', sans-serif;
  margin-bottom: 20px;
}

#restartButton{
  font-family: 'Pixeboy-z8XGD', sans-serif;
  font-size: 20px;
  background-color: #4caf50;
  width: 120px;
  height: 50px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}


#restartButtonTournament{
  font-family: 'Pixeboy-z8XGD', sans-serif;
  font-size: 20px;
  background-color: #ffbb00;
  width: 120px;
  height: 50px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

#exitButton {
    font-family: 'Pixeboy-z8XGD', sans-serif;
    font-size: 20px;
    background-color: #d75151;
    width: 120px;
    height: 50px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.input-box {
  display: flex;
  flex-direction: column; /* Sütun yönlendirmesi */
  justify-content: center;
  align-items: center;
}

#restartButton:hover {
  background-color: #dfa70c;
  border: red;
}


#restartButton:hover {
  background-color: #1a8b1e;
  border: red;
}


#exitButton:hover {
    background-color: #ce3737;
    border: red;
}

.winnerName {
  color: green;
}

.loserName {
  color: red;
}

.selectorGame {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.game-start-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(1, 2, 1, 0.5);
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

.localGameText {
  color: greenyellow;
  font-size: 36px;
  margin: 0 0 20px;
}

.localGamePlayerText {
  color: greenyellow;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  width: 70%;
  border-radius: 5px;
  font-size: 13px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select {
  width: 462px !important;
}

.btn {
  margin-top: 2em;
  width: 300px;
}


/* Base HTML - Language Submenu */

.top-nav-infos {
  position: relative;
  animation: backInDown 0.5s ease;
  display: flex; /* İçerikleri yatay olarak hizalar */
  justify-content: flex-end; /* İçeriği sağa hizalar */
  margin-right: 2em;
}

.info-icon,
.notification-icon {
  margin-top: 25px;
  font-size: 16px;
  color: rgb(255, 140, 0);
}

.info-icon i {
  cursor: pointer;
  user-select: none;
}

.language-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Sağ kenara yapıştırır */
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 10px;
  margin-right: 1em;
  font-size: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-menu:hover .language-submenu {
  display: block;
  z-index: 900;
}

.info-menu:hover .info-icon,
.language-menu:hover .notification-icon {
  color: white !important; /* Değiştirmek istediğiniz yeni renk */
}

.language-submenu a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 10px;
  padding: 10px;
}

.language-submenu a:hover {
  color: #007bff;
  background-color: #1b6718; /* Hover rengi */
}
