

/* Game Room */

.indian-logo {
    text-align: center;
  }
  
  .logo-indian {
    width: 150px;
    height: 150px;
  }
  
  .game-room-buttons {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .tournament-description {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 12px;
  }
  
  .leave-button {
      text-align: center;
      background-color: rgba(255, 255, 255);
      color: #454c55;
      font-size: 14px;
      font-weight: 600;
      height: 52px;
      line-height: 52px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      margin-right: 1em !important;
      margin-left: 1em !important;
      padding: 0 5px;
      width: 180px;
      min-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: background .2s;
      margin: 15px 0;
      display: inline-block;
      margin-bottom: 3em;
  }

  .leave-button:hover {
    background-color: rgba(255, 255, 255, 0.207);
  }
  
  /* Eğer bi class'ınızı özelleştirmek istiyorsanız, bi class'ını kullanabilirsiniz. */
  
  .leave-button .bi-x-circle-fill {
    color: red; /* Belirli ikonun rengi */
  }
  
  .leave-button .bi-flag-fill {
    color: green; /* Diğer ikonun rengi */
  }
  
  .leave-button .bi-calendar-check-fill {
    color:#5c5be5;
  }
  
  .leave-button .bi-4-square-fill {
    color:#5c5be5;
  }
  
  .player-wrapper {
    max-width: 520px;
    margin: auto; 
    text-align:center;
  }
  
  .place {
    text-align: left;
    width: 90px;
    height: 150px;
    display: inline-block;
    margin: 0px 15px;
    vertical-align: top;
  }
  
  .avatar-container img {
    height: 90px;
    width: 90px;
    object-fit: cover;
  }

  .winner-container {
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    flex-direction: column;
  }

  .winner-avatar {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: 3px solid greenyellow;
  }

  .avatar-container-creator {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: 1px solid orangered;
  }

  .winner-info {
    margin-top:8px;
  }

  .crown-icon {
      width: 20px;   /* Taç ikonunun genişliği */
      height: auto;  /* Otomatik yükseklik ayarı */
      margin-top: -5px;
  }

  .losers-winner-text {
    color: tomato;
    text-align:center;
    font-style:italic;
    font-weight: bold;
    font-size: 14px;
  }

  .winner-guy-text {
    color: greenyellow;
    text-align:center;
    font-style:italic;
    font-weight: bold;
    font-size: 14px;
  }
  
  .player-info {
    font-size: 15px;
    font-weight: 700;
  }
  
  .truncate-pseudo {
    color: orange;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .truncate-pseudo-creator {
    color: orangered;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  
  .game-room-avatar {
    border: 1px solid #dadada;
    max-width: 100%;
    aspect-ratio: 1/1; 
    object-fit: cover;
    height: 100%;
  }

  .game-room-avatar-winner {
    max-width: 100%;
    aspect-ratio: 1/1; 
    object-fit: cover;
    height: 100%;
  }
  
  .game-room-avatar-none {
    border: 1px solid #dadada;
    width: 100%;
    left: 0;
    top: 0;
  }

  .right-refresh {
    position: absolute;
    right:25px;
    
    font-size: 1.2em;
  }

  .refresh-button {
    cursor: pointer;
    color: white;
  }

  .refresh-button:hover {
    color: greenyellow;
  }
  

/* Game Room Area */

.game-chart-middle {
    text-align: center;
  }
  
  .game-chart-middle h1,
  .game-chart-middle h2 {
    font-size: 2rem; 
    font-weight: 900;
    margin-bottom: 0.5em;;
    font-family: 'Roboto', sans-serif;
  }
  
  .game-bracket-area {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
  
  #game-bracket-section {
    display: none;
    
  }
  
  #gameroombracket {
    display: none; /* veya başka bir değer */
  }
  
  
  .theme {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .bracket {
    padding: 40px;
    margin: 5px;
  }
  .bracket {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around;
    align-content: center;
  }
  .match {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 240px;
    height: 62px;
    margin: 12px 24px 12px 0;
  }
  .match .match-top {
    border-radius: 2px 2px 0 0;
  }
  .match .match-bottom {
    border-radius: 0 0 2px 2px;
  }
  .match .team {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
  }
  .match .team span {
    padding-left: 8px;
    color: #ffffff;
    font-weight: bold;
  }
  .match .team span:last-child {
    padding-right: 8px;
  }
  .match .team .score {
    margin-left: auto;
  }
  .match .team:first-child {
    margin-bottom: -1px;
  }
  .match-lines {
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: 0px;
    right: -1px;
  }
  .match-lines .line {
    background: red;
    position: absolute;
  }
  .match-lines .line.one {
    height: 1px;
    width: 12px;
  }
  .match-lines .line.two {
    height: 44px;
    width: 1px;
    left: 11px;
  }
  .match-lines.alt {
    left: -12px;
  }
  .match:nth-child(even) .match-lines .line.two {
    transform: translate(0, -100%);
  }
  .column:first-child .match-lines.alt {
    display: none;
  }
  .column:last-child .match-lines {
    display: none;
  }
  .column:last-child .match-lines.alt {
    display: block;
  }
  .column:nth-child(2) .match-lines .line.two {
    height: 88px;
  }
  .column:nth-child(3) .match-lines .line.two {
    height: 175px;
  }
  .column:nth-child(4) .match-lines .line.two {
    height: 262px;
  }
  .column:nth-child(5) .match-lines .line.two {
    height: 349px;
  }

  .match-link-a {
    margin-left:auto;
    margin-right:-7.5em;
  }

  .match-link {
    font-size: 16px;
    color: tomato !important;
  }

  .match-link:hover {
    color: rgb(0, 110, 255) !important;
    cursor: pointer;
  }
  
  .disable-image .image,
  .disable-seed .seed,
  .disable-name .name,
  .disable-score .score {
    display: none !important;

  }
  .disable-borders {
    border-width: 0px !important;
  }
  .disable-borders .team {
    border-width: 0px !important;
  }
  .disable-seperator .match-top {
    border-bottom: 0px !important;
  }
  .disable-seperator .match-bottom {
    border-top: 0px !important;
  }
  .disable-seperator .team:first-child {
    margin-bottom: 0px;
  }
  
  
  
  
.bracket-area {
    justify-content: center !important;
  }
  

.tournament-create {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tournament-create-text {
  text-align: center;
  margin-top: 2em;
  color: white;
}

.tournament-custom-text {
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
}

.card-body-tournament {
  background-color: #00000054;
}

.tournamentInfos {
  justify-content: center;
  width: 700px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  margin-top: 1em;
}

.localGameText {
  color: greenyellow;
  font-size: 36px;
  margin: 0 0 20px;
}

.tournamentGame-Text {
  color: greenyellow;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  width: 70%;
  border-radius: 5px;
  font-size: 13px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select {
  width: 462px !important;
}

.btn {
  margin-top: 2em;
  width: 300px;
}